﻿.get-started {
    width: 300px;
    height: 60px;
    border-radius: 50px;
    /* display: inline-block; */
    font-size: 20px;
    align-self: center;
    font-weight: lighter;
    padding: 0.25rem;
    padding-top: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.541);
    transition-property: all;
    transition-duration: 500ms;
}

.get-started-hover {
    width: 320px;
    height: 70px;
    padding-top: 20px;
}

.get-started:hover {
    cursor: pointer;
}

.btn-new-1, .client-login-btn {
    background-color: rgb(9,52,94);
    color: #fff;
}

.btn-new-1 {
    grid-column: 2;
    grid-row: 1;
}
