﻿@using Umbraco.Web.Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    IPublishedContent associationsNode = null;
    IEnumerable<IPublishedContent> associations = null;

    associationsNode = Umbraco.TypedContentAtRoot().SelectMany(x => x.DescendantsOrSelf().Where(c => c.DocumentTypeAlias == "associations")).FirstOrDefault();

    if (associationsNode != null)
    {
        associations = associationsNode.Children();
    }
}

@foreach (IPublishedContent association in associations)
    {
        var associationLogo = Umbraco.TypedMedia(association.GetPropertyValue("associationLogo").ToString());
        string logoUrl = String.Empty;

        if (associationLogo != null)
        {
            logoUrl = associationLogo.Url;
        }

        var associationsProp = association.GetProperty("associationLink").DataValue;
        var jsonText = (Newtonsoft.Json.Linq.JArray)Newtonsoft.Json.JsonConvert.DeserializeObject(associationsProp.ToString());
        var target = jsonText[0]["target"];
        var associationLink = jsonText[0]["url"];
        var associationLinkAltText = association.GetPropertyValue("associationLinkAltText");

    <a href="@associationLink" target="@target" class="logos-in-navbar">
        <img src="@logoUrl" alt="@associationLinkAltText">
    </a>
}
