﻿@using Umbraco_Redesign.Models
@model List<Umbraco_Redesign.Models.Box>

@using ClientDependency.Core.Mvc;

@{

    Html.RequiresJs("~/Scripts/boxLayout.js");

    var boxes = Model;


    foreach (var box in boxes)
    {
        <div class="col-lg-4 col-md-12 col-sm-12 centerText boxContainer">

            <div style="border-color: @box.ThemeColor" class="col-lg-12 col-xs-12 pull-left roundedBox">
                <div class="col-lg-12">
                    <div class="col-lg-12">
                        @{
                            if (box.ImageUrl != null)
                            {
                                <img src="@box.ImageUrl" />
                            }
                        }
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="col-lg-12">
                        <h2 style="border-bottom: 1px solid @box.ThemeColor; color:@box.ThemeColor">@box.Title</h2>
                    </div>
                </div>
                <div style="min-height: 40px; height:auto; padding: 0;" class="col-lg-12">
                    <p>@box.DescriptionText</p>
                </div>
                <div class="col-lg-12 alignTextLeft featureList">
                    @Html.Raw(box.Features)

                </div>
            </div>

            @if (box.SummaryText != String.Empty)
            {
                <div style="height: 40px" class="col-lg-12">
                    <p>@box.SummaryText</p>
                </div>
            }

            @{
                var isPrivate = "false";

                if (isPrivate == "true")
                {

                }
                else
                {
                    <div class="col-lg-12 buttonContainer">

                    </div>

                    <a href="/request-a-quote/" data-toggle="tooltip" title="Request a quote" data-enquiry-type="@box.EnquiryTypeButton" style="background-image: linear-gradient(#444444, @box.ThemeColor )" class="btn btn-default pricingButton"><p>@Html.Raw(box.buttonText)</p></a>
                }

                <div class="col-lg-12 optionList">
                    <ul id="boxOptionIcons">
                        @foreach (var icon in box.optionIcons)
                        {
                            <li class="icon">
                                @if (icon.image != String.Empty)
                                {
                                    <div class="imgContainer">
                                        <img id="@icon.title" data-id="@icon.Id" data-box-number="@box.BoxOrderId" class="optionIcon" src="@icon.image" />
                                    </div>
                                }
                            </li>
                        }
                    </ul>
                </div>
            }


        </div>

    }


}

