﻿@model List<Umbraco_Redesign.Models.BulletList>
@using Umbraco_Redesign.Models
@using ClientDependency.Core.Mvc;
@using System.Text.RegularExpressions;

<style>
    .modalWhite{
        background-color: #fff;
        color: #000;
    }

    

    .iconTitle{
        color: rgb(9,52,94);
    }

    .iconList p{
        text-align:left !important;
    }

    .iconList a{
        text-align: left !important;
    }



    .iconList i{
        display: block;
        font-size: 4em;
        color: rgb(9,52,94);
    }

    .list-title{
        color: #09345E;
        font-size: 1.2em;
    }
    .bulletList li{
        font-size: 1rem;
    }

</style>

    <div class="row">
        @{
            var prevBulletListContentLength = 0;
            var introText = String.Empty;

            Html.RequiresJs("~/Scripts/bulletList.js");
        }

        @foreach (var bullet in Model)
        {
            var bulletListContent = bullet.ListItemDescription;
            var bulletListTotalCharacters = bullet.ListItemDescription.Count();
            var numberOfWords = bullet.ListItemDescription.Split(' ');
            var totalCharacters = 0;
            var wordLimit = 60;


            if (bulletListContent.Count() > 60)
            {
                if (numberOfWords.Count() < 60)
                {
                    wordLimit = numberOfWords.Count();
                }

                // For each word in array get to characters and add them together
                for (var word = 0; word < wordLimit; word++)
                {
                    var charactersInWord = numberOfWords[word].Length;
                    totalCharacters += charactersInWord;
                }

                var lastFullStop = bulletListContent.Substring(0, totalCharacters).LastIndexOf(".");

                var regex = new Regex(@"[<][/][p][>]");
                var lastParagraph = regex.Matches(bulletListContent);

                if(lastParagraph.Count > 0)
                {

                    introText = bulletListContent.Substring(0, lastParagraph[0].Index + 4) + "<a href='/' data-item='"+ bullet.Id + "' class='findOutMore clickable'>Find Out More...</a>";
                }

                if (lastFullStop != -1)
                {
                    //introText = bulletListContent.Substring(0, lastFullStop + 1) + "</p> <a href='"+ bullet.Contenturl+ "' data-item='"+ bullet.Id + "' class='findOutMore'>Find Out More...</a>";

                }
                //var lastFullStop = lastSentance.Substring(0, lastSentance.LastIndexOf("."));
                @*<h1>@bulletListContent[60]</h1>
                <h2> @Html.Raw(lastFullStop)</h2>*@
            }
            else
            {
                introText = bulletListContent;
            }

            <div style="padding-bottom: 20px; text-align: center; color: #000;" class="col-lg-6 iconList">
                <div class="col-lg-2 col-xs-2 float-left">
                    <i class="@bullet.IconName"></i>
                </div>
                <div class="col-lg-10 col-xs-10 float-left iconTitle">

                    <strong class="list-title">@bullet.Title</strong> @Html.Raw(introText)
                </div>
            </div>



            @*<div class="col-lg-6">
                <div class="col-lg-2 float-left">
                    <i class="@bullet.IconName"></i>
                </div>
                <div class="col-lg-10 float-left text-left">
                    <strong>@bullet.Title  </strong>

                    @Html.Raw(bullet.ListItemDescription)
                </div>
            </div>*@
        }
    </div>