﻿@using Umbraco_Redesign.Models
@model Umbraco_Redesign.Models.CarouselModel

<script>
    $(function () {
        var carousel = $(".carousel");
        var carouselItems;

        if ($(carousel).hasClass("full-width")) {
            carouselItems = $(".carousel").find(".full-width");
            
            $(carousel).carousel({
            interval: 2000
            });
  
        } else {
            carouselItems = $(carousel).find(".carousel-item");
            console.log("carousel-items");
            console.log(carouselItems);
            $(carouselItems[0]).addClass("active");
        }

        $(carouselItems[0]).addClass("active");
    });
</script>
@{
    var CssClass = "";
    var c = 1;

    CarouselModel carousel = Model;
    var sectionWithSlides = Model.slides;
    var slideLogo = String.Empty;
    object slideText = null;
    bool fullTextWidth = carousel.FullWidth;
    if (sectionWithSlides.Count > 0)
    {
        foreach (var slide in sectionWithSlides)
        {
            slideLogo = slide.slideLogoUrl;
            slideText = slide.slideContent;
        }
        if (fullTextWidth == false)
        {
            <div class="container-testimonials carouselWithIndictators">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
                    <ol class="carousel-indicators">
                        @{
                            var sectionWithCarouselCount = sectionWithSlides.Count;

                            for (int i = 0; i < sectionWithCarouselCount; i++)
                            {
                                <li data-target="#carouselExampleIndicators" data-slide-to="@i" class=""></li>
                            }
                        }
                    </ol>
                    <div class="card-container carousel-inner">
                        @{

                            if (sectionWithSlides.Count > 0)
                            {
                                foreach (var slide in sectionWithSlides)
                                {
                                    slideLogo = slide.slideLogoUrl;
                                    slideText = slide.slideContent;


                                    <div class="carousel-item">
                                        <div class="card-flex-box">
                                            <div style="position:relative;" class="card testimonial">
                                                <div class="card-body">
                                                    <h5 class="card-title"><img src="@slideLogo" alt="" /></h5>
                                                    <div class="text-wrapper">
                                                        <p><q class="quotes">@slideText</q></p>
                                                    </div>
                                                </div>
                                                <a href="#carouselExampleIndicators" class="carousel-control-prev" data-slide="prev">
                                                    <div class="arrow-wrapper arrow-wrapper-left">
                                                        <span class="carousel-control-prev-icon" aria-hidden="true">
                                                        <i class="fa fa-chevron-left" aria-hidden="true"></i></span> 
                                                        <span class="sr-only">Previous</span>
                                                    </div>
                                                </a>
                                                <a href="#carouselExampleIndicators" class="carousel-control-next" data-slide="next">
                                                    <div class="arrow-wrapper arrow-wrapper-right">
                                                        <span class="carousel-control-next-icon" aria-hidden="true"> 
                                                        <i class="fa fa-chevron-right" aria-hidden="true"></i></span> 
                                                        <span class="sr-only">Next</span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }

                        }
                        
                    </div>
                    
                </div>
            </div>
        }
        else if (fullTextWidth == true)
        {
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <p>In 1991, Paul Grafton, a certified Management Consultant who has always been passionate about customer service, discovered that he was able to provide his Clients with insight that would help improve their customer experience just as well using mystery shoppers, as if he assessed the experience himself. As long as he instructed the mystery shoppers to take the approach he would take, and answer questions designed to obtain the right feedback, mystery shopping was a way to increase the number of assessments he could take on and so Mystery Shoppers Ltd (MSL) was born.</p>
                        <p> </p>
                        <p>Paul moved the business from Berkshire to North Devon in 1998 and ran the company from a mobile home turned office. As Paul recruited a team, one mobile home grew to two, and two homes grew to three, and after the fourth one arrived it was decided the next move would be to an office in Holsworthy. In the 15 years that we have been here, we have grown from an office that would seat 16 to 70. Our global database of mystery shoppers is 260k and now Sophie Grafton, Paul's daughter, is the Managing Director. In addition to the administration office in Holsworthy, MSL has offices in London and Bulgaria as well as franchises in Myanmar, Botswana and Kenya.</p>
                        <p> </p>
                        <p>MSL now has over 28 years’ experience in mystery shopping and customer experience research covering the complete range of mystery shopping enquiries; calls; visits; emails; customer satisfaction; web enquiries; pricing evaluations; video and audio visits; focus groups and website evaluations. MSL specialises in using Mystery Shopping programmes to meet a variety of business objectives including customer experience improvement, competitor monitoring, price auditing and regulatory compliance.</p>
                        <p> </p>
                    </div>
                    <div class="col-sm-4" style="display: block;">
                        <div id="carouselExampleIndicators" class="carousel slide full-width autoCarousel" data-ride="carousel">
                            <div class="carousel-inner">
                                @foreach (var slide in sectionWithSlides)
                                {
                                    <div class="carousel-item full-width">
                                        <img class="d-block w-100 active" src="@slide.slideLogoUrl" alt="First slide">
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="container-fluid">
                        <div class="col-md-12">
                            <p style="padding: 0;" class="quotes"><strong>Our mission is to be the first-choice provider of mystery customer experience research services in the UK. We aim to achieve this by using innovative research techniques and industry leading technology to deliver high quality, interpretable and actionable results at competitive prices.</strong></p>
                        </div>
                    </div>
                </div>
            </div>

        }

    }
}
