﻿@model Umbraco_Redesign.Models.ContactFormModel
@using System.Net.Mail;
@using umbraco.cms.businesslogic.datatype;
@using Umbraco_Redesign.Controllers;

<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<script>

    //$(document).ready(function () {

    //});
    function recaptchaCallBack() {
        var gresponse = grecaptcha.getResponse();

        if (gresponse) {
            $("#formSubmit").removeAttr("disabled");
        }
    };
</script>

@*@{
        Html.EnableClientValidation();
        Html.EnableUnobtrusiveJavaScript();
    }*@

@if (Convert.ToBoolean(TempData["Success"]))
{
    <script>

    </script>

    <h1>Thank You For Your @TempData["selected"] Enquiry</h1>
    <p>We will get back to you shortly</p>
    TempData.Clear();
}
else
{
    @*using (Html.BeginUmbracoForm("HandleFormSubmit", "ContactFormSurface"))*@
    @*<div id="formOuter">*@
    using (Ajax.BeginForm("HandleFormSubmit", "ContactForm", null, new AjaxOptions()
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "formOuter"
    }))
    {
        @Html.AntiForgeryToken()
   
        <div class="row">
            <div class="col-xs-4 col-md-4 float-left container contact-container" style="margin-top:40px;">
                <div class="row">
                    <div class="col-xs-4">
                        <div id="formOuter">
                            <div class="form-group">
                                <div class="col-lg-3">
                                    <label style="text-align:left;" for="dropdownEnquiry">Enquiry Type:</label>
                                </div>
                                <div class="col-lg-9">
                                    @if (ViewData["Type"] != null)
                                    {
                                        @Html.DropDownListFor(x => x.selectedItem, ViewData["Type"] as IEnumerable<SelectListItem>, new { @id = "dl_Enquiry", @class = "form-control", @style = "background :#e6f2ff;" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(m => m.EnquiryType, "", new { @class = "form-control", placeholder = "e.g. request a bespoke report", @style = "background :#e6f2ff;" })
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-lg-3">
                            <label style="text-align:left;margin-right:40px;" for="inputName">Name: </label>
                        </div>
                        <div class="col-lg-9">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "name", @style = "background :#e6f2ff;" })
                            @Html.ValidationMessageFor(m => m.Name)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-lg-3">
                            <label style="text-align:left; margin-right:40px;" for="inputEmail">Email: </label>
                        </div>
                        <div class="col-lg-9">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "example@youremail.com", @style = "background :#e6f2ff;" })
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-lg-3">
                            <label style="text-align:left; margin-right:40px;" for="inputCompany">Company: </label>
                        </div>
                        <div class="col-lg-9">
                            @Html.TextBoxFor(m => m.Company, new { @class = "form-control", placeholder = "Example Industries", @style = "background :#e6f2ff;" })
                            @Html.ValidationMessageFor(m => m.Company)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-lg-3">
                            <label style="text-align:left; margin-right:40px;" for="inputMessage">Message: </label>
                        </div>
                        <div class="col-lg-9">
                            @Html.TextAreaFor(m => m.Message, new { @class = "form-control", @style = "background :#e6f2ff;" })
                            @Html.ValidationMessageFor(m => m.Message)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-lg-3">
                        </div>
                        <div class="col-xs-6">
                            <div class="g-recaptcha" data-callback="recaptchaCallBack" data-sitekey="6LdYjzsUAAAAADB5-rHzFb8WoBAX4Yv7zlvfnfKv"style="transform:scale(1.2);-webkit-transform:scale(1.2);transform-origin:-30% 0;-webkit-transform-origin:-30% 0;"></div><br/>
                            <h3 style="color: red; margin-top: 0; margin-left: 40px;">@TempData["invalid"]</h3>
                            <div class="submit col-xs-offset-6 float-left" style="margin-left:70px">
                                <button id="formSubmit" type="submit" class="btn btn-primary" style="width: 200px;height:50px; margin-left: -50px" disabled="disabled">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-8 col-md-8 container">
                @Html.Action("Index", "OfficesForContact", new { nodeId = "1659" })
            </div>
        </div>
    
    }
}
