﻿@model List<Umbraco_Redesign.Models.QandAModel>

@using ClientDependency.Core.Mvc;

@{
    Html.RequiresJs("~/Scripts/flip-cards.js");
    //Html.RequiresJs("~/Scripts/MobileCards.js");

    var questionAndAnswers = Model;
    var questionImageSrc = String.Empty;
    var bubbleId = String.Empty;
    var cardId = "card";

}

    <div class="container-with-cards cards ">
        <div class="card-deck flip-card-deck">

            @foreach (var questionAndAnswer in questionAndAnswers)
            {
                var questionLinks = questionAndAnswer.answerOptions;
                var questionImage = questionAndAnswer.questionImageUrl;
                if (questionImage != null)
                {

                    questionImageSrc = "/imageGen.ashx?image=" + questionImage + "&amp;height=200&amp;constrain=true";
                    //questionImageSrcLow = questionImageLowRes;

                }

                //if(questionAndAnswer.answerText.Length > 200)
                //{
                var firstParagraph = questionAndAnswer.answerText.IndexOf(".");
                var introText = questionAndAnswer.answerText.Substring(0, 100);

                //}


                <div class="col-xs-6 col-md-6 col-lg-6 col-xl-4 flip-card-container">
                    <div flip-card-id="@questionAndAnswer.questionAndAnswerId" class="card flip-card">
                        <div class="flip-card-front">
                            <div class="blue-overlayQandA">

                            </div>
                            <h2 class="flip-card-title">@questionAndAnswer.questionText</h2>

                            <div class="card-front-image-container" style="background-image: url('@questionImageSrc')">
                            </div>
                        </div>
                        <div class="flip-card-back">
                            <div class="flip-card-back-text clickable">

                                <p>
                                    @Html.Raw(introText)
                                    @if (questionAndAnswer.answerText.Length > introText.Length)
                                    {
                                        <br />
                                        <a class="clickable hasModal" href="@questionAndAnswer.questionUrl">Read More...</a>
                                    }
                                </p>
                            </div>
                            <ul class='flip-card-links'>
                                @if (questionLinks.Count() > 0)
                                {
                                    var numberOfLinksToDisplay = 2;
                                    if(questionLinks.Count() < numberOfLinksToDisplay)
                                    {
                                        numberOfLinksToDisplay = 1;
                                    }

                                    for (var answerCount = 0; answerCount <= numberOfLinksToDisplay -1; answerCount++)
                                    {
                                        var test = answerCount;
                                        <li>
                                            <a class="card-link clickable" href="@questionAndAnswer.answerOptions[answerCount].contentUrl">@questionAndAnswer.answerOptions[answerCount].contentName</a>
                                        </li>

                                    }
                                }


                            </ul>
                        </div>
                    </div>
                </div>
            }



        </div>
    </div>


        

        @Html.RenderJsHere()

