﻿@model List<Umbraco_Redesign.Models.QandAModel>

@using ClientDependency.Core.Mvc;

@{
    Html.RequiresJs("~/Scripts/flip-cards.js");
    Html.RequiresJs("~/Scripts/MobileCards.js");
}
<div class="container-with-cards cards ">
    <div class="column-wrapper">
        <ul class="cards__list">

            @{
                var questionAndAnswers = Model;
                var questionImageSrc = String.Empty;
                var bubbleId = String.Empty;
                var questionImageSrcLow = String.Empty;

                if (questionAndAnswers.Count() > 0)
                {
                    foreach (var questionAndAnswer in questionAndAnswers)
                    {
                        var questionImage = questionAndAnswer.questionImageUrl;
                        var questionImageLowRes = questionAndAnswer.questionImageLowResUrl;
                        var buttonColor = '#' + questionAndAnswer.buttonColor;
                        if (questionImage != null)
                        {

                            questionImageSrc = questionImage;
                            questionImageSrcLow = questionImageLowRes;

                        }

                        <li>
                            <div class="thecard cards__item">
                                <div class="front">
                                    @*<div class="blue-overlayQandA">

                                    </div>*@
                                    <div data-src="@questionImageSrc" class="card-image" style="background-image: url('@questionImageSrcLow');min-height:300px;background-size:cover;background-position:50%;background-repeat:no-repeat;perspective:600px;padding:0.5rem">

                                    </div>

                                    @*<div class="card-text text-front text-front-visible">
                                            <h6>@questionAndAnswer.questionText</h6>
                                        </div>*@
                                    <h6>@questionAndAnswer.questionText</h6>
                                </div>
                                <div class="back">
                                    @*<div class="card-image" style="background-image: url('@questionImageSrc')">
                                        <div class="blue-overlay"></div>*@
                                    <div class="card-text text-back" style="padding:0.6rem;">
                                        <div data-src="@questionImageSrc" class="small-back-image" style="background-image: url('@questionImageSrcLow')"></div>
                                        <p>
                                            @questionAndAnswer.answerText
                                        </p>
                                        <div class="buttons_wrapper">



                                            @foreach (var answerLink in questionAndAnswer.answerOptions)
                                            {
                                                var target = "_self";
                                                var name = answerLink.contentName;

                                                if (answerLink.contentTarget != null)
                                                {
                                                    target = answerLink.contentTarget;
                                                }

                                                <a href="@answerLink.contentUrl">@name</a>

                                            }

                                        </div>
                                    </div>
                                    @*</div>
                                        </div>*@
                                </div>
                            </div>
                        </li>
                    }
                }
            }

        </ul>
    </div>
</div>

@*<div class="row">
        <div class="col-12">
            <div class="btn-group">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Choose your goal
                </button>
                <div class="dropdown-menu cards-dropdown">
                    @{
                        var questionAndAnswersMobile = Model;
                        var questionImageSrcMobile = String.Empty;
                        var bubbleIdMobile = String.Empty;

                        if (questionAndAnswersMobile.Count() > 0)
                        {
                            foreach (var questionAndAnswerMobile in questionAndAnswersMobile)
                            {


                                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                    <a class="dropdown-item nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">@questionAndAnswerMobile.questionText</a>
                                </div>
                                }
                            }
                        }
                            </div>
            </div>
        </div>
        <div class="col-12">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">...</div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
            </div>
        </div>
    </div>*@
<div class="row">
    <div class="col-12">
        <div class="mobile-cards-wrapper">
            <div class="choose-card-btn d-md-none">Choose your goal <i class="fa fa-angle-down" aria-hidden="true"></i></div>
            <div class="dropdown-questions d-none">
                <ul class="list-group">
                    @{
                        var questionAndAnswersMobile = Model;
                        var questionImageSrcMobile = String.Empty;
                        var questionImageSrcLowMobile = String.Empty;
                        var bubbleIdMobile = String.Empty;
                        int questionId;

                        if (questionAndAnswersMobile.Count() > 0)
                        {
                            foreach (var questionAndAnswerMobile in questionAndAnswersMobile)
                            {
                                var questionImage = questionAndAnswerMobile.questionImageUrl;
                                var questionImageLowRes = questionAndAnswerMobile.questionImageLowResUrl;
                                var buttonColor = '#' + questionAndAnswerMobile.buttonColor;
                                questionId = questionAndAnswerMobile.questionAndAnswerId;
                                if (questionImage != null)
                                {

                                    questionImageSrc = questionImage;
                                    questionImageSrcLow = questionImageLowRes;

                                }

                                <li data-id="@questionId" class="list-group-item mobile-card">@questionAndAnswerMobile.questionText</li>
                                <li id="@questionId" class="mobile-card-content d-none">
                                    <span data-src="@questionImageSrc" class="mobile-card-image" style="background-image: url('@questionImageSrcLow')"></span>
                                    <p>
                                        @questionAndAnswerMobile.answerText
                                    </p>

                                </li>
                            }
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
@*<script type="text/javascript">
    (() => {
        'use strict';
        // Page is loaded
        const objects = document.getElementsByClassName('card-image');
        Array.from(objects).map((item) => {
            // Start loading image
            const img = new Image();
            img.src = item.dataset.src;
            // Once image is loaded replace the src of the HTML element
            img.onload = () => {
                item.classList.remove('card-image');
                item.classList.toggle('card-image-changed');
                return item.nodeName === 'IMG' ?
                    item.src = item.dataset.src :
                    item.style.backgroundImage = `url(${item.dataset.src})`;
            };
        });
    })();
</script>*@

@Html.RenderJsHere()

