﻿@using Umbraco.Web.Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage



<!-- Begin Footer Menu-->

<footer id='footer' class=''>
    <div class="container">
        <div class="row justify-content-center">

            @{
                var footerMenuItems = Umbraco.TypedContent(1115);
                var footerMenuItems2 = Umbraco.TypedContentAtRoot().FirstOrDefault();
                var footerSearch = footerMenuItems2.SearchChildren("Footer Menu");
                IPublishedContent footerMenu = null;

                foreach (var item in footerSearch)
                {
                    if (item.DocumentTypeAlias == "footerMenu")
                    {
                        footerMenu = item;
                        break;
                    }

                }


                if (footerMenu != null)
                {
                    foreach (var item in footerMenu.Children().WhereNotNull())
                    {
            <div class="col-12 col-sm-2">
                @foreach (var childItem in item.Children())
                {
                    var id = childItem.Id;
                    var linkUrl = String.Empty;
                    var sections = childItem.Children();
                    IPublishedContent relatedPage = null;
                    var relatedPageId = "";
                    var relatedPageUrlName = "";
                    //var link = Umbraco.Content(id).mainLink;
                    

                    if (childItem.DocumentTypeAlias == "footerMenuLinks" && childItem.GetProperty("file").HasValue)
                    {
                        linkUrl = Umbraco.Content(id).file;
                        var displayType = "_blank";


                        <h6><a class="" href="@linkUrl" target="@displayType">@childItem.Name</a></h6>

                    }
                    else if (childItem.DocumentTypeAlias == "footerMenuLinks")
                    {
                        
                        //var link = Umbraco.Content(id).mainLink;
                        var displayType = "";


                        if (childItem.GetProperty("mainLink").HasValue)
                        {
                            linkUrl = Umbraco.Content(id).mainLink.Url;

                        }

                        if (childItem.GetProperty("relatedPage").HasValue)
                        {
                            relatedPage = Umbraco.Content(id).relatedPage[0];
                            relatedPageId = relatedPage.Id.ToString();
                            relatedPageUrlName = relatedPage.UrlName;
                        }


                        <h6><a class="nav-item nav-link" href="@linkUrl" data-id="@relatedPageId" data-href="@relatedPageUrlName" target="@displayType">@childItem.Name</a></h6>
                    }
                    else 
                    {
                        <h6>@childItem.Name</h6>
                    }

                    if (sections.Count() > 0)
                    {
                        <ul>
                            @foreach (var linkitem in childItem.Children())
                            {
                                var linkId = linkitem.Id;
                                var dropdownItemLink = String.Empty;
                                var relatedSectionId = String.Empty;
                                var relatedSectionUrlName = String.Empty;

                                if (linkitem.GetProperty("linkToFile").HasValue)
                                {

                                    var link = Umbraco.Content(linkId).linkToFile;
                                    var displayType = "_blank";

                                    //linkHash = "#section" + linkitem.Id.ToString();

                                    <li>
                                        <a class="" href="@link" target="@displayType" data-href="">
                                            @linkitem.Name
                                        </a>
                                    </li>
                                }
                                else if (linkitem.GetProperty("linkToContent").HasValue)
                                {

                                    var displayType = "";
                                    dropdownItemLink = Umbraco.Content(linkId).linkToContent.Url;
                                    
                                    if (linkitem.GetProperty("relatedSection").HasValue)
                                    {
                                        relatedSectionId = Umbraco.Content(linkId).relatedSection[0].Id.ToString();
                                        relatedSectionUrlName = Umbraco.Content(linkId).relatedSection[0].UrlName;
                                    }

                                    <li>
                                        <a class="nav-item nav-link" href="@dropdownItemLink" target="@displayType" data-id="@relatedSectionId" data-href="@relatedSectionUrlName">
                                            @linkitem.Name
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a class="" href=""  data-href="">
                                            @linkitem.Name
                                        </a>
                                    </li>
                                }




                            }
                        </ul>
                    }
                }
            </div>

                    }

                }
            }
        </div>








        @* <div class="row justify-content-center">
                <div class="col-12 col-sm-4">
                    <h6><a class=" " href="">Products and Services</a></h6>
                    <h6><a class=" " href="">Why Mystery Shoppers Ltd?</a></h6>
                   <ul>
                        <li>
                            <a class=" " href="#section2">
                                Improve Your Customers Experience
                            </a>
                        </li>
                        <li>
                            <a class="" href="#section3">
                                How Mystery Shopping Works
                            </a>
                        </li>
                        <li>
                            <a class="" href="#section4">
                                Testimonials
                            </a>
                        </li>
                        <li>
                            <a class="" href="#section5">
                                Solutions
                            </a>
                        </li>
                        <li>
                            <a class="" href="#section7">
                                Reporting Insights
                            </a>
                        </li>

                    </ul>
            </div>

                <div class="col-12 col-sm-4">
                    <h6><a class=" " href="">Request a Quote</a></h6>
                    <h6><a class=" " href="">About Us</a></h6>
                    @*<ul>
                        <li>
                            <a class=" " href="#section2">
                                Vacancies
                            </a>
                        </li>
                        <li>
                            <a class="" href="#section3">
                                Internships
                            </a>
                        </li>
                        <li>
                            <a class="" href="#section4">
                                Become a Franchise
                            </a>
                        </li>
                        <li>
                            <a class="" href="#section5">
                                Offices
                            </a>
                        </li>
                        <li>
                            <a class="" href="#section6">
                                Sitemap
                            </a>
                        </li>
                        <li>
                            <a class="" href="#section7">
                                Privacy Policy
                            </a>
                        </li>
                        <li>
                            <a class="" href="#section7">
                                Terms and Conditions
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="col-12 col-sm-4">
                    <h6> <a class=" " href="">Become a Shopper</a></h6>
                    <ul>
                        <li>
                            <a class=" " href="#section2">
                                What is Mystery Shopping?
                            </a>
                        </li>
                        <li>
                            <a class="" href="#section3">
                                FAQs
                            </a>
                        </li>
                        <li>
                            <a class="" href="#section4">
                                Your Privacy
                            </a>
                        </li>
                        <li>
                            <a class="" href="#section5">
                                Shopper Contract
                            </a>
                        </li>
                        <li>
                            <a class="" href="#section6">
                                Avoiding Scams
                            </a>
                        </li>
                        <li>
                            <a class="" href="#section7">
                                News
                            </a>
                        </li>
                        <li>
                            <a class="" href="#section7">
                                Terms and Conditions
                            </a>
                        </li>

                    </ul>
                </div>
            </div>*@

        <ul class="social-btn-footer text-center">


            @Html.Partial("socials")


            @*<li>
            <a href="https://www.linkedin.com/company/356984/admin/">
                <i class="fab fa-linkedin"></i>
            </a>
        </li>

        <li>
            <a href="https://www.youtube.com/channel/UCgeAD9gwER3oc8cD1b8egRQ">
                <i class="fab fa-youtube"></i>
            </a>
        </li>*@

        </ul>
        <div class="row">
            <div class="col-12 text-center">
                @{
                    var root = Umbraco.TypedContentAtRoot().FirstOrDefault().Descendants().Where(x => x.DocumentTypeAlias == "siteInformation").FirstOrDefault();
                    var siteYear = Umbraco.Content(root.Id).mSLSiteYear;
                    var siteName = Umbraco.Content(root.Id).mSLSiteName;
                    var sitePhone = Umbraco.Content(root.Id).mSLSitePhone;
                    var siteEmail = Umbraco.Content(root.Id).mSLSiteEmail;

                    <p> &copy; Copyright @siteYear @siteName <a href="tel:@sitePhone">@sitePhone</a>  <a href="mailto:@siteEmail">@siteEmail</a></p>

                }



            </div>
            <div class='col-12 '>
                @Html.Partial("associations")
            </div>
        </div>
    </div>
</footer>

<!-- End Footer Menu-->
