﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ClientDependency.Core.Mvc;

@{ 
    Html.RequiresJs("http://code.jquery.com/jquery-1.11.0.min.js", 1);
    Html.RequiresJs("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js", 2);
    Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js", 3);
    Html.RequiresJs("~/Scripts/waypoints.js", 4);
    Html.RequiresJs("~/Scripts/index.js", 5);
    Html.RequiresJs("~/Scripts/solutions.js", 6);
    Html.RequiresJs("~/Scripts/SectionWithTabs.js", 7);
    Html.RequiresJs("~/Scripts/SectionWithTabs.js", 8);
    Html.RequiresJs("~/Scripts/bulletList.js", 9);
    //Html.RequiresJs("~/Scripts/carousel.js", 10);
    Html.RequiresJs("~/Scripts/boxLayout.js", 10);
    Html.RequiresJs("~/Scripts/flip-cards.js", 11);
}

</div> <!-- End Parent Div -->
@*</div>*@ <!-- End wrapper Div-->
<!-- Footer-->

<div id="Modal" class="modal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">

            </div>
        </div>

    </div>
</div>



@*<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha256-jDnOKIOq2KNsQZTcBTEnsp76FnfMEttF6AV2DF2fFNE=" crossorigin="anonymous"></script>
    <script src="~/Scripts/index.js"></script>
    <script src="~/Scripts/index4.js"></script>
    <script src="~/Scripts/waypoints.js"></script>
    <script src="~/Scripts/test.js"></script>*@



</body>
</html>