﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web.Models;
@using ClientDependency.Core.Mvc;

@{

    var root = Umbraco.TypedContentAtRoot().FirstOrDefault().Descendants().Where(x => x.DocumentTypeAlias == "siteInformation").FirstOrDefault();

    var siteLogo = root != null? Umbraco.TypedMedia(root.GetPropertyValue("mSLSiteLogo").ToString()): null;
    var siteLogoUrl = siteLogo != null ? siteLogo.Url : String.Empty;

    Html.RequiresCss("~/css/header-styles.css");

}



<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="#" class="navbar-brand"><img class="logo" src="@siteLogoUrl" /></a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#collapsedMenu"><span class="navbar-toggler-icon"></span></button>
    <div id="collapsedMenu" class="collapse navbar-collapse menuContainer">
        <div class="d-flex flex-column flex-lg-row flex-lg-wrap flex-xl-wrap align-items-center justify-content-lg-around justify-content-xl-end flexContainer">

            <div class="order-1 order-lg-4 order-xl-4 navContainer">

                <ul class="d-lg-flex d-xl-flex navbar-nav mr-xl-0align-self-lg-start align-self-xl-start justify-content-xl-end">
                    <li class="nav-item"><a class="nav-link" href="#">Customer Experience Specialists</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Products and Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Request a Quote</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Become a Shopper</a></li>
                </ul>
            </div>
            

            <div class="order-0 order-lg-0 mr-xl-3">
                <form class="form my-2 my-lg-0">
                    <input class="form-control topSearch mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                </form>
            </div>
            <div class="order-2 order-lg-2">
                <div class="d-flex flex-column flex-lg-row flex-xl-row align-items-center topButttons">
                    @*<div class="topButtons">*@
                    <a href="#" class="btn btn-primary loginButton clientLogin mr-2 mt-4 mt-lg-0 mt-xl-0 mb-sm-2 mb-lg-0 mb-xl-0 mb-2">Client Login</a>
                    <a href="#" class="btn btn-primary loginButton shopperLogin">Shopper Login</a>
                    @*</div>*@


                </div>

            </div>

            <div class="order-3 order-lg-1">
                <div class="d-flex align-items-center">
                    <div>
                        <ul class="d-flex flex-row flex-lg-row mt-2 justify-content-around socialIcons">
                            @Html.Partial("socials")
                        </ul>
                    </div>

                </div>
            </div>


        </div>



    </div>
        @*<div class="d-flex flex-column align-items-end">
        <span class="closebtn"></span>
        <div class="order-1">
            <ul class="navbar-nav order-xs-1 mr-3">
                <li class="nav-item"><a class="nav-link" href="#">Link 1</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Products</a></li>
            </ul>
        </div>

        <div class="order-0">
            <form class="form my-2 my-lg-0 order-xs-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            </form>
        </div>

        <div class="topButtons">

            <a href="#" class="btn btn-primary loginButton clientLogin mr-0 mb-2">Client Login</a>
            <a href="#" class="btn btn-primary loginButton shopperLogin">Shopper Login</a>


        </div>*@





        @*<div class="order-3">First flex item</div>
        <div class="order-2">Second flex item</div>
        <div class="order-1">Third flex item</div>*@

        @*<div class="order-1">
            <ul class="navbar-nav order-xs-1">
                <li class="nav-item"><a class="nav-link" href="#">Link 1</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Products</a></li>
            </ul>
        </div>

        <div class="order-0">
            <form class="form my-2 my-lg-0 order-xs-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>*@




        @*</div>*@

        @*<div class="d-flex flex-row order-3">
            <div class="align-items-start">
                <ul class="socialIcons">
                    @Html.Partial("socials")
                </ul>
            </div>

        </div>*@





</nav>

@*<nav class="navbar navbar-expand-lg navbar-light bg-light">

        <a class="navbar-brand logo"><img src="@siteLogoUrl" style="width:280px;" /></a>
        
        <button class="navbar-toggler menuButton" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="order-xs-1">
                    <ul class="navbar-nav mr-auto order-xs-2">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="order-xs-0">
                    <form class="form-inline my-2 my-lg-0 order-xs-1">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
        
        
    </div>
</nav>*@


@*<ul class="social-buttons-home-page">

        @Html.Partial("socials")

        <li>
            <button class='login-btn client-login-btn' onclick="window.location.href='https://online.mystery-shoppers.co.uk/document.asp?alias=Clients_Area'">Client Login</button>
        </li>
        <li>
            <button class='login-btn shopper-login-btn' onclick="window.location.href='https://online.mystery-shoppers.co.uk/document.asp?alias=MSLogin'">Shopper Login</button>
        </li>
    </ul>*@




@*<nav class="navbar navbar-expand-xl navbar-light fixed-top">
        <a class="navbar-brand" href="@Umbraco.TypedContentAtRoot().First().Url">
            @{

                var root = Umbraco.TypedContentAtRoot().FirstOrDefault().Descendants().Where(x => x.DocumentTypeAlias == "siteInformation").FirstOrDefault();

                var siteLogo = Umbraco.TypedMedia(root.GetPropertyValue("mSLSiteLogo").ToString());

                if (siteLogo != null && root != null)
                {
                    <img src="@siteLogo.Url" alt="Mystery Shoppers Ltd Logo" class="logo">
                }

            }
        </a>

        <button type="button" class="navbar-toggler" onclick="openNav()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav d-none d-xl-flex">


                @{
                    var headerMenuItems = Umbraco.TypedContent(1238);
                    var headerMenuItems2 = Umbraco.TypedContentAtRoot().FirstOrDefault();
                    var headerSearch = headerMenuItems2.SearchChildren("Header Menu");
                    IPublishedContent headerMenu = null;
                    var borderColor = String.Empty;
                    var dropdownId = String.Empty;
                    var count = 0;


                    foreach (var item in headerSearch)
                    {
                        if (item.DocumentTypeAlias == "headerMenu")
                        {
                            headerMenu = item;
                            break;
                        }

                    }


                    if (headerMenu != null)
                    {
                        foreach (var item in headerMenu.Children().WhereNotNull())
                        {

                            var linkUrl = String.Empty;
                            var id = item.Id;
                            var sections = item.Children();
                            IPublishedContent relatedPage = null;
                            var relatedPageId = "";
                            var relatedPageUrlName = "";
                            var className = "dd_improve";

                            if (item.GetProperty("borderColor").HasValue)
                            {
                                borderColor = item.GetPropertyValue("borderColor").ToString();
                                if (borderColor == "yellow-border")
                                {
                                    className = "dd_become-a-shopper";
                                }
                            }
                            if (item.GetProperty("mainLink").HasValue)
                            {
                                linkUrl = Umbraco.Content(id).mainLink.Url;

                            }
                            if (item.GetProperty("relatedPage").HasValue)
                            {
                                relatedPage = Umbraco.Content(id).relatedPage[0];
                                relatedPageId = relatedPage.Id.ToString();
                                relatedPageUrlName = relatedPage.UrlName;
                            }

                            if (sections.Count() > 0)
                            {

                                count++;
                                dropdownId = "navbarDropdownMenuLink" + count;


                <div class="nav-item dropdown @className @borderColor ">
                    <a class="nav-link dropdown-toggle @borderColor mt-1" href="@linkUrl" id="@dropdownId" role="button" aria-haspopup="true" aria-expanded="false" data-id="@relatedPageId" data-href="@relatedPageUrlName">
                        @item.Name
                    </a>

                    <div class="dropdown-menu @borderColor" aria-labelledby="@dropdownId" style="right:0">

                        @{
                            foreach (IPublishedContent dropdownSection in sections)
                            {
                                var sectionId = dropdownSection.Id;
                                var dropdownItemLink = String.Empty;
                                var relatedSectionId = String.Empty;
                                var relatedSectionUrlName = String.Empty;
                                var linkName = String.Empty;


                                if (dropdownSection.GetProperty("dropdownItem") != null)
                                {
                                    if(dropdownSection.GetProperty("dropdownItem").HasValue)
                                    {

                                        if(Umbraco.Content(sectionId).dropdownItem[0] != null)
                                        {
                                            var test = dropdownSection.GetProperty("dropdownItem").DataValue;
                                            var json = (Newtonsoft.Json.Linq.JArray)Newtonsoft.Json.JsonConvert.DeserializeObject(test.ToString());


                                            if(json[0] != null && json[0]["udi"] != null)
                                            {
                                                string prop = json[0]["udi"].ToString();
                                                linkName = Umbraco.TypedContent(prop).GetPropertyValue<string>("tabHeader");

                                                IPublishedProperty dropdownItem = dropdownSection.GetProperty("dropdownItem");
                                                var link = "";
                                                //var linkName = "";
                                            }


                                            if(linkName != null)
                                            {
                                                linkName = linkName.ToLower().Replace(" ", "-").Replace("/", "").Replace("#", "").Replace(",", "");
                                                dropdownItemLink = linkName;
                                            }
                                            else
                                            {
                                                dropdownItemLink = Umbraco.Content(sectionId).dropdownItem[0].Url;
                                            }


                                            //if(dropdownItem != null)
                                            //{
                                            //    var tabLink = Umbraco.TypedContent(dropdownItem.Udi);
                                            //}

                                            //dropdownItemLink = Umbraco.Content(sectionId).dropdownItem[0].Url;

                                            //var dropdownLinkNodeId = Umbraco.Content(sectionId).dropdownItem[0];
                                            //var test = Umbraco.TypedContent(dropdownLinkNodeId.Udi);


                                            //dropdownItemLink = Umbraco.TypedContent(dropdownLinkNodeId.Udi).GetPropertyValue<string>("tabHeader");
                                            //dropdownItemLink = dropdownItemLink.ToLower().Replace(" ", "-").Replace(",", "").Replace("/", "").Replace("#", "");
                                            //navName = tab.tabHeader;

                                        }
                                    }


                                }
                                if (dropdownSection.GetProperty("relatedSection").HasValue)
                                {
                                    relatedSectionId = Umbraco.Content(sectionId).relatedSection[0].Id.ToString();
                                    relatedSectionUrlName = Umbraco.Content(sectionId).relatedSection[0].UrlName;
                                }

                                    <a class="dropdown-item " href="@dropdownItemLink" data-id="@relatedSectionId" data-href="@linkName">
                                        @dropdownSection.Name
                                    </a>
                            }
                        }
                    </div>
                </div>

                            }
                            else
                            {
                    <a class="nav-item nav-link @borderColor mt-1" href="@linkUrl" data-id="@relatedPageId" data-href="@relatedPageUrlName">
                        @item.Name
                    </a>
                                    }





                                }
                            }
                            }

                </div>
    </div>
    </nav>





    <div id="mySidenav" class="sidenav d-xl-none">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        @{
            var headerMenuItemsSideBar = Umbraco.TypedContent(1238);
            var headerMenuItemsSideBar2 = Umbraco.TypedContentAtRoot().FirstOrDefault();
            var headerSearchSideBar = headerMenuItemsSideBar2.SearchChildren("Header Menu");
            IPublishedContent headerMenuSideBar = null;
            var borderColorSideBar = String.Empty;
            var dropdownIdSideBar = String.Empty;
            var countSideBar = 0;


            foreach (var item in headerSearch)
            {
                if (item.DocumentTypeAlias == "headerMenu")
                {
                    headerMenuSideBar = item;
                    break;
                }

            }

            if (headerMenuSideBar != null)
            {
                foreach (var item in headerMenuSideBar.Children().WhereNotNull())
                {

                    var linkUrl = String.Empty;
                    var id = item.Id;
                    var sections = item.Children();
                    IPublishedContent relatedPage = null;
                    var relatedPageId = "";
                    var relatedPageUrlName = "";
                    var className = "dd_improve";

                    if (item.GetProperty("borderColor").HasValue)
                    {
                        borderColorSideBar = item.GetPropertyValue("borderColor").ToString();
                        if (borderColorSideBar == "yellow-border")
                        {
                            className = "dd_become-a-shopper";
                        }
                    }
                    if (item.GetProperty("mainLink").HasValue)
                    {
                        linkUrl = Umbraco.Content(id).mainLink.Url;

                    }
                    if (item.GetProperty("relatedPage").HasValue)
                    {
                        relatedPage = Umbraco.Content(id).relatedPage[0];
                        relatedPageId = relatedPage.Id.ToString();
                        relatedPageUrlName = relatedPage.UrlName;
                    }

                    if (sections.Count() > 0)
                    {

                        count++;
                        dropdownId = "navbarDropdownMenuLink" + count;



                        <a class="sidenav-link" href="@linkUrl" id="@dropdownId" data-id="@relatedPageId" data-href="@relatedPageUrlName"> @item.Name</a>


                            foreach (var dropdownSection in sections)
                            {
                                var sectionId = dropdownSection.Id;
                                var dropdownItemLink = String.Empty;
                                var relatedSectionId = String.Empty;
                                var relatedSectionUrlName = String.Empty;


                                if (dropdownSection.GetProperty("dropdownItem").HasValue)
                                {
                                    dropdownItemLink = Umbraco.Content(sectionId).dropdownItem[0].Url;
                                }
                                if (dropdownSection.GetProperty("relatedSection").HasValue)
                                {
                                    relatedSectionId = Umbraco.Content(sectionId).relatedSection[0].Id.ToString();
                                    relatedSectionUrlName = Umbraco.Content(sectionId).relatedSection[0].UrlName;
                                }

                                <a class="sidenav-link sub-link " href="@dropdownItemLink" data-id="@relatedSectionId" data-href="@relatedSectionUrlName">
                                    @dropdownSection.Name
                                </a>
                            }

                                        }
                                    }
                                }
                            }

                    </div>*@
