﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ClientDependency.Core.Mvc;

@{ 
    Html.RequiresCss("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", 1);
    Html.RequiresCss("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", 2);
    //Html.RequiresCss("~/css/index.css", 3);
    //Html.RequiresCss("~/css/new.css", 4);
    Html.RequiresCss("~/css/styles.css");
    //Html.RequiresCss("~/css/boxes.css", 5);
    //Html.RequiresCss("~/css/flip-cards.css", 6);
}


<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <!-- Bing Meta Data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!-- jQuery -->
    <title>

        Mystery Shoppers | Mystery Shoppers Ltd. Specialists in Mystery shopping customer service assessment and customer experience programs MysteryShoppers.co.uk
    </title>

    @*<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@
    @*<link rel="stylesheet" href="~/css/index.css">*@
    @*<link rel="stylesheet" href="~/css/new.css">*@
    @*<link rel="stylesheet" href="~/css/styles.css" />*@
    @*<link rel="stylesheet" href="~/css/boxes.css" />*@
    @*<link rel="stylesheet" href="~/css/flip-cards.css" />*@
    @*<link rel="stylesheet" href="~/css/both.css" />*@
    @*<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>*@



    @Html.RenderCssHere()

</head>

@{
    var root = Umbraco.TypedContentAtRoot().FirstOrDefault().Descendants().Where(x =>x.DocumentTypeAlias =="siteInformation").FirstOrDefault();

    var homeBgImage = root.GetPropertyValue("mSLSiteBackground");
    var homeZoomedBgImage = Model.Content.GetPropertyValue("homePageZoomedBackgroundImage");
    IPublishedContent bgImageUrl = null;
    IPublishedContent bgZoomedImageUrl = null;
    var bgImageSrc = String.Empty;
    var bgZoomedBgImageSrc = String.Empty;
    var zoomBackgroundclass = String.Empty;

    if(Model.Content.DocumentTypeAlias == "homePage")
    {
        zoomBackgroundclass = "kenburns-bottom";
    }

    if (homeBgImage != null)
    {
        bgImageUrl = Umbraco.TypedMedia(homeBgImage.ToString());
        if (bgImageUrl != null)
        {
            var bgImage = Umbraco.TypedMedia(homeBgImage.ToString());
            var extension = bgImage.GetPropertyValue<string>("umbracoExtension");
            var imageUrl = String.Empty;

            imageUrl  = Umbraco.TypedMedia(homeBgImage.ToString()).Url;
            //imageUrl = imageUrl.Replace("."+ extension, "");
            //imageUrl = imageUrl + "_large" + "." + extension;

            bgImageSrc = imageUrl;


        }

    }

    var background = "/imageGen.ashx?image="+bgImageSrc + "&amp;width=2200height=1080&amp;constrain=false";
}

<body>
    @Html.Partial("headerMenu")
    <div class="parent">
        <div class="overlay"></div>

        <div class="child @zoomBackgroundclass" style="background-image:url('@bgImageSrc')">

            <div class="homePageTest"></div>
        </div>



