﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web.Models;

<ul class="social-buttons-home-page">

    @Html.Partial("socials")

    <li>
        <button class='login-btn client-login-btn' onclick="window.location.href='https://online.mystery-shoppers.co.uk/document.asp?alias=Clients_Area'">Client Login</button>
    </li>
    <li>
        <button class='login-btn shopper-login-btn' onclick="window.location.href='https://online.mystery-shoppers.co.uk/document.asp?alias=MSLogin'">Shopper Login</button>
    </li>
</ul>




<nav class="navbar navbar-expand-xl navbar-light fixed-top">
    <a class="navbar-brand" href="@Umbraco.TypedContentAtRoot().First().Url">
        @{

            var root = Umbraco.TypedContentAtRoot().FirstOrDefault().Descendants().Where(x => x.DocumentTypeAlias == "siteInformation").FirstOrDefault();

            var siteLogo = Umbraco.TypedMedia(root.GetPropertyValue("mSLSiteLogo").ToString());

            if (siteLogo != null && root != null)
            {
                <img src="@siteLogo.Url" alt="Mystery Shoppers Ltd Logo" class="logo">
            }

        }
    </a>

    <button type="button" class="navbar-toggler" onclick="openNav()">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav d-none d-xl-flex">


            @{
                var headerMenuItems = Umbraco.TypedContent(1238);
                var headerMenuItems2 = Umbraco.TypedContentAtRoot().FirstOrDefault();
                var headerSearch = headerMenuItems2.SearchChildren("Header Menu");
                IPublishedContent headerMenu = null;
                var borderColor = String.Empty;
                var dropdownId = String.Empty;
                var count = 0;


                foreach (var item in headerSearch)
                {
                    if (item.DocumentTypeAlias == "headerMenu")
                    {
                        headerMenu = item;
                        break;
                    }

                }


                if (headerMenu != null)
                {
                    foreach (var item in headerMenu.Children().WhereNotNull())
                    {

                        var linkUrl = String.Empty;
                        var id = item.Id;
                        var sections = item.Children();
                        IPublishedContent relatedPage = null;
                        var relatedPageId = "";
                        var relatedPageUrlName = "";
                        var className = "dd_improve";

                        if (item.GetProperty("borderColor").HasValue)
                        {
                            borderColor = item.GetPropertyValue("borderColor").ToString();
                            if (borderColor == "yellow-border")
                            {
                                className = "dd_become-a-shopper";
                            }
                        }
                        if (item.GetProperty("mainLink").HasValue)
                        {
                            linkUrl = Umbraco.Content(id).mainLink.Url;

                        }
                        if (item.GetProperty("relatedPage").HasValue)
                        {
                            relatedPage = Umbraco.Content(id).relatedPage[0];
                            relatedPageId = relatedPage.Id.ToString();
                            relatedPageUrlName = relatedPage.UrlName;
                        }

                        if (sections.Count() > 0)
                        {

                            count++;
                            dropdownId = "navbarDropdownMenuLink" + count;


            <div class="nav-item dropdown @className @borderColor ">
                <a class="nav-link dropdown-toggle @borderColor mt-1" href="@linkUrl" id="@dropdownId" role="button" aria-haspopup="true" aria-expanded="false" data-id="@relatedPageId" data-href="@relatedPageUrlName">
                    @item.Name
                </a>

                <div class="dropdown-menu @borderColor" aria-labelledby="@dropdownId" style="right:0"> 

                    @{
                        foreach (IPublishedContent dropdownSection in sections)
                        {
                            var sectionId = dropdownSection.Id;
                            var dropdownItemLink = String.Empty;
                            var relatedSectionId = String.Empty;
                            var relatedSectionUrlName = String.Empty;
                            var linkName = String.Empty;


                            if (dropdownSection.GetProperty("dropdownItem") != null)
                            {
                                if(dropdownSection.GetProperty("dropdownItem").HasValue)
                                {

                                    if(Umbraco.Content(sectionId).dropdownItem[0] != null)
                                    {
                                        var test = dropdownSection.GetProperty("dropdownItem").DataValue;
                                        var json = (Newtonsoft.Json.Linq.JArray)Newtonsoft.Json.JsonConvert.DeserializeObject(test.ToString());


                                        if(json[0] != null && json[0]["udi"] != null)
                                        {
                                            string prop = json[0]["udi"].ToString();
                                            linkName = Umbraco.TypedContent(prop).GetPropertyValue<string>("tabHeader");

                                            IPublishedProperty dropdownItem = dropdownSection.GetProperty("dropdownItem");
                                            var link = "";
                                            //var linkName = "";
                                        }


                                        if(linkName != null)
                                        {
                                            linkName = linkName.ToLower().Replace(" ", "-").Replace("/", "").Replace("#", "").Replace(",", "");
                                            dropdownItemLink = linkName;
                                        }
                                        else
                                        {
                                            dropdownItemLink = Umbraco.Content(sectionId).dropdownItem[0].Url;
                                        }


                                        //if(dropdownItem != null)
                                        //{
                                        //    var tabLink = Umbraco.TypedContent(dropdownItem.Udi);
                                        //}

                                        //dropdownItemLink = Umbraco.Content(sectionId).dropdownItem[0].Url;

                                        //var dropdownLinkNodeId = Umbraco.Content(sectionId).dropdownItem[0];
                                        //var test = Umbraco.TypedContent(dropdownLinkNodeId.Udi);


                                        //dropdownItemLink = Umbraco.TypedContent(dropdownLinkNodeId.Udi).GetPropertyValue<string>("tabHeader");
                                        //dropdownItemLink = dropdownItemLink.ToLower().Replace(" ", "-").Replace(",", "").Replace("/", "").Replace("#", "");
                                        //navName = tab.tabHeader;

                                    }
                                }


                            }
                            if (dropdownSection.GetProperty("relatedSection").HasValue)
                            {
                                relatedSectionId = Umbraco.Content(sectionId).relatedSection[0].Id.ToString();
                                relatedSectionUrlName = Umbraco.Content(sectionId).relatedSection[0].UrlName;
                            }

                                <a class="dropdown-item " href="@dropdownItemLink" data-id="@relatedSectionId" data-href="@linkName">
                                    @dropdownSection.Name
                                </a>
                        }
                    }
                </div>
            </div>

                        }
                        else
                        {
                <a class="nav-item nav-link @borderColor mt-1" href="@linkUrl" data-id="@relatedPageId" data-href="@relatedPageUrlName">
                    @item.Name
                </a>
                                }





                            }
                        }
                        }

            </div>
</div>
</nav>





<div id="mySidenav" class="sidenav d-xl-none">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    @{
        var headerMenuItemsSideBar = Umbraco.TypedContent(1238);
        var headerMenuItemsSideBar2 = Umbraco.TypedContentAtRoot().FirstOrDefault();
        var headerSearchSideBar = headerMenuItemsSideBar2.SearchChildren("Header Menu");
        IPublishedContent headerMenuSideBar = null;
        var borderColorSideBar = String.Empty;
        var dropdownIdSideBar = String.Empty;
        var countSideBar = 0;


        foreach (var item in headerSearch)
        {
            if (item.DocumentTypeAlias == "headerMenu")
            {
                headerMenuSideBar = item;
                break;
            }

        }

        if (headerMenuSideBar != null)
        {
            foreach (var item in headerMenuSideBar.Children().WhereNotNull())
            {

                var linkUrl = String.Empty;
                var id = item.Id;
                var sections = item.Children();
                IPublishedContent relatedPage = null;
                var relatedPageId = "";
                var relatedPageUrlName = "";
                var className = "dd_improve";

                if (item.GetProperty("borderColor").HasValue)
                {
                    borderColorSideBar = item.GetPropertyValue("borderColor").ToString();
                    if (borderColorSideBar == "yellow-border")
                    {
                        className = "dd_become-a-shopper";
                    }
                }
                if (item.GetProperty("mainLink").HasValue)
                {
                    linkUrl = Umbraco.Content(id).mainLink.Url;

                }
                if (item.GetProperty("relatedPage").HasValue)
                {
                    relatedPage = Umbraco.Content(id).relatedPage[0];
                    relatedPageId = relatedPage.Id.ToString();
                    relatedPageUrlName = relatedPage.UrlName;
                }

                if (sections.Count() > 0)
                {

                    count++;
                    dropdownId = "navbarDropdownMenuLink" + count;



                    <a class="sidenav-link" href="@linkUrl" id="@dropdownId" data-id="@relatedPageId" data-href="@relatedPageUrlName"> @item.Name</a>

                    
                        foreach (var dropdownSection in sections)
                        {
                            var sectionId = dropdownSection.Id;
                            var dropdownItemLink = String.Empty;
                            var relatedSectionId = String.Empty;
                            var relatedSectionUrlName = String.Empty;


                            if (dropdownSection.GetProperty("dropdownItem").HasValue)
                            {
                                dropdownItemLink = Umbraco.Content(sectionId).dropdownItem[0].Url;
                            }
                            if (dropdownSection.GetProperty("relatedSection").HasValue)
                            {
                                relatedSectionId = Umbraco.Content(sectionId).relatedSection[0].Id.ToString();
                                relatedSectionUrlName = Umbraco.Content(sectionId).relatedSection[0].UrlName;
                            }

                            <a class="sidenav-link sub-link " href="@dropdownItemLink" data-id="@relatedSectionId" data-href="@relatedSectionUrlName">
                                @dropdownSection.Name
                            </a>
                        }
                    
                                    }
                                }
                            }
                        }

                </div>
                    