﻿@model List<Umbraco_Redesign.Models.IconAndTextModel>
@using Umbraco_Redesign.Models
@using ClientDependency.Core.Mvc;
@{ 
    var IconAndText = Model;
}
<div class="container">
    <div class="row ">

        @{
            var iconpicker = String.Empty;
            var companytext = String.Empty;
            var companytitle = String.Empty;
            if (IconAndText != null)
            {
                foreach (var iconandtext in IconAndText)
                {
                    iconpicker = iconandtext.IconPickerUrl;
                    companytext = iconandtext.CompanyValueTextArea;
                    companytitle = iconandtext.CompanyValueTitle;
                    <div class="col-xl-1 justify-center">
                        <img class="pulse" src="@iconpicker" alt="Innovative" />
                    </div>
                    <div class="col-xl-11 justify-center">
                        <p class="CenterSmlRes"><strong>@companytitle</strong></p>
                        <p class="CenterSmlRes">@companytext</p>
                    </div>
                    <div class="spacer5" style="height: 15px;"></div>
                }
            }
        }
    </div>
</div>




