﻿@using Umbraco.Web.Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@*<div class="overlay"></div>*@
<nav class="navbar navbar-expand-xl navbar-light fixed-top">
    <a class="navbar-brand" href="@Umbraco.TypedContentAtRoot().First().Url">
        @{

            var root = Umbraco.TypedContentAtRoot().FirstOrDefault().Descendants().Where(x =>x.DocumentTypeAlias == "siteInformation").FirstOrDefault();

            var siteLogo = Umbraco.TypedMedia(root.GetPropertyValue("mSLSiteLogo").ToString());

            if (siteLogo != null && root != null)
            {
                <img src="@siteLogo.Url" alt="Mystery Shoppers Ltd Logo" class="logo">
            }


            //var site = Umbraco.TypedContentAtRoot().First();
            IPublishedContent associationsNode = null;
            IEnumerable<IPublishedContent> associations = null;

            //var test = site.Ancestors(1);
            if (root != null)
            {
                //var test = Umbraco.TypedContentAtRoot().SelectMany(x => x.AncestorsOrSelf(-1));


                associationsNode = Umbraco.TypedContentAtRoot().SelectMany(x =>x.DescendantsOrSelf().Where(c =>c.DocumentTypeAlias == "associations")).FirstOrDefault();

                if(associationsNode != null)
                {
                    associations = associationsNode.Children();
                }
                //associations = root.Descendants().Where(x => x.ContentType.Alias.Equals("associations")).FirstOrDefault().Children();
            }


            }
    </a>
    <ul class="logos-home-page">


        @foreach (IPublishedContent association in associations)
            {
                var associationLogo = Umbraco.TypedMedia(association.GetPropertyValue("associationLogo").ToString());
                string logoUrl = String.Empty;

                if(associationLogo != null)
                {
                    logoUrl = associationLogo.Url;
                }

                var associationsProp = association.GetProperty("associationLink").DataValue;
                var jsonText = (Newtonsoft.Json.Linq.JArray)Newtonsoft.Json.JsonConvert.DeserializeObject(associationsProp.ToString());
                var target = jsonText[0]["target"];
                var associationLink = jsonText[0]["url"];


            //if(associationsProp != null)
            //{
            //    foreach(var prop in associationsProp)
            //    {
            //        var target = prop.Target;
            //    }
            //}

            //if(Model.Link)

            //if(associationLogo != null)
            //{
            //    logoUrl = associationLogo.Url;
            //}


            <li>
                <a href="@associationLink" target="@target">
                    <img src="@logoUrl">
                </a>
            </li>
        }




        @*<li>
                <a href="https://www.mspa-ea.org/membership-criteria.html" target="_blank">
                    <img src="web/Logos and Links/MSPA_member_long.png">
                </a>
            </li>
            <li>

                <a href="https://www.mrs.org.uk/standards/code-of-conduct" target="_blank">
                    <img src="web/Logos and Links/MRS_EM_CP_RGB_SMALL.png">
                </a>
            </li>*@
    </ul>

    <button type="button" class="navbar-toggler" onclick="openNav()">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav d-none d-xl-flex">
            <div class="nav-item dropdown dd_improve blue-border">
                <a class="nav-link dropdown-toggle blue-border" href="#section1" id="navbarDropdownMenuLink" role="button" aria-haspopup="true" aria-expanded="false">
                    Customer Experience
                </a>
                <div class="dropdown-menu blue-border" aria-labelledby="navbarDropdownMenuLink" data-href='improve_your_cust_exp.html'>
                    <a class="dropdown-item " href="#section2">
                        Improve Your Customers Experience
                    </a>
                    <a class="dropdown-item " href="#section3">
                        How Mystery Shopping Works
                    </a>
                    <a class="dropdown-item " href="#section4">
                        Testimonials
                    </a>
                    <a class="dropdown-item " href="#section5">
                        Solutions
                    </a>
                    <a class="dropdown-item " href="#section6">
                        Products and Services
                    </a>
                    <a class="dropdown-item " href="#section7">
                        Reporting Insights
                    </a>
                </div>
            </div>
            <a class="nav-item nav-link blue-border" href="requestaquote.html">Request a Quote </a>


            <div class="nav-item dropdown dd_about blue-border">
                <a class="nav-link dropdown-toggle" href="aboutus.1.html" id="navbarDropdownMenuLink1" role="button" aria-haspopup="true" aria-expanded="false">About Us</a>
                <div class="dropdown-menu dropdown-menu-right blue-border" aria-labelledby="navbarDropdownMenuLink1" data-href="aboutus.1.html">

                    <a class="dropdown-item" onclick="goToLink(this)" data-container='2'>
                        Vacancies
                    </a>
                    <a class="dropdown-item" onclick="goToLink(this)" data-container='3'>
                        Internships
                    </a>
                    <a class="dropdown-item" onclick="goToLink(this)" data-container='4'>
                        Become a Franchise
                        <a class="dropdown-item" onclick="goToLink(this)" data-container='5'>
                            Offices
                        </a>
                        <a class="dropdown-item" onclick="goToLink(this)" data-container='6'>
                            Sitemap
                        </a>
                        <a class="dropdown-item" onclick="goToLink(this)" data-container='7'>
                            Privacy Policy
                        </a>
                        <a class="dropdown-item" onclick="goToLink(this)" data-container='8'>
                            Terms and Conditions
                        </a>
                </div>


            </div>
            <a class="nav-item nav-link blue-border" href="contactus.html">Contact Us</a>
            <a class="nav-item nav-link blue-border" href="login.html"> Client Login</a>
            <div class="nav-item dropdown dd_become-a-shopper yellow-border">
                <a class="nav-link dropdown-toggle " href="becomeashopper.html" id="navbarDropdownMenuLink111" role="button" aria-haspopup="true" aria-expanded="false" style="">
                    Become a Shopper
                </a>
                <div class="dropdown-menu yellow-border" aria-labelledby="navbarDropdownMenuLink111" data-href="becomeashoppernext.html">

                    <a class="dropdown-item" onclick="goToLink(this)" data-container='2' data-tabs='1'>
                        What is Mystery Shopping?
                    </a>
                    <a class="dropdown-item" onclick="goToLink(this)" data-container='2' data-tabs='2'>
                        FAQs
                    </a>
                    <a class="dropdown-item" onclick="goToLink(this)" data-container='2' data-tabs='3'>
                        Your Privacy
                    </a>
                    <a class="dropdown-item" onclick="goToLink(this)" data-container='2' data-tabs='4'>
                        Shopper Contract
                    </a>
                    <a class="dropdown-item" onclick="goToLink(this)" data-container='2' data-tabs='5'>
                        Avoiding Scams
                    </a>
                    <a class="dropdown-item" onclick="goToLink(this)" data-container='2' data-tabs='6'>
                        News
                    </a>
                    <a class="dropdown-item" onclick="goToLink(this)" data-container='2' data-tabs='7'>
                        Contact Us
                    </a>
                </div>
            </div>
            <a class="nav-item nav-link yellow-border" href="login.html"> Shopper Login</a>

        </div>
    </div>
</nav>


<div id="mySidenav" class="sidenav d-xl-none">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a class="sidenav-link" href="improve_your_cust_exp.html">  Improve Your Customer Experience</a>
    <a class="sidenav-link" href="aboutus.1.html">About Us</a>
    <a class="sidenav-link" href="becomeashopper.html">Become a Shopper</a>
    <a class="sidenav-link" href="requestaquote.html">Request a Quote </a>
    <a class="sidenav-link" href="contactus.html">Contact Us</a>
    <a class="sidenav-link" href="login.html">Login</a>
</div>

