﻿@model List<Umbraco_Redesign.Models.OfficesModel>
@{ 
    var offices = Model;
}
<div class="col-lg-9 col-lg-offset-1 col-sm-12 col-md-6" style="margin-left:200px">
    @{
        object officeFlag;
        var officeName = String.Empty;
        var officeAddressName = String.Empty;
        var officeAddressLine1 = String.Empty;
        var officeAddressLine2 = String.Empty;
        var officeAddressLine3 = String.Empty;
        var officeAddressLine4 = String.Empty;
        var officeTown = String.Empty;
        var officeCounty = String.Empty;
        var officePostcode = String.Empty;
        var officePhone = String.Empty;
        var officeEmail = String.Empty;
        var extraHeading = String.Empty;
        var extraHeadingContent = String.Empty;
        var mobilePhone = String.Empty;
        var extraPhone = String.Empty;
        var extraEmail = String.Empty;
        var officeWebsite = String.Empty;
        var officeCountryCode = String.Empty;
        var RegisteredAddressLine1 = String.Empty;
        var RegisteredAddressLine2 = String.Empty;
        var RegisteredAddressLine3 = String.Empty;
        var RegisteredTown = String.Empty;
        var RegisteredPostcode = String.Empty;
        var RegisteredPhone = String.Empty;
        var orContactUs = String.Empty;
        var orPressOne = String.Empty;
        var findOutHow = String.Empty;

        int itemCount = 0;
        var hasRegisteredOffice = false;
        var isUk = false;
        var isMainOffice = false;
        if (offices != null)
        {
            foreach (var office in offices)
            {
                officeFlag = office.officeFlag;
                officeName = office.officeName;
                officeAddressName = office.officeAddressName;
                officeAddressLine1 = office.officeAddressLine1;
                officeAddressLine2 = office.officeAddressLine2;
                officeAddressLine3 = office.officeAddressLine3;
                officeAddressLine4 = office.officeAddressLine4;
                officeTown = office.officeTown;
                officeCounty = office.officeCounty;
                officePostcode = office.officePostcode;
                officePhone = office.officePhone;
                officeEmail = office.officeEmail;
                extraHeading = office.extraHeading;
                extraHeadingContent = office.extraHeadingContent;
                mobilePhone = office.mobilePhone;
                extraPhone = office.extraPhone;
                extraEmail = office.extraEmail;
                officeWebsite = office.officeWebsite;
                officeCountryCode = office.officeCountryCode;
                RegisteredAddressLine1 = office.RegisteredAddressLine1;
                RegisteredAddressLine2 = office.RegisteredAddressLine2;
                RegisteredAddressLine3 = office.RegisteredAddressLine3;
                RegisteredTown = office.RegisteredTown;
                RegisteredPostcode = office.RegisteredPostcode;
                RegisteredPhone = office.RegisteredPhone;
                orContactUs = office.orContactUs;
                orPressOne = office.orPressOne;
                findOutHow = office.findOutHow;

                if (office.officeCountryCode.Equals("uk"))
                {
                    isUk = true;
                }
                else
                {
                    isUk = false;
                }
                if (isUk == true)
                {
    <div class="col-6-lg" sstyle="white-space: nowrap !important;"style="margin:20px;">
        <p style="text-align:right;font-size:20px"><strong>@orContactUs</strong></p>
        <p style="text-align:right;margin-top:15px;;font-size:20px">@officeEmail</p>
        <p style="text-align:right;margin-top:15px;;font-size:20px">@officePhone</p>
        <p style="text-align:right;font-size:20px">@orPressOne</p>
        <p style="text-align:right;margin-top:15px;;font-size:20px">@officeAddressName</p>
        <p style="text-align:right;font-size:20px">@officeAddressLine1</p>
        <p style="text-align:right;font-size:20px">@officeAddressLine2</p>
        <p style="text-align:right;font-size:20px">@officeTown</p>
        <p style="text-align:right;font-size:20px">@officePostcode</p>
    </div>
    @*<div class="col-6-lg circle float-right">@findOutHow</div>*@
                }
            }
        }
}

</div>
