﻿@model List<Umbraco_Redesign.Models.OfficesModel>
@*@using Umbraco.Web.Models
    @inherits Umbraco.Web.Mvc.UmbracoTemplatePage*@

@{
    var offices = Model;
    var ukOffice = offices.Where(o => o.officeName.ToLower() == "uk main office").FirstOrDefault();
    var ukRegisterdOffice = offices.Where(o => o.officeName.ToLower() == "registered address").FirstOrDefault();
}

@{
    object officeFlag;
    var officeName = String.Empty;
    var officeAddressName = String.Empty;
    var officeAddressLine1 = String.Empty;
    var officeAddressLine2 = String.Empty;
    var officeAddressLine3 = String.Empty;
    var officeAddressLine4 = String.Empty;
    var officeTown = String.Empty;
    var officeCounty = String.Empty;
    var officePostcode = String.Empty;
    var officePhone = String.Empty;
    var officeEmail = String.Empty;
    var extraHeading = String.Empty;
    var extraHeadingContent = String.Empty;
    var mobilePhone = String.Empty;
    var extraPhone = String.Empty;
    var extraEmail = String.Empty;
    var officeWebsite = String.Empty;
    var officeCountryCode = String.Empty;
    var RegisteredAddressLine1 = String.Empty;
    var RegisteredAddressLine2 = String.Empty;
    var RegisteredAddressLine3 = String.Empty;
    var RegisteredTown = String.Empty;
    var RegisteredPostcode = String.Empty;
    var RegisteredPhone = String.Empty;
    var orContactUs = String.Empty;
    var orPressOne = String.Empty;
    var findOutHow = String.Empty;
    var officeFlagUrl = String.Empty;
    var showInOfficeMenu = String.Empty;
    var shopperSupportTeam = String.Empty;

    int itemCount = 0;
    var hasRegisteredOffice = false;
    var isUk = false;
    var isMainOffice = false;
    <ul class="social-button-offices">
        @Html.Action("GetSocialIcons", "Offices")
    </ul>
    @*<ul class="social-icons-list" style="display: inline; position: absolute; top: 5px; right: 250px;">
            <li style="display: inline; margin-right:15px;"><i class="fa fa-facebook-official fa-5x" aria-hidden="true" style="color:#3a559f"></i></li>
            <li style="display: inline; margin-right:15px;"><i class="fa fa-twitter fa-5x" aria-hidden="true" style="color:#6caddf"></i></li>
            <li style="display: inline; margin-right:15px;"><i class="fa fa-linkedin-square fa-5x" aria-hidden="true" style="color:#0097d3"></i></li>
            <li style="display: inline; margin-right:15px;"><i class="fa fa-instagram fa-5x" aria-hidden="true" style="color:#fff"></i></li>
            <li style="display: inline; margin-right:15px;"><i class="fa fa-youtube fa-5x" aria-hidden="true" style="color:#fff"></i></li>
        </ul>*@
if (offices != null)
{
    if (officeCountryCode.Contains("uk"))
    {

        isUk = true;
    }
    else
    {
        isUk = false;
    }
    <div class="col-xs-12 col-md-12 col-xl-12 col-lg-12  container">
        <div class="row">
            @if (ukOffice != null && ukRegisterdOffice != null)
            {
            <div class="col-xs-12 col-md-8 col-lg-6 col-xl-4 float-left">
                <div class="col-xs-12 col-md-12">
                    @if (ukOffice.officeFlagUrl != String.Empty)
                    {
                        <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12 float-left" style="width:auto!important;">
                            <img src="@ukOffice.officeFlagUrl" alt="officeFlag" style="margin-right:240px;"/>
                        </div>
                    }
                    @if (ukOffice.officeName != String.Empty)
                    {
                        <div class="col-xs-12 col-md-11 col-lg-12 col-xl-12" style=" margin-right:20px; margin-top:20px;">
                            <p style="text-align:left;margin-top:15px;font-size:20px;width:150px;">@ukOffice.officeName</p>
                        </div>
                    }
                    <div class="col-xs-12 col-md-12" style="margin-top:20px;">
                        @if (@ukOffice.officeAddressName != String.Empty)
                        {
                            <p id="ptag1" style="text-align:left; font-size:17px;width:200px;">@ukOffice.officeAddressName</p>
                        }
                        @if (ukOffice.officeAddressLine1 != String.Empty)
                        {
                            <p id="ptag1" style="text-align:left; font-size:17px;width:200px;">@ukOffice.officeAddressLine1</p>
                        }
                        @if (ukOffice.officeAddressLine2 != String.Empty)
                        {
                            <p id="ptag1" style="text-align:left; font-size:17px;width:200px;">@ukOffice.officeAddressLine2</p>
                        }
                        @if (ukOffice.officeAddressLine3 != String.Empty)
                        {
                            <p id="ptag1" style="text-align:left; font-size:17px;width:200px;">@ukOffice.officeAddressLine3</p>
                        }
                        @if (ukOffice.officeTown != String.Empty)
                        {
                            <p id="ptag1" style="text-align:left; font-size:17px;width:200px;">@ukOffice.officeTown</p>
                        }
                        @if (ukOffice.officeCounty != String.Empty)
                        {
                            <p id="ptag1" style="text-align:left; font-size:17px;width:200px;">@ukOffice.officeCounty</p>
                        }
                        @if (ukOffice.officeTown != String.Empty)
                        {
                            <p id="ptag1" style="text-align:left; font-size:17px;width:200px;">@ukOffice.officeTown</p>
                        }
                        @if (ukOffice.officePostcode != String.Empty)
                        {
                            <p id="ptag1" style="text-align:left; font-size:17px;width:200px;">@ukOffice.officePostcode</p>
                        }
                        @if (ukOffice.officePhone != String.Empty)
                        {
                            <p id="ptag1" style="text-align:left;margin-top:20px;font-size:17px;width:200px;">@ukOffice.officePhone</p>
                        }
                        @if (ukOffice.officeEmail != String.Empty)
                        {
                            <p id="ptag1" style="text-align:left;margin-top:20px;font-size:17px;width:200px; white-space:initial;">@ukOffice.officeEmail</p>
                        }
                        @if (ukOffice.shopperSupportTeam != String.Empty)
                        {
                            <p id="ptag1" style="text-align:left;margin-top:20px;font-size:17px;width:200px; white-space:initial;">@ukOffice.shopperSupportTeam</p>
                        }
                        @if (ukOffice.extraPhone != String.Empty)
                        {
                            <p id="ptag1" style="text-align:left;margin-top:20px;font-size:17px;width:200px;">@ukOffice.extraPhone</p>
                        }
                        @if (ukOffice.extraEmail != String.Empty)
                        {
                            <p id="ptag1" style="text-align:left;margin-top:20px;font-size:17px;width:200px;">@ukOffice.extraEmail</p>
                        }
                    </div>
                </div>
                    @if (ukRegisterdOffice.officeName != String.Empty)
                    {
                       <hr style="border-top: dashed 1px;width:220px;margin-left:30px;" />
                        <div class="col-xs-12 col-md-11" style="margin-top:30px;margin-left:20px">
                            <p id="ptag1" style="text-align:left;margin-top:15px;font-size:20px;">@ukRegisterdOffice.officeName</p>
                        </div>
                        <div class="col-xs-12 col-md-12" style="margin-left:20px">
                            @if (ukRegisterdOffice.officeAddressLine1 != String.Empty)
                            {
                                <p class="margin" style="text-align:left;font-size:17px;width:200px;">@ukRegisterdOffice.officeAddressLine1</p>
                            }
                            @if (ukRegisterdOffice.officeAddressLine2 != String.Empty)
                            {
                                <p class="margin" style="text-align:left;font-size:17px;width:200px;">@ukRegisterdOffice.officeAddressLine2</p>
                            }
                            @if (ukRegisterdOffice.officeAddressLine3 != String.Empty)
                            {
                                <p class="margin" style="text-align:left;font-size:17px;width:200px;">@ukRegisterdOffice.officeAddressLine3 </p>
                            }
                            @if (ukRegisterdOffice.officeTown != String.Empty)
                            {
                                <p class="margin" style="text-align:left;font-size:17px;width:200px;">@ukRegisterdOffice.officeTown</p>
                            }
                            @if (ukRegisterdOffice.officeCounty != String.Empty)
                            {
                                <p class="margin" style="text-align:left;font-size:17px;width:200px;">@ukRegisterdOffice.officeCounty</p>
                            }
                            @if (ukRegisterdOffice.officeTown != String.Empty)
                            {
                                <p class="margin" style="text-align:left;font-size:17px;width:200px;">@ukRegisterdOffice.officeTown</p>
                            }
                            @if (ukRegisterdOffice.officePostcode != String.Empty)
                            {
                                <p class="margin" style="text-align:left;font-size:17px;width:200px;">@ukRegisterdOffice.officePostcode</p>
                            }
                            @if (ukRegisterdOffice.officePhone != String.Empty)
                            {
                                <p class="margin" style="text-align:left;margin-top:20px;font-size:17px;width:200px;">@ukRegisterdOffice.officePhone</p>
                            }
                            @if (ukRegisterdOffice.officeEmail != String.Empty)
                            {
                                <p class="margin" style="text-align:left;margin-top:20px;font-size:17px;width:200px; white-space:initial;">@ukRegisterdOffice.officeEmail</p>
                            }
                            @if (ukRegisterdOffice.shopperSupportTeam != String.Empty)
                            {
                                <p class="margin" style="text-align:left;margin-top:20px;font-size:17px;width:200px; white-space:initial;">@ukRegisterdOffice.shopperSupportTeam</p>
                            }
                            @if (ukRegisterdOffice.extraPhone != String.Empty)
                            {
                                <p class="margin" style="text-align:left;margin-top:20px;font-size:17px;width:200px;">@ukRegisterdOffice.extraPhone</p>
                            }
                            @if (ukRegisterdOffice.extraEmail != String.Empty)
                            {
                                <p class="margin" style="text-align:left;margin-top:20px;font-size:17px;width:200px;">@ukRegisterdOffice.extraEmail</p>
                            }
                        </div>
                    }
                </div>
             }
                <div class="col-xs-8 col-md-8 col-lg-8 col-xl-8">
                    <div class="container-fluid">
                        <div class="row">
                            @foreach (var office in offices.Where(o => !o.officeName.ToLower().Contains("uk") && o.officeName.ToLower() != "registered address"))
                            {
                                officeFlag = office.officeFlag;
                                officeFlagUrl = office.officeFlagUrl;
                                officeName = office.officeName;
                                officeAddressName = office.officeAddressName;
                                officeAddressLine1 = office.officeAddressLine1;
                                officeAddressLine2 = office.officeAddressLine2;
                                officeAddressLine3 = office.officeAddressLine3;
                                officeAddressLine4 = office.officeAddressLine4;
                                officeTown = office.officeTown;
                                officeCounty = office.officeCounty;
                                officePostcode = office.officePostcode;
                                officePhone = office.officePhone;
                                officeEmail = office.officeEmail;
                                extraHeading = office.extraHeading;
                                extraHeadingContent = office.extraHeadingContent;
                                mobilePhone = office.mobilePhone;
                                extraPhone = office.extraPhone;
                                extraEmail = office.extraEmail;
                                officeWebsite = office.officeWebsite;
                                officeCountryCode = office.officeCountryCode;
                                RegisteredAddressLine1 = office.RegisteredAddressLine1;
                                RegisteredAddressLine2 = office.RegisteredAddressLine2;
                                RegisteredAddressLine3 = office.RegisteredAddressLine3;
                                RegisteredTown = office.RegisteredTown;
                                RegisteredPostcode = office.RegisteredPostcode;
                                RegisteredPhone = office.RegisteredPhone;
                                orContactUs = office.orContactUs;
                                orPressOne = office.orPressOne;
                                findOutHow = office.findOutHow;
                                showInOfficeMenu = office.showInOfficeMenu;
                                shopperSupportTeam = office.shopperSupportTeam;
                                if (officeName != String.Empty)
                                {
                                    <div class="col-xs-12 col-md-9 col-lg-7 float-lg-left col-xl-6 float-xl-left" style="margin-top:20px;">
                                        @if (officeFlagUrl != String.Empty)
                                        {
                                            <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12 float-left"style="width:auto!important;">
                                                <img src="@officeFlagUrl" alt="officeFlag" style="margin-right:240px" />
                                            </div>
                                        }
                                        @if (officeName != String.Empty)
                                        {
                                            <div class="col-xs-12 col-md-11 col-lg-12 col-xl-12" style="margin-left:0px">
                                                <p style="text-align:left;margin-top:15px;font-size:20px;width:180px;">@officeName</p>
                                            </div>
                                        }
                                        <div class="col-xs-6 col-md-6 col-lg-6 float-lg-left col-xl-6 float-xl-left margin">
                                            @if (@officeAddressName != null)
                                            {
                                                <p id="ptag1" style="text-align:left;margin-top:15px;font-size:20px;width:200px;">@officeAddressName</p>
                                            }
                                            @if (@officeAddressLine1 != null)
                                            {
                                                <p id="ptag2" style="text-align:left;font-size:17px;width:200px;">@officeAddressLine1</p>
                                            }
                                            @if (@officeAddressLine2 != null)
                                            {
                                                <p id="ptag3" style="text-align:left;font-size:17px;width:200px;">@officeAddressLine2</p>
                                            }
                                            @if (@officeAddressLine3 != null)
                                            {
                                                <p id="ptag3" style="text-align:left;font-size:17px;width:200px;">@officeAddressLine3</p>
                                            }
                                            @if (@officeTown != null)
                                            {
                                                <p id="ptag4" style="text-align:left;font-size:17px;width:200px;">@officeTown</p>
                                            }
                                            @if (@officeCounty != null)
                                            {
                                                <p id="ptag4" style="text-align:left;font-size:17px;width:200px;">@officeCounty</p>
                                            }
                                            @if (@officePostcode != "")
                                            {
                                                <p id="ptag5" style="text-align:left;font-size:17px;width:200px;">@officePostcode</p>
                                            }
                                            @if (@officePhone != null)
                                            {
                                                <p id="ptag6" style="text-align:left;margin-top:20px;font-size:17px;width:200px;"><strong>Phone: </strong>@officePhone</p>
                                            }
                                            @if (@officeEmail != "")
                                            {
                                                <p id="ptag7" style="text-align:left;margin-top:20px;font-size:17px;width:200px; white-space:initial;"> <strong>Email: </strong> @officeEmail</p>
                                            }
                                            @if (@shopperSupportTeam != "")
                                            {
                                                <p id="ptag8" style="text-align:left;margin-top:20px;font-size:17px; width:200px; white-space:initial;"><strong>Shopper Support Team: </strong>@shopperSupportTeam</p>
                                            }
                                            @if (@extraPhone != "")
                                            {
                                                <p id="ptag9" style="text-align:left;margin-top:20px;font-size:17px;width:200px;"><strong>Phone: </strong>@extraPhone</p>
                                            }
                                            @if (@extraEmail != "")
                                            {
                                                <p id="ptag10" style="text-align:left;margin-top:20px;font-size:17px;width:200px;"><strong>Email: </strong>@extraEmail</p>
                                            }
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>            
        </div>        
    </div>
    }
}    


