﻿@model List<Umbraco_Redesign.Models.OfficesModel>
@*@using Umbraco.Web.Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage*@
@{
    var offices = Model;
}

<div class="col-xs-12 col-md-12 container">
    @{
        object officeFlag;
        var officeName = String.Empty;
        var officeAddressName = String.Empty;
        var officeAddressLine1 = String.Empty;
        var officeAddressLine2 = String.Empty;
        var officeAddressLine3 = String.Empty;
        var officeAddressLine4 = String.Empty;
        var officeTown = String.Empty;
        var officeCounty = String.Empty;
        var officePostcode = String.Empty;
        var officePhone = String.Empty;
        var officeEmail = String.Empty;
        var extraHeading = String.Empty;
        var extraHeadingContent = String.Empty;
        var mobilePhone = String.Empty;
        var extraPhone = String.Empty;
        var extraEmail = String.Empty;
        var officeWebsite = String.Empty;
        var officeCountryCode = String.Empty;
        var RegisteredAddressLine1 = String.Empty;
        var RegisteredAddressLine2 = String.Empty;
        var RegisteredAddressLine3 = String.Empty;
        var RegisteredTown = String.Empty;
        var RegisteredPostcode = String.Empty;
        var RegisteredPhone = String.Empty;
        var orContactUs = String.Empty;
        var orPressOne = String.Empty;
        var findOutHow = String.Empty;
        var officeFlagUrl = String.Empty;
        var showInOfficeMenu = String.Empty;
        var shopperSupportTeam = String.Empty;

        int itemCount = 0;
        var hasRegisteredOffice = false;
        var isUk = false;
        var isMainOffice = false;
       <ul class="social-button-offices">
        @Html.Action("GetSocialIcons", "Offices")
        </ul>
        @*<ul class="social-icons-list" style="display: inline; position: absolute; top: 5px; right: 250px;">
            <li style="display: inline; margin-right:15px;"><i class="fa fa-facebook-official fa-5x" aria-hidden="true" style="color:#3a559f"></i></li>
            <li style="display: inline; margin-right:15px;"><i class="fa fa-twitter fa-5x" aria-hidden="true" style="color:#6caddf"></i></li>
            <li style="display: inline; margin-right:15px;"><i class="fa fa-linkedin-square fa-5x" aria-hidden="true" style="color:#0097d3"></i></li>
            <li style="display: inline; margin-right:15px;"><i class="fa fa-instagram fa-5x" aria-hidden="true" style="color:#fff"></i></li>
            <li style="display: inline; margin-right:15px;"><i class="fa fa-youtube fa-5x" aria-hidden="true" style="color:#fff"></i></li>
        </ul>*@
        if (offices != null)
        {
        foreach (var office in offices)
        {
        officeFlag = office.officeFlag;
        officeFlagUrl = office.officeFlagUrl;
        officeName = office.officeName;
        officeAddressName = office.officeAddressName;
        officeAddressLine1 = office.officeAddressLine1;
        officeAddressLine2 = office.officeAddressLine2;
        officeAddressLine3 = office.officeAddressLine3;
        officeAddressLine4 = office.officeAddressLine4;
        officeTown = office.officeTown;
        officeCounty = office.officeCounty;
        officePostcode = office.officePostcode;
        officePhone = office.officePhone;
        officeEmail = office.officeEmail;
        extraHeading = office.extraHeading;
        extraHeadingContent = office.extraHeadingContent;
        mobilePhone = office.mobilePhone;
        extraPhone = office.extraPhone;
        extraEmail = office.extraEmail;
        officeWebsite = office.officeWebsite;
        officeCountryCode = office.officeCountryCode;
        RegisteredAddressLine1 = office.RegisteredAddressLine1;
        RegisteredAddressLine2 = office.RegisteredAddressLine2;
        RegisteredAddressLine3 = office.RegisteredAddressLine3;
        RegisteredTown = office.RegisteredTown;
        RegisteredPostcode = office.RegisteredPostcode;
        RegisteredPhone = office.RegisteredPhone;
        orContactUs = office.orContactUs;
        orPressOne = office.orPressOne;
        findOutHow = office.findOutHow;
        showInOfficeMenu = office.showInOfficeMenu;
        shopperSupportTeam = office.shopperSupportTeam;
        if (officeCountryCode.Contains("uk"))
        {

        isUk = true;
        }
        else
        {
        isUk = false;
        }
        if (showInOfficeMenu.Contains("Show"))
        {
       <div class="col-xs-4 col-md-4 float-left" style="display:block;vertical-align:top;margin: 20px auto;">
           <div class="col-xs-8 col-md-8">
               <div class="row">
                   @if (@officeFlagUrl != null && @officeName != "Registered Address")
                   {

                       <div class="col-xs-3" style="margin-right: 10px;">
                           <img src="@officeFlagUrl" alt="officeFlag" />
                       </div>

                   }
                   @if (@officeName != null && @officeName != "Registered Address")
                   {
                       <div class="col-xs-3">
                           @officeName
                       </div>
                   }
                   else
                   {
                       <p id="ptag1" style="text-align:left;margin-top:15px;font-size:20px;">@officeName</p>
                   }
               </div>

               @if (@officeAddressName != null)
               {
                   <p id="ptag1" style="text-align:left;margin-top:15px;font-size:20px;">@officeAddressName</p>
               }
               @if (@officeAddressLine1 != null)
               {
                   <p id="ptag2" style="text-align:left;font-size:17px;">@officeAddressLine1</p>
               }
               @if (@officeAddressLine2 != null)
               {
                   <p id="ptag3" style="text-align:left;font-size:17px;">@officeAddressLine2</p>
               }
               @if (@officeAddressLine3 != null)
               {
                   <p id="ptag3" style="text-align:left;font-size:17px;">@officeAddressLine3</p>
               }
               @if (@officeTown != null)
               {
                   <p id="ptag4" style="text-align:left;font-size:17px;">@officeTown</p>
               }
               @if (@officeCounty != null)
               {
                   <p id="ptag4" style="text-align:left;font-size:17px;">@officeCounty</p>
               }
               @if (@officePostcode != "")
               {
                   <p id="ptag5" style="text-align:left;font-size:17px;">@officePostcode</p>
               }
               @if (@officePhone != null)
               {
                   <p id="ptag6" style="text-align:left;margin-top:20px;font-size:17px;"><strong>Phone: </strong>@officePhone</p>
               }
               @if (@officeEmail != "")
               {
                   <p id="ptag7" style="text-align:left;margin-top:20px;font-size:17px;width:200px; white-space:initial;"> <strong>Email: </strong> @officeEmail</p>
               }
               @if (@shopperSupportTeam != "")
               {
                   <p id="ptag8" style="text-align:left;margin-top:20px;font-size:17px; width:200px; white-space:initial;"><strong>Shopper Support Team: </strong>@shopperSupportTeam</p>
               }
               @if (@extraPhone != "")
               {
                   <p id="ptag9" style="text-align:left;margin-top:20px;font-size:17px;"><strong>Phone: </strong>@extraPhone</p>
               }
               @if (@extraEmail != "")
               {
                   <p id="ptag10" style="text-align:left;margin-top:20px;font-size:17px;"><strong>Email: </strong>@extraEmail</p>
               }
           </div>
       </div>
      
    }
}
</div>
