﻿@model Umbraco_Redesign.Models.RequestQuoteModel
@using Umbraco_Redesign.Models
@using System.Net.Mail;
@using umbraco.cms.businesslogic.datatype;
@using Umbraco_Redesign.Controllers;
@using Umbraco.Web.Mvc;
@using System.Web.Mvc;
@using ClientDependency.Core.Mvc;

<style type="text/css">
    .errspan {
        float: right;
        margin-right: 6px;
        position: relative;
        z-index: 2;
        color: #83aef1;
    }

    .input-icons i {
        width: 100%;
        margin-bottom: 10px;
    }

    .icon {
        padding: 10px;
        min-width: 50px;
        text-align: center;
    }

    .input-field {
        width: 100%;
        padding: 10px;
        text-align: center;
    }
</style>
<!-- Quote form-->
@if (Convert.ToBoolean(TempData["Success"]))
{
    <h1> Thank you for your Request</h1>
    <p> We will get back to you shortly </p>
}
else
{
    using (Ajax.BeginForm("HandleQuoteSubmit", "RequestQuoteSurface", null, new AjaxOptions()
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "formOuter"
    }

    ))
    {
        @Html.AntiForgeryToken()
        //Begin The Request Quote Form
        <div class="container">
            <div class="row">
                <div id="formOuter">
                    <div class="col-lg-12 float-left">
                        <div>
                            <h4 style="margin:15px;">Please provide some details and we'll get back to you as soon as we can.</h4>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="col-lg-4">
                                @*@Html.Label(Model.nameLabel)*@
                                <label style="text-align:left;width:200px;"  for="name" id="nameLabel">Name:</label>
                            </div>
                            <div class="col-lg-8">
                                @Html.TextBoxFor(x => x.name, new { @style = "background: #e6f2ff", @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.name, null, new { @style = "margin-top: 200px;", @class = "validationMessage" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-4">
                                @*@Html.Label(Model.nameLabel)*@
                                <label style="text-align:left;width:200px;"  for="job title" id="jobtitleLabel">Job Title:</label>
                            </div>
                            <div class="col-lg-12">
                                @Html.TextBoxFor(x => x.jobTitle, new { @class = "form-control", @style = "background :#e6f2ff;" })
                                @Html.ValidationMessageFor(x => x.jobTitle, null, new { @class = "validationMessage" })
                            </div>
                        </div>
                        <div class="col-lg-4">
                            @*@Html.Label(Model.nameLabel)*@
                            <label style="text-align:left;width:200px;"  for="company" id="companyLabel">Company:</label>
                        </div>
                        <div class="form-group input-group" style="width:450px; margin-left:15px;">
                            @Html.TextBoxFor(x => x.companyName, new { @class = "form-control", @style = "background :#e6f2ff;" })
                            @Html.ValidationMessageFor(x => x.companyName, null, new { @class = "validationMessage" })
                            <div class="input-group-append">
                                <span class="input-group-text" style="background:#e6f2ff"><i class="fa fa-building-o fa-lg fa-fw errspan" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label style="text-align:left;width:200px;" for="telephone" id="TelephoneLabel">Telephone: </label>
                        </div>
                        <div class="form-group input-group" style="width:450px; margin-left:15px;">
                            @Html.TextBoxFor(x => x.phone, new { @placeholder = "e.g. +4401234567890", @style = "background: #e6f2ff", @class = "form-control", @id = "phone", })
                            @Html.ValidationMessageFor(x => x.phone, null, new { @class = "validationMessage" })
                            <div class="input-group-append">
                                <span class="input-group-text" style="background:#e6f2ff"><i class="fa fa-phone fa-lg fa-fw errspan" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label style="text-align:left;width:200px;" for="companyEmail" id="companyEmailLabel">Email: </label>
                        </div>
                        <div class="form-group input-group" style="width:450px; margin-left:15px;">
                            @Html.TextBoxFor(x => x.email, new { @class = "form-control", @style = "background :#e6f2ff;" })
                            @Html.ValidationMessageFor(x => x.email, null, new { @class = "validationMessage" })
                            <div class="input-group-append">
                                <span class="input-group-text" style="background:#e6f2ff"><i class="fa fa-envelope fa-lg fa-fw errspan" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-4">
                                <label style="text-align:left;width:200px;"  for="companyEmail" id="companyEmailLabel">How did you hear about us?: </label>
                            </div>
                            <div class="col-lg-8">
                                @Html.DropDownListFor(x => x.howHearAbout, TempData["howDidYouHearAboutUsList"] as IEnumerable<SelectListItem>, new { @id = "dl_howHear", @onchange = "dlHowHearSelectedIndexChanged();", @class = "form-control", @style = "background :#e6f2ff;" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-4">
                                <label style="text-align:left;width:200px;"  for="pleasespcify" id="lb_otherPleaseSpecify">Please Specify: </label>
                            </div>
                            <div class="col-lg-8">
                                @Html.TextBoxFor(x => x.other, new { @*@placeholder = "Other Please Specify",*@@style = "background: #e6f2ff",
                                @class = "form-control",
                                @id = "tb_howHear"
                            })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="form-group">
                           
                                <div class="col-lg-4">
                                    <label style="text-align:left;width:200px;"  for="companyEmail" id="companyEmailLabel">Your Objectives/Enquiry: </label>
                                </div>
                                <div class="col-lg-8">
                                    @Html.TextBoxFor(x => x.mainObjectives, new {  @class = "form-control", @style = "background :#e6f2ff;height:65px;" })
                                    @Html.ValidationMessageFor(x => x.mainObjectives, null, new { @class = "validationMessage" })
                                </div>
                         
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-4 howToProceed" style="text-align:left;">
                                <h4>How would you like to be contacted?</h4>
                            </div>
                            <div class="col-lg-8 col-lg-offset-3">
                                <div class="row">
                                    <div class="col-lg-1">
                                        @Html.CheckBoxFor(x => x.callBack, new { @id = "chkCallMe", @onclick = "chkCallMeCheckedChanged();", @value = "false", @style = "border: 10px solid #004a99; height:16px; width:16px;" })
                                        @*<input name="callBack" id="chkCallMe" type="checkbox" onclick="chkCallMeCheckedChanged();" />*@
                                    </div>
                                    <div class="col-lg-11">
                                        <p><b>Please call me back</b></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-1">
                                        @Html.CheckBoxFor(x => x.emailBack, new { @id = "chkEmailMe", @onclick = "chkEmailMeCheckedChanged();", @value = "false", @style = "border: 10px solid #004a99; height:16px; width:16px;" })
                                        @*<input name="moreInfo" id="chkEmailMe" type="checkbox" onclick="chkEmailMeCheckedChanged()" />*@
                                    </div>
                                    <div class="col-lg-11">
                                        <p><b>Please email me back</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="pnlCanWeAnnounceMysteryShoppers" class="row" style="display:none;">
                                <div class="col-lg-8 col-lg-offset-3" style="text-align:center;">
                                    <p>Due to the nature of our business sometimes when we make contact with our clients we are asked not to divulge who we are. Would you like us to to be discreet if and when we contact you?</p>
                                </div>
                                <div class="col-lg-8 col-lg-offset-3">
                                    <div class="col-lg-1">
                                        @Html.CheckBoxFor(x => x.okToAnnounce, new { id = "chkOkToAnnounceMysteryShoppingCompanyInstruction", @onclick = "chkOkToAnnounceMysteryShoppingCompanyInstructionCheckedChanged();", @value = Model.okToAnnounce })
                                        @*<input name="isOk" id="chkOkToAnnounceMysteryShoppingCompanyInstruction" type="checkbox" onclick="chkOkToAnnounceMysteryShoppingCompanyInstructionCheckedChanged();" />*@
                                    </div>
                                    <div class="col-lg-11">
                                        <p><b>It is ok to announce that you are a Mystery Shopping company when you contact me.</b></p>
                                    </div>
                                    <div class="col-lg-1">
                                        @Html.CheckBoxFor(x => x.okToAnnounce, new { id = "chkNotOkToAnnounceMysteryShoppingCompanyInstruction", @onclick = "chkNotOkToAnnounceMysteryShoppingCompanyInstructionCheckedChanged();", @value = Model.okToAnnounce })
                                        @*<input name="notOk" id="chkNotOkToAnnounceMysteryShoppingCompanyInstruction" type="checkbox" onclick="chkNotOkToAnnounceMysteryShoppingCompanyInstructionCheckedChanged();" />*@
                                    </div>
                                    <div class="col-lg-11">
                                        <p><b>Please do not divulge that you are a Mystery Shopping company when you contact me.</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="pnlSendQuote" class="row" style="visibility: hidden">
                            <div class="col-xs-3">
                                <div class="g-recaptcha" data-callback="recaptchaCallBack" data-sitekey="6LdYjzsUAAAAADB5-rHzFb8WoBAX4Yv7zlvfnfKv"></div><br />
                            </div>
                            <div class="col-xs-3 text-left">
                                <div class="submit">
                                    <h2 style="color: red;">@ViewData["invalid"]</h2>
                                    <button id="formSubmit" type="submit" class="btn btn-primary" style="width: 150px; height: 60px; margin-left: 20px" disabled>Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6-lg">
                    @Html.Action("Index", "Offices", new { nodeId = "1659" })
                </div>

            </div>
        </div>
    }
}
<script src="//www.google.com/recaptcha/api.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
<script>
    $(document).ready(function () {
        $("#lb_otherPleaseSpecify").hide();
        $("#lb_pleasespcify").hide();
        $("#tb_howHear").hide();
        $("#phone").keypress(function (e) {
            var regex = new RegExp("[0-9\\s]");
            var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
            if (regex.test(str)) {
                return true;
            }
            e.preventDefault();
            return false;
        });
        //var shoppingTypeCount = 0;

        //$(".shoppingTypes").change(function () {
        //    var itemCount = 0;
        //    $("#shoppingType")
        //    if ($(this).prop("checked")) {
        //        console.log("checked");
        //        //shopVal = $("#shoppingType").val = "yes";
        //        shoppingTypeCount++;

        //    }
        //    else {
        //        console.log("unchecked");
        //        //shopVal = $("#shoppingType").val = "no";
        //        shoppingTypeCount--;
        //    }

        //    if (shoppingTypeCount > 0) {
        //        //$("#formSubmit").removeAttr("disabled");
        //        $("#formSubmit").prop("disabled", false);
        //        $("#shoppingTypeError").css("display", "none");
        //    }
        //    else {
        //        $("#formSubmit").prop("disabled", true);
        //        $("#shoppingTypeError").css("display", "block");
        //    }
        //    $("#shoppingType").val(shoppingTypeCount);

        //});

        $("input[type=checkbox").change(function () {
            if ($(this).prop("checked")) {
                $(this).val(true);
            }
            else {
                $(this).val(false);
            }

        });

        var showPanels = $("#hdnShowPanels").val();
        if (showPanels === "SHOW") {
            $("#pnlSendQuote").css("visibility", "visible");
            $("#pnlCanWeAnnounceMysteryShoppers").css("display", "block");
            var emailMe = $("#chkEmailMe").prop("checked");
            if (emailMe === true) {
                $("#pnlAdditionalInfo").css("display", "block");
            }
        }

        var hideEmailForm = $("#hdnShowEmailForm").val();
        if (hideEmailForm === "HIDE") {
            $("#emailForm").css("display", "none");
        }
    });

    function chkOkToAnnounceMysteryShoppingCompanyInstructionCheckedChanged() {
        var OkToAnnounceMysteryShoppingCompanyInstruction = $("#chkOkToAnnounceMysteryShoppingCompanyInstruction").prop("checked");
        var NotOkToAnnounceMysteryShoppingCompanyInstruction = $("#chkNotOkToAnnounceMysteryShoppingCompanyInstruction").prop("checked");

        if (OkToAnnounceMysteryShoppingCompanyInstruction === true) {
            $("#chkNotOkToAnnounceMysteryShoppingCompanyInstruction").prop("checked", false);
            NotOkToAnnounceMysteryShoppingCompanyInstruction = false;
        }
        else {
            $("#chkNotOkToAnnounceMysteryShoppingCompanyInstruction").prop("checked", true);
            NotOkToAnnounceMysteryShoppingCompanyInstruction = true;
        }

        if (OkToAnnounceMysteryShoppingCompanyInstruction === true || NotOkToAnnounceMysteryShoppingCompanyInstruction === true) {
            $("#pnlSendQuote").css("visibility", "visible");
        }
        else {
            $("#pnlSendQuote").css("visibility", "hidden");
        }
    }

    function chkNotOkToAnnounceMysteryShoppingCompanyInstructionCheckedChanged() {
        console.log("check not ok");
        var OkToAnnounceMysteryShoppingCompanyInstruction = $("#chkOkToAnnounceMysteryShoppingCompanyInstruction").prop("checked");
        var NotOkToAnnounceMysteryShoppingCompanyInstruction = $("#chkNotOkToAnnounceMysteryShoppingCompanyInstruction").prop("checked");

        if (NotOkToAnnounceMysteryShoppingCompanyInstruction === true) {
            $("#chkOkToAnnounceMysteryShoppingCompanyInstruction").prop("checked", false);
            OkToAnnounceMysteryShoppingCompanyInstruction = false;
        }
        else {
            $("#chkOkToAnnounceMysteryShoppingCompanyInstruction").prop("checked", true);
            OkToAnnounceMysteryShoppingCompanyInstruction = true;
        }

        if (OkToAnnounceMysteryShoppingCompanyInstruction === true || NotOkToAnnounceMysteryShoppingCompanyInstruction === true) {
            console.log("send Quote");
            $("#pnlSendQuote").css("visibility", "visible");
        }
        else {
            $("#pnlSendQuote").css("visibility", "hidden");
        }

    }

    function chkCallMeCheckedChanged() {
        console.log("check call me")
        var callMe = $("#chkCallMe").prop("checked");
        if (callMe === true) {
            $("#pnlCanWeAnnounceMysteryShoppers").css("visibility", "visible");
            $("#pnlCanWeAnnounceMysteryShoppers").css("display", "block");
            $("#pnlAdditionalInfo").css("display", "none");
            $("#chkEmailMe").prop("checked", false);
        }
        else {
            $("#pnlCanWeAnnounceMysteryShoppers").css("display", "none");
        }
    }

    function chkEmailMeCheckedChanged() {
        var emailMe = $("#chkEmailMe").prop("checked");
        var callMe = $("#chkCallMe").prop("checked");

        if (emailMe === true || callMe === true) {
            $("#pnlSendQuote").css("visibility", "visible");

        }
        else {
            $("#pnlSendQuote").css("visibility", "hidden");
        }

        if (emailMe === true) {
            $("#pnlAdditionalInfo").css("display", "block");
            $("#chkCallMe").prop("checked", false);
        }
        else {
            $("#pnlAdditionalInfo").css("display", "none");
        }

        if (callMe === true) {
            $("#pnlCanWeAnnounceMysteryShoppers").css("display", "block");
        }
        else {
            $("#pnlCanWeAnnounceMysteryShoppers").css("display", "none");
        }
    }
    function dlHowHearSelectedIndexChanged() {
        var str = $("#dl_howHear option:selected").text();
        if (str) {

            if (str === " Other") {
                $("#lb_otherPleaseSpecify").show();
                $("#tb_howHear").show();
            }
            else {
                $("#lb_otherPleaseSpecify").hide();
                $("#tb_howHear").hide();
            }
        }
    }
    function recaptchaCallBack() {
        var gresponse = grecaptcha.getResponse();
        if (gresponse) {
            if ($("#chkEmailMe").prop("checked") || $("#chkCallMe").prop("checked")) {
                $("#formSubmit").removeAttr("disabled");
            }
            else {

                console.log("Please fill out all the fields");
            }
        }
        $("#formSubmit").removeAttr("disabled");
    };
</script>
