﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@*@using ContentModels = Umbraco.Web.PublishedContentModels;*@

<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<script>
        function Email(end, start) {
            var at = "@@";
            var final = start + at + end;
            document.write("<a href=" + "mail" + "to:" + final + ">" + final + "</a>");
        }
        //-->
</script>

<style>
    @@media only screen and (min-width : 320px) {
        #quoteCtrl .quoteFormLabel {
            display: block;
        }

        #quoteCtrl #bt_submit {
            margin-left: 0px;
        }

        #quoteCtrl .g-recaptcha {
            margin-left: 0px;
        }
    }

    @@media only screen and (min-width : 992px) {
        #quoteCtrl .quoteFormLabel {
            display: inline-block;
        }

        #quoteCtrl #bt_submit {
            margin-left: 150px;
        }

        #quoteCtrl .g-recaptcha {
            margin-left: 150px;
        }
    }

    #quoteCtrl div > label {
        width: 150px;
        max-width: 150px;
        vertical-align: top;
    }

    #InstructionOptions > div > label {
        width: 100%;
        max-width: 960px;
    }


    #quoteCtrl div > input {
        width: 250px;
        max-width: 250px;
        margin-right: 5px;
    }

    #AdditionalInfo > div > label {
        width: 150px;
        max-width: 150px;
        vertical-align: top;
    }

    #AdditionalInfo div > input {
        width: 250px;
        max-width: 250px;
        margin-right: 5px;
    }

    #InstructionOptions div > input {
        width: 20px;      
        max-width: 20px;
    }

    #CanWeAnnouceMysteryShoppers > div > label {
        width: 100%;
        max-width: 960px;
    }

    #CanWeAnnouceMysteryShoppers div > input {
        width: 20px;
        max-width: 20px;
    }

    .email_sent_success {
        color: green;
        font-size: 1.2em;
    }

    #tb_msg {
        height: 180px;
        width: 250px;
        max-width: 250px;
        padding: 0px;
    }

    #tb_whatAreYourMainObjectivesLabel {
        width: 250px;
        max-width: 250px;
        height: 150px;
    }

    #tb_address {
        width: 250px;
        max-width: 250px;
        height: 150px;
    }

    #tb_isThereAnyFurtherInformation {
        width: 250px;
        max-width: 250px;
        height: 150px;
    }

    #dl_country {
        width: 350px;
        max-width: 350px;
    }

    #quoteCtrl #bt_submit {
        width: 100px;
        background-color: #337ab7;
        color: white;
    }

    .quoteHint {
        padding: 0px;
        color: blue;
        font-size: 0.8em;
    }


    p.web:before {
    }
</style>

<!-- Page Content -->


<div class="container">

    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="container">
            <div class="col-lg-12 col-sm-12">
                <h3>@CurrentPage.GetPropertyValue("contentIntroduction")</h3>
                <p></p>
            </div>
            <div style="margin-top: 20px;" class="col-lg-12 col-sm-7">
                <div id="col-lg-12">
                    <!-- Test Adding dropdownBox-->
                    @Html.Action("Index", "RequestQuoteSurface")
                </div>
            </div>
        </div>
    </div>
</div>
