﻿@using Umbraco.Web.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>

@{
    Layout = null;
}



@{
    var pageId = Convert.ToInt32(TempData["pageId"]);



    IPublishedContent page = null;

    if(pageId == 0)
    {
        page = UmbracoContext.Current.PublishedContentRequest.PublishedContent;
    }
    else
    {
        page = Umbraco.TypedContent(pageId);
    }

    //var page =    .Convert.ToInt32(TempData["sectionId"]);
    //var page = UmbracoContext.Current.PublishedContentRequest.PublishedContent;
    IEnumerable<IPublishedContent> sections = null;


    if (page != null)
    {
        if (page.DocumentTypeAlias == "homePage")
        {
            sections = page.Descendants().Where(x => x.IsVisible() && x.DocumentTypeAlias.ToString().Contains("section") && Convert.ToBoolean(x.GetPropertyValue("mSLShowOnHomePage")) == true).OrderBy(x => x.GetPropertyValue<int>("mSLSectionOrderNumber"));
        }
        else
        {
            sections = page.Descendants().Where(x => x.IsVisible() && x.DocumentTypeAlias.ToString().Contains("section")).OrderBy(x => x.GetPropertyValue<int>("mSLSectionOrderNumber"));
        }





        @*<div class="sectionContainer container">*@

        if (sections.Count() > 0)
        {
            int sectionCount = 0;


            foreach (var mslSection in sections)
            {
                var sectionId = "section" + mslSection.Id;
                var hasBackground = Convert.ToBoolean(mslSection.GetPropertyValue("mSLHasBackgroundColor"));
                string backgroundColor = "none";
                string textColor = String.Empty;
                string classes = String.Empty;

                if (Convert.ToBoolean(mslSection.GetPropertyValue("mSLShowOnHomePage")) == true && sectionCount == 0)
                {
                    classes = "sectionContentWrapper onlyHomePageSection home-page text-focus-in";
                }
                else
                {
                    classes = "sectionContentWrapper fadeOut";
                }

                if (hasBackground)
                {
                    textColor = "#000";

                    if (mslSection.GetPropertyValue("mSLSectionBackgroundColor") != null)
                    {
                        backgroundColor = "#" + mslSection.GetPropertyValue<string>("mSLSectionBackgroundColor");
                    }
                }
                else
                {
                    textColor = "#fff";
                }


                <div class="@classes">

                    <div class="sectionHeading col-md-12">
                        <h1>@mslSection.Name</h1>
                    </div>

                    <div id="@sectionId" class="section contentWrapper" style="background-color:@backgroundColor;color:@textColor;">
                        @mslSection.GetGridHtml(Html, "sectionLayout")
                    </div>

                </div>
                sectionCount = sectionCount + 1;
            }
        }
        else
        {

            var hasBackground = Convert.ToBoolean(page.GetPropertyValue("mSLHasBackgroundColor"));
            var backgroundColor = "#" + page.GetPropertyValue("mSLSectionBackgroundColor");
            var textColor = String.Empty;

            if (hasBackground)
            {
                textColor = "#000";
            }
            else
            {
                textColor = "#fff";
            }

            <div class="container">

                <div class="sectionContentWrapper onlyHomePageSection">
                    <h1>@page.Name</h1>
                    <div class="section contentWrapper" style="color:@textColor;background-color:@backgroundColor">


                        @{

                            if (page.DocumentTypeAlias == "singlePageWithLayout")
                            {
                                if (page.GetProperty("mslSectionLayout") != null)
                                {
                                    @page.GetGridHtml(Html, "mslSectionLayout");
                                }
                            }
                            else
                            {
                                <h2 style="color:#fff;">Display Content</h2>
                            }
                        }

                    </div>
                </div>
            </div>

        }

        @*</div>*@
    }



}
