﻿@model List<Umbraco_Redesign.Models.SectionWithTabsModel>
@using Umbraco_Redesign.Models
@using ClientDependency.Core.Mvc;
@using Umbraco.Web.Mvc;

@{
//Html.RequiresJs("~/Scripts/SectionWithTabs.js");
//Html.RequiresJs("~/Scripts/mobileTabs.js");
}

<style>
    /*.mobile-tab-content{
        background-color: #fff;
        color: #000;
    }

    .contentWrapper p {
    margin: 0;
    width: 100%;
    color: #000;
    text-align: center;
    text-transform: none;
    }

    h1{
        color: #09345E;
        text-align: center;
        
    }

    h1,h2, .contentWrapper p{
        padding: 20px 0;
    }

    h3{
        font-size: 1.2em;
    }

    .contentWrapper p{
        font-size: 1.2em;
        color:rgba(0, 0, 0, 0.699)  !important;
    }

    ul{
        text-align: center;
        margin: 0 auto;
    }

    ul li{
        font-size: 1.2em;
    }

    .tab-pane{
        /*padding: 0;*/
    /*}*/

    .video-grid{
        width: 100%;
    }

    .grid-section video{
        width: 80%;
    }

    .umb-grid .active{
        margin-bottom: 20px;
    }

    .umb-grid .active{
        font-size: 1em;
        text-align: center;
    }

    .umb-grid h3{
        font-size: 1.2rem;
    }

    /*.umb-grid p{
        text-align: center;
        font-size: 1.2rem;
        margin-bottom: 10px;
        color: rgba(0, 0, 0, 0.699)!important;
    }*/

    .tab-pane{
        overflow-x: hidden;
        text-align: center;
    }

    .tab-pane p{
        color: rgba(0, 0, 0, 0.699);
        text-align: center !important;
        margin-bottom: 20px;
    }

    .tab-pane strong{
        font-size: 1.1rem;
        padding: 20px;
    }

    .tab-pane h1{
        color: rgb(9, 52, 94);
        font-size: 2rem;
    }

    .tab-pane ul{
        text-align:center;
        margin: 0 auto;
    }

    .tab-pane li {
        font-size: 1.1rem;
        font-weight: 600;
    }

    .mobile-tab-content{
        background-color: #fff;
        text-align: center;
    }

    .mobile-tab-content p{
        text-align: center !important;
    }

    .mobile-tab-content a{
        font-size: 1.1rem;
    }


</style>

<div class="d-none d-lg-flex row products justify-content-center section-with-tabs">
    <div class=" col-xl-12 products_tab">
        @{

            //var tabFinder = Umbraco.TypedContentAtRoot().FirstOrDefault();
            //var tabContainer = tabFinder.SearchChildren("test section with tabs");
            //IPublishedContent tabContainerSection = null;
            //foreach (var tabSection in tabContainer)
            //{
            //    if (tabSection.DocumentTypeAlias == "sectionWithBootstrapTabs")
            //    {
            //        tabContainerSection = tabSection;
            //        break;
            //    }

            //}


            var tabs = Model;
            var tabsId = -1;

            if (tabs != null)
            {


                <nav>
                    <div class="row nav nav-tabs nav-fill" id="nav-tab" role="tablist" style="border: none !important;">

                        @foreach (var tab in tabs)
                        {
                            var navTabId = tab.tabId;
                            var navTabHref = String.Empty;
                            var navAriaControls = String.Empty;
                            var navName = String.Empty;
                            var navAlias = String.Empty;
                            tabsId = tab.tabsId;



                            if (tab.tabHeader != null/* && tab.tabContent != null*/ || tab.tabLayout != null && tab.tabLayout != String.Empty)
                            {
                                //navTabId = "nav-" + tab.tabHeader.ToLower().Replace(" ", "-") + "-tab";
                                //navTabHref = "#nav-" + tab.tabHeader.ToLower().Replace(" ", "-");
                                //navAriaControls = "nav-" + tab.tabHeader.ToLower().Replace(" ", "-");
                                //navName = tab.tabHeader;

                                navTabId = tab.tabHeader.ToLower().Replace(" ", "-").Replace(",", "").Replace("/", "").Replace("#", "");
                                navName = tab.tabHeader;

                            }

                            <a class="nav-item nav-link nav-tab-link" id="@navTabId" data-toggle="tab" href="@navTabHref" role="tab" aria-controls="@navAriaControls" aria-selected="true">@navName</a>

                        }

                    </div>
                </nav>
                <div class="tab-content active" id="@tabsId">
                    @foreach (var tabsContent in tabs)
                    {
                        var tabpaneId = String.Empty;
                        var tabPaneAriaLabelledby = String.Empty;
                        var htmlCode = Html.Raw(tabsContent.tabContent);

                        if (tabsContent.tabHeader != null /*&& tabsContent.tabContent != null */|| tabsContent.tabLayout != null && tabsContent.tabLayout != String.Empty)
                        {
                            tabpaneId = "nav-" + tabsContent.tabHeader.ToLower().Replace(" ", "-");
                            tabPaneAriaLabelledby = "nav-" + tabsContent.tabHeader.ToLower().Replace(" ", "-") + "-tab";
                        }

                         <div class="tab-pane fade rounded-bottom tab-pane-class" id="@tabpaneId" role="tabpanel" aria-labelledby="@tabPaneAriaLabelledby">
                             @if (tabsContent.tabLayout != null)
                             
                             {
                                 //Html.RenderPartial(tabsContent.tabLayout);
                                 //var tabContentNode = new SectionWithTabsModel
                                 //{                               
                                 //    tabsId = tabsContent.tabsId,
                                 //    tabHeader = null,
                                 //    tabContent = null,
                                 //    tabLayout = if;
                        
                                 @Html.Action("Index", "BoxLayout", new { tabId = tabsContent.tabsId })

                                 //@Html.Partial(tabsContent.tabLayout, null);
                             }
                             else
                             {
                                 if (tabsContent.tabAlias == "tab")
                                 {
                                  @Html.Raw(htmlCode)
                                 }
                                 else if(tabsContent.tabAlias == "tabWithIcons")
                                 {
                                  @Html.Action("Index", "BulletList", new { nodeId = tabsContent.tabsId });
                                 }
                                 else if(tabsContent.tabAlias == "tabWithGridLayout")
                                 {
                                     @tabsContent.node.GetGridHtml(Html, "tabWithGrid");
                                 }
                             }

                         </div>
                        
                     }
                        
                </div>
            }
          }
    </div>
</div>

<div class="row d-block d-lg-none">
    <div class="col-12">
        <div class="mobile-products-wrapper">
            <div class="mobile-product-tabs active">
                <ul class="list-group">
                    @{
                        var mobileTabs = Model;
                                    var mobileTabsId = -1;

                        if (mobileTabs != null)
                        {
                            foreach (var tab in mobileTabs)
                            {
                                var navTabId = tab.tabId;
                                    var navTabHref = String.Empty;
                                    var navAriaControls = String.Empty;
                                    var navName = String.Empty;
                                    var htmlCode = Html.Raw(tab.tabContent);
                                    mobileTabsId = tab.tabsId;



                                if (tab.tabHeader != null || tab.tabLayout != null && tab.tabLayout != String.Empty)
                                {
                                    navTabId = tab.tabHeader.ToLower().Replace(" ", "-");
                                    navName = tab.tabHeader;
                                }

                                <li data-id="@navTabId" class="list-group-item mobile-tab active">@navName</li>
                                <li id="@navTabId" class="d-none mobile-tab-content">

                                    @if (tab.tabLayout != null)
                                    {
                                        var tabContentNode = new SectionWithTabsModel
                                        {
                                            tabsId = tab.tabsId,
                                            tabHeader = null,
                                            tabContent = null,
                                            tabLayout = tab.tabLayout
                                        };

                                        @Html.Action("Index", "BoxLayout", new { tabId = tab.tabsId })
                                        //Html.Partial(tab.tabLayout, tabContentNode);
                                    }
                                    else
                                    {
                                        if (tab.tabAlias == "tab")
                                        {
                                            @Html.Raw(htmlCode)
                                        }
                                        else if (tab.tabAlias == "tabWithIcons")
                                        {
                                            @Html.Action("Index", "BulletList", new { nodeId = tab.tabsId });
                                        }
                                        else if (tab.tabAlias == "tabWithGridLayout")
                                        {
                                            @tab.node.GetGridHtml(Html, "tabWithGrid");
                                        }
                                    }

                                    @*@if (tab.tabAlias == "tab")
        {
        @Html.Raw(htmlCode)
        }
        else
        {
        <p>
            @htmlCode
        </p>
        }*@

                                    @*<p>
            @htmlCode
        </p>*@

                                </li>
                            }
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
@*@Html.RenderJsHere()*@
