﻿@model List<Umbraco_Redesign.Models.SectionsModel>
  
@{
    Layout = null;
}
@if (Model != null && Model.Count() > 0)
{
    var sections = Model;

    for (var sectionCount = 0; sectionCount < sections.Count(); sectionCount++)
    {
        var page = sections[sectionCount].page;
        var isHomePage = sections[sectionCount].isHomePage;
        var sectionId = sections[sectionCount].sectionId;
        var documentAlias = page.DocumentTypeAlias;
        var classes = sections[sectionCount].classes;
        var backgroundColor = sections[sectionCount].backgroundColor;
        var textColor = sections[sectionCount].textColor;
        var textFocusIn = String.Empty;

        if (TempData["pageId"] != null)
        {
            if (isHomePage && sectionCount == 0)
            {
                textFocusIn = "text-focus-in";
            }
        }



        <div class="@classes @textFocusIn " style ="margin-bottom:-180px">
            <div class="sectionHeading col-md-12">
                <h1>@page.Name</h1>
            </div>
            <div id="@sectionId" class="section contentWrapper" style="background-color:@backgroundColor;color:@textColor;">
                @*@mslSection.GetGridHtml(Html, "sectionLayout")*@
                @if (documentAlias == "singlePageWithLayout")
                {
                    if (page.GetProperty("mslSectionLayout") != null)
                    {
                        @page.GetGridHtml(Html, "mslSectionLayout");
                    }
                }
                else if (documentAlias.ToLower() == "sectionwithlayout")
                {
                    @page.GetGridHtml(Html, "sectionLayout")
                }
                else if (documentAlias.ToLower() == "sectionwithoutlayout")
                {
                    var layout = page.GetPropertyValue<string>("mSLSectionLayout");

                    if (layout != null)
                    {
                        
                        if (layout.ToLower() == "bubbles")
                        {
                            @Html.Action("Index", "QandASurface", new { sectionId = page.Id })
                        }
                        else if(layout.ToLower() == "requestaquoute")
                        {                            
                            @Html.Action("Index", "RequestQuoteSurface", new { sectionId = page.Id})
                        }
                        else if (layout.ToLower() == "contactform")
                        {
                            @Html.Action("Index", "ContactForm", new {sectionId = page.Id})
                        }
                    }
                    @*@page.GetGridHtml(Html, "mSLSectionLayout")*@
                }

                else if (documentAlias.ToLower() == "sectionwithtabs")
                {
                    @Html.Action("Index", "SectionWithTabs", new { tabsId = page.Id })
                }
                else if (documentAlias.ToLower() == "sectionwithcarousel")
                {
                    bool FullWidth = page.GetPropertyValue<bool>("mslCarouselFullwidth");
                    if (FullWidth == false)
                    {
                        @Html.Action("Index", "Carousel", new { carouselId = 1372 })
                    }
                    else if (FullWidth == true)
                    {
                        @Html.Action("Index", "Carousel", new { carouselId = 1495 })
                    }
                }
                else if (documentAlias.ToLower() == "websitemap")
                {
                    @RenderPage("~/Views/SiteMap.cshtml")
                }
                else if (documentAlias.ToLower() == "sectionwithmodalwindows")
                {
                    @Html.Action("Index", "SectionWithModalWindows", new { modalsId = 1392 })
                }
                else if (documentAlias.ToLower() == "sectionwithicons")
                {   
                    @Html.Action("Index", "IconAndText", new { CompanyValueId = 1618 })
                }
                else if (documentAlias.ToLower() == "requestAQuote")
                {
                    @Html.Action("HandleQuoteSubmit", "RequestQuote")
                }
                else
                {
                    <h2 style="color:#fff;">Display Content</h2>
                }
            </div>
        </div>
    }
}
