﻿@using Umbraco.Web.Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@{//IPublishedContent socialsNode = null;
    IEnumerable<IPublishedContent>
    socialLinks = null;

    var socialsNode = Umbraco.TypedContentAtRoot().SelectMany(x => x.DescendantsOrSelf().Where(c => c.DocumentTypeAlias == "social")).FirstOrDefault();

    if (socialsNode != null)
    {
        socialLinks = socialsNode.Children();

        foreach (var socialLink in socialLinks)
        {
            var socialIcon = socialLink.GetPropertyValue("socialLinkIcon");

            var socialIconProp = socialLink.GetProperty("socialLinkIcon").DataValue;
            var jsonSocial = (Newtonsoft.Json.Linq.JObject)Newtonsoft.Json.JsonConvert.DeserializeObject(socialIconProp.ToString());
            var socialIconValue = String.Empty;
            if (jsonSocial != null)
            {
                if (jsonSocial["className"].ToString() != "-1")
                {
                    socialIconValue = jsonSocial["className"].ToString();

                    var socialsProp = socialLink.GetProperty("socialLinkUrl").DataValue;
                    var jsonText = (Newtonsoft.Json.Linq.JArray)Newtonsoft.Json.JsonConvert.DeserializeObject(socialsProp.ToString());
                    var target = jsonText[0]["target"];
                    var socialLinkUrl = jsonText[0]["url"];

                    <li>
                        <a href="@socialLinkUrl" target="@target">
                            <i class="@socialIconValue"></i>
                        </a>
                    </li>


                }




            }






        }

    }
}
