﻿@model List<Umbraco_Redesign.Models.SectionWithModalWindowsModel>

@using ClientDependency.Core.Mvc;


@{
    Html.RequiresJs("~/Scripts/solutions.js");
}

<div class="solutions-container">
    <div class="solutions-wrapper">
        <div class="solutions-grid-box">
            @{
                var sectionWithModals = Model;
                var modalTitle = String.Empty;
                var modalImageUrl = String.Empty;
                var modalVideoUrl = String.Empty;
                object modalContent = null;
                var modalId = String.Empty;
                var modalBadge = String.Empty;
                var modalHeaderColour = String.Empty;

                if (sectionWithModals.Count > 0)
                {
                    foreach (var modal in sectionWithModals)
                    {
                        modalTitle = modal.modalHeader;
                        modalImageUrl = modal.modalImageUrl;
                        modalImageUrl = "/imageGen.ashx?image=" + modalImageUrl + "&amp;height=200&amp;constrain=true";
                        modalId = modal.modalId;
                        modalContent = modal.modalContent;
                        modalBadge = modal.modalBadge;
                        modalHeaderColour = modal.modalHeaderColour;
                        <div class="solution-item modalPopUp">
     
                            <div class="solution-image" style="background-image: url('@modalImageUrl')" id="@modalId">
                                <div class="blue-overlayInsight"></div>
                                <button type="button" class="btn" data-toggle="modal" data-target="#Modal">
                                    <h5>@modalTitle</h5>
                                </button>
                                @*<h4 class="solutions-badge"><span class="badge badge-warning">Badge</span></h4>*@
                                <div class="modal-text" data-media="@modalVideoUrl">@modalContent</div>
                            </div>
                            <div id="pointer" class="" style="background:@modalHeaderColour;">@modalBadge</div>
                        </div>

                    }
                }
            }

        </div>
    
    </div>
</div>