﻿@model List<Umbraco_Redesign.Models.SectionWithCarouselModel>

@using ClientDependency.Core.Mvc;

@{
    Html.RequiresJs("~/Scripts/carousel.js");
}

<div class="container-testimonials">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
        <ol class="carousel-indicators">
            @{
                var sectionWithCarouselCount = Model.Count;

                for (int i = 0; i < sectionWithCarouselCount; i++)
                {
                    <li data-target="#carouselExampleIndicators" data-slide-to="@i" class=""></li>
                }
            }
        </ol>
        <div class="card-container carousel-inner">

            @{
                var sectionWithCarousel = Model;
                var slideLogo = String.Empty;
                object slideText = null;

                if (sectionWithCarousel.Count > 0)
                {
                    foreach (var slide in sectionWithCarousel)
                    {
                        slideLogo = slide.slideLogoUrl;
                        slideText = slide.slideContent;


                        <div class="carousel-item">
                            <div class="card-flex-box">
                                <div class="card testimonial">
                                    <div class="card-body">
                                        <h5 class="card-title"><img src="@slideLogo" alt="" /></h5>
                                        <div class="text-wrapper">
                                            <p class="quotes">@slideText</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }

            }
        </div>
        <a href="#carouselExampleIndicators" class="carousel-control-prev" data-slide="prev">
            <div class="arrow-wrapper arrow-wrapper-left">
                <span class="carousel-control-prev-icon" aria-hidden="true"><i class="fa fa-chevron-left" aria-hidden="true"></i></span> <span class="sr-only">Previous</span>
            </div>
        </a> 
        <a href="#carouselExampleIndicators" class="carousel-control-next" data-slide="next"> 
            <div class="arrow-wrapper arrow-wrapper-right">
                <span class="carousel-control-next-icon" aria-hidden="true"> <i class="fa fa-chevron-right" aria-hidden="true"></i></span> <span class="sr-only">Next</span>
            </div>
        </a>
    </div>
</div>


