﻿.btn-Request-Demo {
    color: #13185E !important;
    background-color: #ECE87D;
    font-weight: 900;
    border: none;
    margin-left: 10px;
}

.modal-header .close {
    padding: 0 !important;
    margin: 0 !important;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 220%;
}

.modal-dialog {
    width: 55%;
}

.modal-title {
    font-size: 150% !important;
    /*color: #fff !important;*/
}

.modal-body img {
    width: 90%;
}

.btn-Request-Demo p {
    color: #13185E !important;
    margin: 5px;
}

.featureList ul li {
    background-size: contain;
}

.roundedBox {
    border: 3px outset #000;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 10px;
    min-height: 400px;
    height: auto;
    margin-bottom: 10px;
    opacity: 0.8;
    background-color: #fff;
}

    .roundedBox:hover {
        opacity: 1;
    }

    .roundedBox h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .roundedBox img {
        width: 75px;
        height: 75px !important;
        margin-left: 5%;
        margin-right: 5%;
    }

.centerText {
    text-align: center;
}

.alignTextLeft {
    text-align: left;
}

.centerPadding {
    padding-left: 30%;
    padding-right: 15%;
}

.featureList {
    /*padding-left: 12%;*/
}

    .featureList ul {
        width: 100%;
        list-style-type: none;
        padding-left: 1em;
    }

    .featureList li {
        padding-left: 4em;
        margin-bottom: 10px;
    }

.btn-default {
    width: 100% !important;
    height: 40px !important;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.1em;
}

    .btn-default:hover, btn-default:focus {
        color: #fff !important;
    }

    .btn-default p {
        margin-bottom: 5px;
    }

.bulletListImage {
    background-repeat: no-repeat;
    height: 30px;
}

.optionList ul {
    list-style-type: none;
}

.optionList li {
    display: inline-block;
    margin-right: 0;
    padding: 1.2em;
}

    .optionList li img {
        width: auto;
        height: 40px !important;
        display: block;
    }

.modal-title img {
    width: 20px;
    height: 20px;
}

.modal-content {
    /*background-color: #09345E;*/
    border-radius: 20px;
    box-shadow: 0,0,0,0.5 20px 20px inset;
}

.modal-body iframe body img {
    max-width: 100%;
}

.modal-body img {
    display: block !important;
    margin: 0 auto !important;
}

.modal-body iframe {
    border: 0;
    width: 100%;
    display: block;
}

.modal-title {
    font-weight: bold;
}

.modal-footer {
    border: 0 !important;
}

#Modal .modal-header .close {
    /*color: #fff !important;*/
    opacity: 0.8 !important;
    font-size: 24px !important;
}

.buttonContainer {
    padding: 0;
}

.boxContainer {
    padding-left: 1em;
    padding-right: 2.3em;
}

.pricingButton {
    min-height: 55px;
    height: auto !important;
}

    .pricingButton p {
        text-align: center;
        color: #fff !important;
        text-rendering: optimizeLegibility;
    }

.g-recaptcha {
    display: block;
    margin: 0 auto;
}

#Modal .modal-content {
    padding: 20px;
    overflow-y: auto;
}



#ContactModal .modal-content {
    overflow-y: auto;
    background-color: #fff;
    border: 2px outset #000;
    color: #13185E !important;
    /*height: auto;*/
}

#Modal .modal-dialog {
    display: table;
}

#ContactModal .modal-dialog {
    display: table;
}

#ContactModal .modal-header h4 {
    color: #13185E !important;
    text-align: center;
}

#ContactModal .modal-body {
    width: 100%;
    display: table;
    color: #13185E;
    text-align: center;
}

#ContactModal .modal-header .close {
    color: #13185E;
}

@media (min-width: 300px) and (max-width: 499px) {
    .featureList ul {
        padding-left: 0;
    }

    .featureList li {
        padding-left: 3em;
        text-align: left;
    }

    .pricingButton {
        width: 100% !important;
    }

        .pricingButton p {
            font-size: 11px !important;
        }

    .boxContainer {
        padding: 0;
    }

    #Modal .modal-dialog {
        width: 80%;
        margin: 20px auto;
    }

    #Modal .modal-body {
        height: 350px;
    }

    #ContactModal .modal-dialog {
        width: 60%;
        margin: 20px auto;
    }
}



@media (min-width: 500px) and (max-width: 768px) {
    .roundedBox {
        width: 80%;
        display: block;
        margin-left: 0;
    }

    #ContactModal .modal-dialog {
        width: 60%;
        margin: 20px auto;
    }
}

@media (min-width: 769px) and (max-width: 989px) {

    .featureList ul {
        width: 80%;
        padding-left: 11em;
        margin: 0 auto;
    }

    .featureList li {
        padding-left: 40px !important;
        text-align: left !important;
    }

    .roundedBox {
        width: 60%;
        display: block;
        margin-left: 0;
    }

    .pricingButton {
        width: 60% !important;
    }
}

@media (min-width: 1024px) {
    .pricingButton p {
        font-size: 12px !important;
    }

    

    .featureList li{
        text-align: left !important;
    }

    .pricingButton{
        color: #fff !important;
    }
}

@media(min-width: 300px) and (max-width: 768px) {

    .featureList li {
        padding-left: 40px !important;
        text-align: left !important;
        line-height: 1.5;
    }

    #Modal .modal-body {
        height: 350px;
    }

    .boxOptionIcons li {
        width: auto;
    }

    .list-group li div {
        background-color: none;
    }
}

@media(min-width: 600px) and (max-width: 768px) {
    #Modal .modal-body {
        height: 400px;
    }
}

@media(min-width: 412px) and (max-width: 768px) {

    #Modal .modal-dialog {
        width: 80%;
        margin: 20px auto;
    }

    #Modal .modal-body {
        height: 450px;
    }

    .list-group li div {
        background-color: none !important;
    }
}

@media (min-width: 1024px) and (max-width: 1366px) {

    .boxContainer {
        float: left;
    }

    #Modal .modal-body {
        height: 600px;
    }
}

@media (min-width: 1200px) {

    .boxContainer {
        float: left;
    }

    #Modal .modal-body {
        height: 500px;
    }

    .list-group li div {
        background-color: none !important;
    }
}


.attention {
    animation: bounce 1s;
}

@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

@media only screen and (max-width: 688px) {
    .list-group li div {
        background-color: none !important;
    }
}


@media only screen and (max-width: 1400px) {
    .list-group li div {
        background-color: none !important;
    }
}
