
p{
    font-size: 1.1rem;
}


.modal-body{
    overflow-y:auto;
}

.container-with-cards {
    /*display: flex;
    flex-direction: row;*/
    margin: auto;
    /*padding: 1rem;*/
    max-width: 1400px;
    /*max-height: 750px;*/
    overflow-y: hidden;
    font-family: "Calibri light";
    font-size: 2em;
    justify-content: center;
    overflow-x: hidden;
    height: auto;
    /*background-color: #fff;*/
}

.flip-card-container {
    padding: 0;
    position: relative;
    width: 100vw;
    height: 50vh;
    
}


.flip-card-deck .card {
    margin-bottom: 40px;
    padding: 0;
    height: 90%;
    margin-bottom: 20px;
    margin-left: 0px;
}

.card-body{
    position:relative;
}

.card-title-container{
    width: 100%;
    padding-bottom: 20px;
    position: relative;
}

.card-front-image-container {
    position: relative;
    /*top: 100px;*/
    /*bottom: 0;
    left:0;*/
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat:no-repeat;
    /*padding-left: 5%;
    padding-right: 5%;*/
}

.card-front-image{
    width: 100%;
    height: auto;
}

.flip-card-title {
    color: #fff;
    font-weight: 600;
    font-size: 1.4rem;
    position: absolute;
    bottom: 5px;
    left: 20px;
    z-index: 2;
    text-align: left;
    width: 80%;
}

.flip-card-back-text{
    position:relative;
    width: 100%;
    height: auto;
    overflow-y: auto;
    padding: 2% 5% 0 5%;
    text-align: center !important;
}

    .flip-card-back-text a {
        color: #09345E;
        font-weight: 600;
    }

/*.card-link {
    font-size: 1rem !important;
}*/

.flip-card-links li {
    text-align: center;
}

.flip-card-links li a {
    color: #09345E;
}

.flip-card-links li a:hover {
    color: #000;
    text-decoration:underline;
}


.card-link-title {
    color: #09345E !important;
    font-size: 1.3rem;
    font-weight: 600;
    /*margin-top: 5px;*/
    text-align: center;
}

.flip-card-back-text p {
    /*font-size: 1.1rem;*/
    line-height: 1.7;
    color: #09345E !important;
    text-align: center !important;
    font-weight: 400;
    margin-bottom: 10px;
    cursor: text;
    
}

/*Flip Card*/
.flip-card {
    perspective: 1000px; /* 3D effect */
    transition: transform 0.8s;
    transform-style: preserve-3d;
    text-align: center;
    height: auto;
    cursor: pointer;
    z-index: 3;
    padding-bottom: 20px;
}

.flip-card-inner {
    
}

/* Do an horizontal flip when you move the mouse over the flip box container */
/*.flip-card:hover{
    transform: rotateY(180deg);
}*/

.flip-front-card {
    transform: rotateY(180deg);
}

.flip-back-card {
    transform: rotateY(-180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    margin-left: 0;
}

/* Style the back side */
.flip-card-back {
    transform: rotateY(180deg);
    margin: auto auto !important;
    padding-bottom: 20px;

}


.cards__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-template-rows: repeat(4, 300px);
    grid-gap: 1rem;
    grid-auto-flow: dense;
    grid-row-gap: 1rem;
    margin-bottom: 0;
}

.thecard {
    /* position: absolute; */
    /* display: inline-block; */
    min-width: 200px;
    width: auto;
    height: 300px;
    /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.322);*/
    transform-style: preserve-3d;
    transition: transform 1s;
    transform: perspective(600px);
    /*margin: 0.5rem;*/
    margin-bottom: 0.3rem;
    cursor: pointer;
}

    .thecard .btn-video {
        margin-top: 50%;
        border-radius: 50%;
        border: 2px solid #fff;
        background-color: #fff;
    }

.front {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    perspective: 600px;
}

.back {
    position: absolute;
    backface-visibility: hidden;
    width: auto;
    min-height: 300px;
    /* height: fit-content; */
    transform: rotateY(180deg);
    perspective: 600px;
}

.grid-column-span {
    grid-column: span 2;
}

.card-image {
    /* width: 220px; */
    min-height: 300px;
    /*background-image: url('/Media/1021/customers.jpg');*/
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    perspective: 600px;
    padding: 0.5rem;
}
    .card-image h6 {
        font-size: 1rem;
        text-align: left;
    }
    /*.front .card-image {
    min-height: 70%;
}*/
    .back .card-image {
        min-height: 100%;
        height: fit-content;
        padding: 0.5rem;
    }
.card-image-changed {
    min-height: 300px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    perspective: 600px;
    padding: 0.5rem;
}

.card-text {
    /* min-height: 50px; */
    background-color: #fff;
}

    .card-text h6 {
        width: 90%;
        margin: auto;
        padding: 0.5rem;
        text-align: center;
        font-size: 0.8rem;
        color: #000 !important;
        text-transform: none !important;
    }

    .card-text p {
        color: #000 !important;
        line-height: 0.9rem;
        font-size: 0.8rem;
        text-align: left;
    }

.front .card-text {
    min-height: 30%;
    height: fit-content;
    display: flex;
    align-items: center;
}

.blue-overlayQandA{
    position: absolute;
    background-color: rgba(9, 52, 94, 0.57);
    width: 100%;
    height: 100%;
    z-index: 1;
}

/*.front .blue-overlayQandA {
    height: 300px;
    z-index: 1;
}*/

.thecard h6 {
    position: absolute;
    bottom: 0;
    left: 10px;
    font-size: 1rem;
    z-index: 2;
    text-align: left;
    margin-bottom: 10px !important;
    font-weight: bold;
    width: 200px;
}
.back .blue-overlayQandA {
    height: 100%;
    margin-left: -0.5rem;
    margin-top: -0.5rem;
    z-index: -1;
}

.back .card-text {
    /* min-width: 90%;*/
    min-height: 300px;
    /* margin: auto; */
    background-color: rgb(232, 231, 218);
    padding: 0.5rem;
}
.small-back-image {
    height: 50px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}
.thecard:hover {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.522);
}

.flip-the-card {
    transform: rotateY(180deg);
}

@media (max-width: 562px){
    .flip-card-back-text{
        width: 80%;
    }

    .flip-card-links{
        width: 70%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .container-with-cards{
        background-color: none !important;
    }
}

@media (min-width: 563px) and (max-width: 731px){

    .flip-card-back{
        /*font-size: 1rem;*/
    }

    .flip-card-back-text p{
        /*font-size: 1rem;*/
    }

    .flip-card-container {
        height: 80vh;
        padding: 20px;
    }

    .flip-card-back-text p {
        font-size: 1.2rem;
    }

    .card-link {
        font-size: 1.1rem;
    }
}

@media (min-width: 768px) {
    .flip-card-container{
        height: 70vh;

    }
    .flip-card-back-text p {
        font-size: 1rem;
    }

    .card-link{
        font-size: 0.9rem;
    }

    .nav-tab-link{
        color: #fff !important;
    }
}

@media (min-width: 986px){
    .flip-card-container{
        /*height: 55vh;*/
    }
}

@media (min-width: 1024px){
    .flip-card-container {
        height: 40vh;
    }
}
