﻿.logo {
    width: 100%;
}

.menuButton {
    margin-bottom: 40px;
}

/*.menuContainer{
        width: 50%;
    }*/

.socialIcons {
    list-style-type: none;
    padding-left: 0;
}

    .socialIcons li {
        margin-right: 0.5rem;
    }

.navbar-nav {
    text-align: center;
    font-size: 0.8rem;
}

.navbar-brand {
    width: 80% important;
}

    .navbar-brand img {
        max-width: 100% !important;
    }

.menuContainer .socialIcons i {
    font-size: 2.5rem;
    height: 40px;
}

.loginButton {
    border-radius: 2rem;
    height: 2.3rem;
}

.topButtons a {
    border-width: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.541);
}

    .topButtons a:hover {
        cursor: move !important;
    }

.clientLogin {
    background-color: rgb(9,52,94);
    color: #fff;
}

.shopperLogin {
    background-color: rgb(225, 222, 119);
    color: rgb(9,52,94);
}

input[type=search]:hover {
    cursor: pointer;
}

@media(max-width: 992px) {
    .navbar-collapse {
        position: fixed;
        right: 0;
        top: 70px;
        height: 100vh;
        border: 1px solid grey;
        overflow-y: auto;
    }
}

@media(max-width: 568px) {
    .navbar-collapse {
        width: 60%;
        font-size: 1.3rem;
        text-align: center;
    }

    .logo {
        width: 200px;
    }

    .menuContainer {
        padding: 5%;
    }
}

@media(min-width: 569px) and (max-width: 992px) {
    .navbar-collapse {
        width: 50%;
        right: 0;
    }

    .logo {
        width: 250px;
    }
}

/*@@media(max-width: 992px){
        .navbar-collapse{
            width: 50%;
            right: 0;
        }
    }*/

@media(min-width: 1024px) {
    .navbar-expand-lg .navbar-collapse {
        display: block !important;
    }
}

@@media(min-width: 1200px) {
    .break {
        display: flex;
        flex-basis: 100%;
        height: 0;
    }

    .flex-element {
        flex-grow: 1;
    }

    .flexContainer {
        flex-basis: 70%;
    }

    .navbar-nav {
        display: flex;
        flex-basis: 100%;
    }

    .navContainer {
        display: flex;
        flex-basis: 100%;
    }

        .navContainer li {
            font-size: 1rem;
            margin-right: 0.5em;
        }

    .logo {
        margin-top: 0;
        width: 100%;
    }
}
