﻿body {
    text-align: center;
}

.blue-border > a:hover, a.blue-border:hover {
    border-radius: 10px;
    border: 2px solid rgb(9,52,94) !important;
}

a.yellow-border:hover, .yellow-border > a:hover {
    border-radius: 10px;
    border: 2px solid rgb(225, 222, 119) !important;
}



/*new!!!!!!!!!!!!!!*/




/**/
.wrapper {
    background-size: cover;
    background-position: 50%;
    left: 0;
    /* z-index: 1000; */
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main {
    width: 100%;
    position: relative;
    z-index: 2;
}

.home_page {
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    height: 100vh;
}


.client {
    width: 28vw;
    text-align: justify;
    font-weight: lighter;
}
/* #clients {
    display: grid;
    justify-items: center;
    padding-top: 10vh;
    align-items: start;
    grid-template-areas: "client1 client2 client3";
    grid-template-rows: repeat(1, 100vh);
    grid-template-columns: repeat(3, 1fr);
}
#client1 {
    grid-area: client1;
}
#client2 {
    grid-area: client2;
}
#client3 {
    grid-area: client3;
}

#solutions {
    justify-items: center;
    padding-top: 10vh;
    display: grid;
    align-items: start;
    grid-template-areas: "solution1 solution2 solution3 solution4";
    grid-template-rows: repeat(1, 100vh);
    grid-template-columns: repeat(4, 1fr);
}
#solution1 {
    grid-area: solution1;
}
#solution2 {
    grid-area: solution2;
}
#solution3 {
    grid-area: solution3;
}
#solution4 {
    grid-area: solution4;
} */

/* .text {
color: #fff; 
margin-top: 20vh;
font-size: 8vh;
z-index: 100;
} */
/* .home_page_btn1 {
position: absolute;
margin-top: 15vh;
margin-left: 30vw;
transition-property: all;
transition-duration: 500ms;
} */
.home_page_btn1:hover {
    cursor: pointer;
    /* transform: scale(1.1); */
}

/* .home_page_btn2 {
position: absolute;
border: 1px solid rgb(46,117,182);
margin-top: 15vh;
margin-left: 58vw;
transition-property: all;
transition-duration: 500ms;
} */
.home_page_btn2:hover {
    cursor: pointer;
    /* transform: scale(1.1); */
}



/* #video {
    position: absolute;
    left: 200px;
    top: 100px;
} */
/* #iyce_text {
    position: absolute;
    top: 100px;
    right: 200px;
    width: 600px;
    text-align: justify;
} */

/* .requestquote {
    cursor: pointer;
    position: absolute;
    bottom: 20vh;
    right: 2vw;
    border-radius: 50%;  width: 250px; height: 250px; box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.479);
    transition-property: all;
    background-color: rgb(46,117,182);
    transition-duration: 500ms;
    color: #fff;
} */

/* .requestquote h3 {
    font-weight: lighter;
    font-size: 2vh; text-align: center;  margin-top: 12vh;
} */


.ddl_menu {
    background-color: rgb(9,52,94);
    border-radius: 10px;
    margin-bottom: 1px !important
}

    .ddl_menu a, .nav-item {
        color: #fff !important;
        text-align: center;
    }

/*********tabs Products and services**********/

.products_tab .nav-item.active {
    background-color: rgb(9,52,94) !important;
    border: none !important;
    font-weight: lighter;
}

/* .text-bold {
   text-align: left !important;
   color: #000;
   font-weight: bold;
} */
/* .text-mr {
    font-size: 1.4vh;
    text-align: left;
    color: #000;
}
.visit_type {
    margin-left: 1vw;
    margin-right: 1vw;
}
.visit_type_call {
    text-align: justify;

}
.visit_type span, .visit_type_call span {
    font-size: 1.5vh;
    color: rgba(225, 222, 119);
}
.video_visits {
    display: inline-block;
} */
/* #nav-video,#nav-visits, #nav-calls, #nav-emails, #nav-web, #nav-customer, #nav-other,#nav-web_based,#nav-summary {
font-size: 0.8rem;
color: rgba(0, 0, 0, 0.699) !important;
background-color: #fff !important;
} */
/* .video_visits_system {
     text-align: center;
     margin-left: 2vw;
    width: 600px;
    display: inline-block;
} */
/* .tab-pane {
    text-align: left;
    height: 700px;
    padding:20px; border: 1px solid rgb(158, 158, 158);
} */
/* .tab-pane i {
    width: 80px;
    font-size: 80px;
    vertical-align: top;
    margin: 10px;
    color: rgb(9,52,94);
} */
/* .tab-pane p {
    width: 1000px; display: inline-block;
    text-align: justify;
} */

/* #nav-web {
    overflow-y: scroll;
} */
/* #nav-visits i {
    width: 50px;
    font-size: 50px;
    margin-right: 20px;
}
#nav-visits div {
    margin-bottom: 5px;
} */

/*about us*/

/* .overlay_aboutus {
    z-index: 100;
    align-self: center;
    width: 70%;
    height: 500px;
    opacity: 0.8;
    background-color: #fff;
}


.about_text {
    width: 40%;
    padding: 4% 2% 2% 2%;
    text-align: justify;
    color: black;
} */

.btn_improve_experience h4 {
    font-weight: lighter;
    margin-top: 40px;
}

.btn_become_ashopper h4 {
    font-weight: lighter;
    margin-top: 40px;
}

/*internships*/
.overlay_internships {
    z-index: 100;
    align-self: center;
    width: 70%;
    height: 750px;
    background-color: #fff;
}

.internships {
    padding-top: 2%;
    color: rgb(0, 0, 0);
    font-weight: lighter;
    text-align: justify;
}

.intern {
    font-weight: bold;
    color: rgb(9,52,94);
}

/*how ms works*/

.overlay_how_ms_works {
    position: absolute;
    top: 70px;
    left: 200px;
    background-color: #fff;
    opacity: 0.5;
    width: 1000px;
    height: 600px;
}
/* .how_ms_works {
    position: absolute;
    top: 70px;
    left: 200px;
    width: 950px;
    padding-top: 30px;
    padding-left: 30px;
    color: #000;
    z-index: 1000;
    font-size: 25px;
    font-weight: 300;
    text-align: justify;
} */
.how_ms_works img {
}
