﻿@media only screen and (max-width: 688px) {

    .logo {
        width: 65vw;
        top: 0px;
        left: 0px;
    }

    h5 {
        font-size: 14px !important;
    }

    .modal-content {
        position: relative;
        left: 80px;
    }

    .text-focus-in h1 {
        font-size: 2rem !important;
        font-weight: bold;
    }

    .navbar {
        background-color: transparent !important;
    }

    .social-buttons-home-page a {
        display: none;
    }

    .parent {
        margin: 0 !important;
    }

    .search-box {
        border: none;
        position: fixed;
        top: 7px;
    }

    #section1204 p {
        display: none;
    }

    .form-control {
        width: 80px;
    }

    .get-started {
        width: 80px;
        height: 80px;
        font-size: 0.7rem;
        margin-top: 0px;
        padding-top: 25px;
    }

    .sidenav-link {
        font-weight: bold;
    }

        .sidenav-link.sub-link {
            font-weight: lighter;
        }

    .container-with-cards {
        padding: 0 !important;
    }

    .choose-card-btn {
        padding: .5rem;
        background-color: rgb(9,52,94);
        cursor: pointer;
    }

    .fa-angle-down {
        position: absolute;
        top: 15px;
        right: 40px;
        font-weight: bold;
    }

    .mobile-card {
        color: #000;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;
        background-color: #dddddd;
    }

    .mobile-card-image {
        margin-left: 0 !important;
        display: block;
        height: 100px;
        background-position: 50%;
        background-size: cover;
    }

    .mobile-card-content {
        background-color: rgb(218, 219, 232);
        padding: .5rem;
        font-size: 0.9rem;
    }

        .mobile-card-content p {
            color: #000 !important;
        }

    .mobile-tab {
        font-weight: bold;
        background-color: rgb(9,52,94);
        font-size: 1rem;
        text-align: center;
        cursor: pointer;
    }

    .list-group li h3 {
        display: none !important;
    }

    /*.visits-grid {
        width: inherit;
        display: grid;
        display: -ms-grid;
        grid-template-columns: 100%;
        -ms-grid-columns: 100%;
        text-align: left;
        margin: .25rem;
        background-color: #dddddd;
    }
        .visits-grid i {
            display: none;
        }
        .visits-grid p {
            width: 99%;
            padding: 2%;
            color: #000;
        }
    #video-shopping {
        background-color: #dddddd;
        color: #000;
        padding: .5rem;
    }
    #video-shopping img {
        display: none;
    }

    .video-grid {
        width: 100%;
    }
    .video-grid p {
        color: #000;
    }
    #phone-calls div, #customer-satisfaction div, #other-services div {
        background-color: #dddddd;
    }

    #phone-calls i, #customer-satisfaction i, #other-services i {
        display: none;
    }
    .call-grid {
        width: 100%;
        grid-template-columns: auto !important;
    }
    #video-shopping ul {
        font-size: 1rem;
        padding: 1rem;
        text-align: justify;
    }
    .call-grid p, .customer-grid p, .other-grid p {
        padding: .5rem;
        color: #000;
    }
    #phone-calls {
        padding-bottom: 0 !important;
    }
    .customer-grid, .other-grid {
        width: 98%;
        grid-template-columns: auto !important;
    }*/


    .list-group li div {
        /*background-color: #dddddd;
        width: inherit;*/
    }

        .list-group li div div {
            width: 98%;
            grid-template-columns: auto;
        }

            .list-group li div div p {
                padding: .7rem;
                color: #000;
            }

        .list-group li div i {
            /*display: none;*/
        }

    .mobile-tab-content, .list-group ul li {
        padding-bottom: 0;
    }

    .list-group ul li {
        padding: .7rem;
        font-size: 1rem;
        color: #000;
        text-align: justify;
    }

    .solutions-grid-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        padding: 10px;
    }

    .blue-overlayInsight {
        position: absolute;
        background-color: rgba(9, 52, 94, 0.57);
        width: calc(48.7% - 7px);
        height: calc(24.2% - 5px);
    }

    .modal-text {
        display: none;
    }

    #section1392 {
        background-color: transparent !important;
    }

    .logos-footer {
        margin: 0 !important;
    }

    .solution-item h5 {
        /*visibility: hidden;*/
        color: #fff
    }

    #pointer {
        /*display: none;*/
    }

    .testimonial p {
        font-size: 0.8rem;
    }

    .container-testimonials .card, .text-wrapper {
        height: auto;
    }

    .modal-dialog {
        width: 95vw;
    }

    #exampleModalCenter {
        padding-left: 0 !important;
    }
}

@media screen and (max-width: 1199.98px) {
    h5 {
        font-size: 12px;
    }

    .logo {
        top: 3px;
        left: 118px;
    }

    .navbar {
        padding-top: 3rem !important;
        margin-bottom: 5px !important;
    }

    .social-buttons-home-page {
        top: 20px;
        left: 10px !important;
    }

    .search-box {
        right: 1px;
    }

    .search-box-wrapper {
        width: 7rem;
        position: fixed;
        top: 5px;
        right: 8rem;
        z-index: 5000;
    }

    .navbar-light .navbar-toggler {
        width: 100px;
        background-color: #fff;
        position: relative;
        top: 20px
    }

    #pointer {
        position: relative !important;
        left: 1rem !important;
        padding-top: 2px !important;
        width: 100px !important;
        top: -98% !important;
        clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%) !important;
        height: 29px !important;
    }

    .navbar-light .navbar-toggler-icon {
        width: 100%;
    }


    .navbar {
        background-color: transparent !important;
        padding-bottom: 17px;
        padding-top: 10px;
    }

    .dropdown-item {
        color: black !important;
    }

    .nav-item, .nav-link {
        color: black !important;
    }
}

body {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 90vh;
    font-family: "Calibri","Trebuchet MS","Verdana","Arial" !important;
}

.parent .overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 1;
    background: radial-gradient( 800px 180px at 120px top, #fff, transparent );
    background-color: rgba(0, 0, 0, 0.205) !important; /*added by ivan*/
    transition-property: all;
    transition-duration: 1000ms;
}

.parent .overlay-show {
    background-color: rgba(0, 0, 0, 0.705) !important;
    opacity: 0.9 !important;
    z-index: 3000 !important;
}

/* Quote Styles*/
.quotes {
    font-family: Georgia, serif;
    font-style: italic;
    color: #fff;
    text-align: left !important;
    font-weight: normal;
    /*line-height: 2;*/
    /*margin: 0.25em 0;*/
    /*quotes: "“" "”";*/
}

    .quotes:before {
        content: open-quote;
        font-size: 3rem;
        /*height: 0;
        line-height: 0;
        left: -5px;
        position: relative;
        top: 20px;
        color: #ffffff;
        font-size: 5.0em;*/
    }

    .quotes:after {
        content: close-quote;
        font-size: 3rem;
        /*display: inline;*/
        /*display: inline;
        height: 0;
        line-height: 0;
        left: 10px;
        position: relative;
        /*top: 35px;*/
        /*color: #ffffff;
        font-size: 5.0em;
        float: right;
        padding-top: 40px;*/
    }

/* Pulsate Item*/
.pulse {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    animation: pulse 3s infinite;
    display: table;
    margin-bottom: 1px;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

.CenterSmlRes {
    text-align: left;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
    }
}

@Keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/*************NAVBAR start****************/

.navbar {
    z-index: 3001;
    padding-top: 2rem;
    margin-bottom: -20px;
}

.home-link-in-drop-down {
    display: block;
}

.navbar-nav .dropdown:hover > .dropdown-menu {
    display: block;
}
/*.dropdown-menu {
    margin-left: -3rem;
}*/
.navbar .nav-item {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.social-buttons-home-page {
    position: fixed;
    top: 10px;
    right: 2%;
    z-index: 3200;
    width: auto;
}

    .social-buttons-home-page i {
        font-size: 2rem;
        color: white;
    }

    .social-buttons-home-page li, .logos-home-page li, .social-btn-footer li {
        display: inline !important;
    }

        .social-buttons-home-page li a, .logos-home-page li a {
            text-decoration: none !important;
        }

.social-button-offices a {
    font-size: 4rem;
    color: rgb(225, 222, 119);
    display: inline;
    vertical-align: top;
    text-align: right !important;
}

.social-button-offices li {
    display: inline;
    text-align: right !important;
}

.social-button-offices ul li {
    display: inline;
    text-align: right !important;
}

.client-login-btn {
    background-color: rgb(9,52,94);
    color: #fff;
}

.client-login-btn, .shopper-login-btn {
    margin-top: -1rem;
}

.shopper-login-btn {
    background-color: rgb(225, 222, 119);
    color: rgb(9,52,94);
}

.login-btn {
    width: 100px;
    height: 1.5rem;
    border-radius: 50px;
    display: inline-block;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.541);
    vertical-align: middle;
    border: none !important;
}

/*************NAVBAR end ***************/

/*************HOME PAGE*****************/

.kenburns-bottom {
    -webkit-animation: kenburns-bottom 3s ease-out both;
    animation: kenburns-bottom 3s ease-out both;
}

@keyframes kenburns-bottom {
    0% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transform-origin: 50% 84%;
        transform-origin: 50% 84%;
    }

    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
        /* opacity: 1; */
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
        /* opacity: 0; */
    }
}

.transparentContainer {
    position: absolute;
    z-index: 3500;
    width: 100%;
    height: 100vh;
    background: grey;
    opacity: 0.2;
}

.homePageTest {
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: 0.5;
    position: fixed;
}

.contentWrapper p {
    margin: 0;
    width: 100%;
    color: #fff;
    text-align: justify;
    text-transform: none;
}

.get-started {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 300px;
    height: 60px;
    border-radius: 50px;
    font-size: 20px;
    align-self: center;
    font-weight: lighter;
    padding: 0.25rem;
    padding-top: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.541);
    transition-property: all;
    transition-duration: 500ms;
    cursor: pointer;
}

.get-started-hover {
    width: 320px;
    height: 70px;
    padding-top: 20px;
}

/*******************HOME PAGE end ***************/

/*******************FOOTER start*****************/

.logos-in-navbar {
    display: inline;
}

    .logos-in-navbar img {
        width: 9rem;
    }

/*******************FOOTER end****************/

.text-focus-in {
    -webkit-animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.social-btn-footer i {
    font-size: 2rem;
    color: rgb(9,52,94) !important;
}

.container {
    /*height: 100vh;*/
    height: auto;
    padding-top: 1rem;
    max-width: 90vw !important;
}

.sidenav {
    height: calc(113% - 120px);
    width: 300px;
    position: fixed;
    bottom: 0px;
    top: 40px;
    z-index: 3002;
    right: 0;
    background-color: #fff;
    overflow-x: hidden !important;
    overflow-y: scroll;
    transform: translate(300px);
    transition: transform 1s;
    -moz-transition: -moz-transform 1s;
    -webkit-transition: -webkit-transform 1s;
    padding-top: 60px;
    padding-left: 10px;
}

.sidenav-click {
    transform: translate(0px);
    -moz-transform: translate(0px);
    -webkit-transformtransform: translate(0px);
    -ms-transform: translate(0px);
}

.sidenav .sidenav-link {
    padding: 5px;
    text-decoration: none;
    font-size: 15px;
    color: rgb(9,52,94);
    display: block;
    transition: 0.1s;
    text-align: left;
}

.sidenav .sidenav-item {
    font-weight: lighter;
    padding: 5px;
    text-decoration: none;
    font-size: 15px;
    color: #3f3f3f;
    display: block;
    transition: 0.1s;
    text-align: left;
}

.sidenav .closebtn {
    position: absolute;
    font-weight: lighter;
    color: rgb(0, 0, 0);
    top: -10px;
    right: 20px;
    font-size: 50px;
}

/*Tile section Styles*/
.container-with-cards {
    margin: auto;
    padding: 1rem;
    max-width: 1400px;
    overflow-y: hidden;
    font-family: "Calibri light";
    justify-content: center;
    /*background-color: #fff;*/
}

.cards__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-template-rows: repeat(4, 300px);
    grid-gap: 1rem;
    grid-auto-flow: dense;
    grid-row-gap: 1rem;
    margin-bottom: 0;
}

.thecard {
    min-width: 200px;
    width: auto;
    height: 300px;
    transform-style: preserve-3d;
    transition: transform 1s;
    transform: perspective(600px);
    margin-bottom: 0.3rem;
    cursor: pointer;
}

    .thecard .btn-video {
        margin-top: 50%;
        border-radius: 50%;
        border: 2px solid #fff;
        background-color: #fff;
    }

.front {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    perspective: 600px;
}

.back {
    position: absolute;
    backface-visibility: hidden;
    width: auto;
    min-height: 300px;
    transform: rotateY(180deg);
    perspective: 600px;
}

.grid-column-span {
    grid-column: span 2;
}

.card-image {
    min-height: 300px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    perspective: 600px;
    padding: 0.5rem;
}

    .card-image h6 {
        font-size: 1rem !important;
        text-align: left;
    }

.back .card-image {
    min-height: 100%;
    height: fit-content;
    padding: 0.5rem;
}

.card-image-changed {
    min-height: 300px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    perspective: 600px;
    padding: 0.5rem;
}

.card-text {
    background-color: #fff;
}

    .card-text h6 {
        width: 90%;
        margin: auto;
        padding: 0.5rem;
        text-align: center;
        font-size: 0.8rem;
        color: #000 !important;
        text-transform: none !important;
    }

    .card-text p {
        color: #000 !important;
        line-height: 0.9rem;
        font-size: 0.8rem;
        text-align: left;
    }

.front .card-text {
    min-height: 30%;
    height: fit-content;
    display: flex;
    align-items: center;
}

.blue-overlayQandA {
    position: absolute;
    background-color: rgba(9, 52, 94, 0.57);
    width: 100%;
}

.front .blue-overlayQandA {
    height: 300px;
    z-index: 1;
}

.thecard h6 {
    position: absolute;
    bottom: 0;
    left: 10px;
    font-size: 1.5rem;
    z-index: 2;
    text-align: left;
    margin-bottom: 10px !important;
    font-weight: bold;
    width: 200px;
}

.back .blue-overlayQandA {
    height: 100%;
    margin-left: -0.5rem;
    margin-top: -0.5rem;
    z-index: -1;
}

.back .card-text {
    min-height: 300px;
    background-color: rgb(232, 231, 218);
    padding: 0.5rem;
}

.small-back-image {
    height: 50px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.thecard:hover {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.522);
}

.flip-the-card {
    transform: rotateY(180deg);
}


/**************************IMPROVE YOUR CUSTOMER EXPERIENCE***********************/

.overlayHidden {
    opacity: 0;
}

.container1, .container2, .container3, .container4, .container5, .container6, .aboutUs .container {
    /* margin-bottom: 2rem; */
    transition-property: all;
    transition-duration: 1000ms;
}

.products_accordion h6 {
    margin-bottom: 2rem;
}

.container h6 {
    color: rgb(255, 255, 255) !important;
    font-weight: lighter;
    margin-bottom: 2rem;
    font-size: 2rem;
    text-transform: uppercase;
}

#improve_your_cust_exp_text p {
    margin-top: 30px;
    color: #fff;
    font-size: 1rem;
}

#improve_your_cust_exp_text ul {
    text-align: left;
    margin-top: -15px;
    margin-left: -20px;
    color: #fff;
    font-size: 1rem;
}


.requestquote {
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.479);
    background-color: rgb(46,117,182);
    color: #fff;
    width: 100px;
    height: 100px;
    transition-property: all;
    transition-duration: 700ms;
}

    .requestquote h3 {
        font-size: 15px;
        text-align: center;
        margin-top: 33px;
        font-weight: lighter;
    }

    .requestquote:hover {
        background-color: rgb(225, 222, 119);
        color: rgb(46,117,182);
        transform: scale(1.1);
    }


.improve_exp h6 {
    font-size: 20px;
}

.requestaquote-container {
    margin-top: 10rem;
}



/********************************Testimonials******************************************/
.testimonials-background {
    background-image: url('web/images/Home3.jpg') !important;
}

.testimonials p {
    color: #000 !important;
}

.testimonials .client {
    margin-bottom: 1rem;
}

.container-testimonials {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

    .container-testimonials p {
        text-align: center;
        font-size: 1.3rem;
        width: 50%;
    }

    .container-testimonials .text-wrapper {
        padding: 0 7%;
    }

    .container-testimonials
    .card-flex-box {
        visibility: visible;
        display: flex !important;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .container-testimonials
    .card {
        margin: 1rem;
        width: 90%;
        min-height: 50vh;
        border: 1px solid #fff !important;
        border-radius: 10px !important;
        background-color: transparent !important;
    }

        .container-testimonials
        .card p {
            color: #fff !important;
            /*quotes: "«" "»" "‹" "›";*/
        }

    .container-testimonials
    .card-title {
        text-align: center;
    }

.carousel-indicators > li {
    border-radius: 50% !important;
    width: 10px;
    height: 10px;
}

.arrow-wrapper-right{
    position:absolute;
    right:1rem;
}

.arrow-wrapper-left{
    position: absolute;
    left: 1rem;
}

    .container-testimonials
    .card-text {
        background-color: transparent !important;
    }

.container-testimonials
.card .btn {
    background-color: rgba(9, 52, 94);
    border-color: rgba(9, 52, 94);
    color: #fff !important;
}

.carousel-control-next {
    right: -5rem;
}

.carousel-control-prev {
    left: -5rem;
}

.card-title img {
    max-width: 200px;
}


/***Solutions***/
@media only screen and (min-width: 689px) {
    .solutions-grid-box {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        padding: 10px;
    }

        .solutions-grid-box .blue-overlayInsight {
            position: absolute;
            background-color: rgba(9, 52, 94, 0.57);
            height: calc(48% - 5px);
            width: calc(24.5% - 7px);
        }

    .modal-text {
        display: none;
    }
}

.solution-item {
    height: 25vh;
}

.solution-image, .modal-image {
    height: 100%;
    background-size: cover;
    background-position: 50%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-image {
    height: 25vh;
    display: block;
}

.solution-item h5 {
    z-index: 2;
    position: relative;
    color: #fff;
    vertical-align: middle;
    padding: .25rem;
}

.modal-dialog {
    max-width: 50%;
    margin-top: 10rem;
}
/********************Products**************************/
#nav-tab {
    margin-left: 0;
    margin-right: 0;
}

.nav-tabs .nav-link {
    border-radius: .25rem !important;
}

.products_tab .nav-item.active, .reporting-insights .nav-item.active {
    background-color: rgb(9,52,94) !important;
    border: none !important;
    font-weight: lighter;
}

.tab-pane {
    padding: 0.8rem;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.699) !important;
    background-color: rgba(255, 255, 255, 0.8) !important;
    min-height: 60vh !important;
    height: auto;
    overflow: auto;
}
    /*.section-with-tabs {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}*/
    .tab-pane > div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        align-content: flex-start;
    }

    .tab-pane h3 {
        width: 100%;
    }

    .tab-pane i.fas, .fas, .fab, .far {
        font-size: 3rem;
        color: rgb(9,52,94);
        justify-self: center;
        align-self: center;
        -ms-grid-column: 1;
        -ms-grid-column-align: center;
    }

#accordionVisits, #accordionReports {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#nav-visits > div, #nav-video > div, #nav-calls > div, #nav-emails > div, #nav-customer > div, #nav-other > div, .card-visits, .card-videos, .card-calls, .card-email, .card-customer, .card-other, .internships-flex, .franchise-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-content: flex-start;
}

#nav-web {
    overflow-y: scroll;
    max-height: 60vh;
}



    .test::-webkit-scrollbar, #nav-visits.active.show::-webkit-scrollbar, #nav-video.active.show::-webkit-scrollbar, #nav-web::-webkit-scrollbar, #nav-customer::-webkit-scrollbar, #nav-other::-webkit-scrollbar {
        width: 10px;
    }

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #eeeeee;
}

.test::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #13185E;
}

.test::-webkit-scrollbar-thumb {
    background: #ECE87D;
    border-radius: 10px;
}


::-webkit-scrollbar-thumb {
    background: rgb(9,52,94);
    border-radius: 10px;
}

@media screen and (max-width: 1690px), screen and (max-height: 890px) {
    #nav-visits.active.show, #nav-video.active.show, #nav-customer.active.show, #nav-other.active.show {
        overflow-y: scroll;
        max-height: 60vh;
    }
}

#nav-visits p {
    align-self: center;
}

#nav-visits h3, #nav-video h3, #nav-calls h3, #nav-emails h3, #nav-customer h3, #nav-other h3, .card-visits h3, .card-videos h3, .card-calls h3, .card-email h3, .card-customer h3, .card-other h3 {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.3rem !important;
}

.nav-tabs .nav-item {
    font-size: 0.9rem;
    padding: .5rem 0.5rem !important;
}

.card {
    border: 1px solid rgb(9, 52, 94) !important;
    border-radius: 0 !important;
}

.card-header {
    background-color: rgb(9, 52, 94) !important;
    box-shadow: 3px 0px 10px #000;
    border: 1px solid rgb(9, 52, 94) !important;
    border-radius: 0 !important;
}

    .card-header button {
        text-transform: uppercase;
        text-decoration: none !important;
        color: #fff;
    }

.card-visits h3, .card-calls h3, .card-email h3, .card-customer h3, .card-videos h3, .card-other h3 {
    font-size: 1.25rem;
}

.visits-grid, .customer-grid, .other-grid {
    width: 48%;
    display: grid;
    display: -ms-grid;
    grid-template-columns: 80px auto;
    -ms-grid-columns: 20% 80%;
    text-align: left;
    margin: .25rem;
}

    .visits-grid p, .customer-grid p, .call-grid p {
        -ms-grid-column: 2;
    }

.visits-small, .video-small, .call-small, .email-small, .customer-small, .other-small {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 80%;
    text-align: justify;
}

.visit-title, .call-title, .email-title, .customer-title, .other-title, .internship-title, .franchise-title {
    text-transform: uppercase;
    color: rgb(9,52,94);
    font-size: 1.2rem;
}

.show-more {
    display: none;
}

.ul_video_visits {
    text-align: left;
}

.video-grid {
    width: 50%;
}

.video-small {
    justify-self: center;
    align-self: center;
}

.video-grid p, .email-grid p, .customer-grid p, .other-grid p {
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: justify !important;
    -ms-grid-column: 2;
}

.call-grid {
    width: 30%;
    display: grid;
    grid-template-columns: 80px auto;
    display: -ms-grid;
    -ms-grid-columns: 20% 80%;
    text-align: left;
}

.email-grid {
    width: 90%;
    display: grid;
    display: -ms-grid;
    grid-template-columns: 80px auto;
    -ms-grid-columns: 10% 90%;
    text-align: left;
}

/*******************************About Us************************************/
.wrapper-aboutUs {
    padding-left: 20px;
    padding-right: 20px;
}

    /* #aboutUs-overlay {
    opacity: 0.3;
    filter: alpha(opacity=50);
    height: calc(100vh + 510px);
} */

    .wrapper-aboutUs .container {
        margin-bottom: 2rem;
    }

.aboutUs-container1 {
    margin-top: 6rem;
}

.aboutUs {
    padding-top: 5rem;
}

    .aboutUs h3, .contactus-container h3 {
        text-transform: uppercase;
        font-size: 1.25rem;
        color: #fff;
        font-weight: lighter;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

.aboutUs-row, .vacancies-row, .internship-row, .franchise-row, .offices-row {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1rem;
    padding-top: 2rem;
}

    .aboutUs-row p {
        text-align: justify;
    }

#aboutUs-buttons {
    display: flex;
    justify-content: space-between;
    width: 440px;
    position: fixed;
    z-index: 2999;
    bottom: 20px;
    right: 20px;
}

.btn_improve_experience, .btn_become_ashopper {
    font-weight: lighter;
    color: #fff;
    line-height: 1.5rem;
    font-size: 1.3rem;
    z-index: 1000;
    cursor: pointer;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.479);
}

.btn_improve_experience {
    padding-top: 2rem;
    right: 200px;
    background-color: rgb(46,117,182);
}

.btn_become_ashopper {
    padding-top: 2.5rem;
    left: 20px;
    background-color: rgb(225, 222, 119);
}

    .btn_become_ashopper span {
        font-size: 1.7rem;
    }

    .btn_become_ashopper a {
        font-weight: bold;
        color: #fff;
    }
/****Vacancies*****/

.vacancies-row {
    justify-content: center;
}

.vacancies-background {
    height: 50vh;
    background-image: url('web/images/vacancies123.jpg');
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.479);
    background-size: cover;
}

.vacancies-off-background {
    height: 50vh;
    background-image: url('web/images/vacanciesoff.png');
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.479);
    background-size: cover;
}

.vacancies-row h6 {
    color: #000 !important;
}

.internship-grid p, .franchise-grid p {
    text-align: justify
}

/**************Officies****************/
.offices-row {
    text-align: left;
    color: #000;
    font-size: 0.7rem;
}

    .offices-row .form-group {
        margin-bottom: 0 !important;
    }
/**********************Become a shopper***************************/
#becomeashopperId {
    background-image: url('web/images/becomeashopper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    background-attachment: fixed;
}

.shopperpage-quote {
    right: 250px !important;
    bottom: 20px;
    z-index: 2998;
}

.shopperpage-btn {
    right: 20px !important;
    bottom: 20px;
    position: fixed;
    z-index: 2998;
    left: auto !important;
    transition-property: all;
    transition-duration: 700ms;
}

    .shopperpage-btn:hover {
        transform: scale(1.1);
        background-color: rgb(46,117,182);
        color: rgb(225, 222, 119);
    }

.become-a-shopper {
    margin-top: 5rem;
    text-align: left;
    color: #fff;
}

    .become-a-shopper .form-group {
        border-bottom: 1px solid rgb(192, 192, 192);
    }

        .become-a-shopper .form-group:after {
            content: '✉️';
            margin-right: 1rem;
            width: 2em;
            height: 2em;
            display: block;
            position: absolute;
            right: 0;
            margin-top: -1.8em;
        }

.submit-becomeashopper {
    background-color: #4F81BD;
    border-radius: 0 !important;
    font-weight: bold;
    padding: .75em;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

#exampleInputEmail123 {
    background: transparent !important;
    border: none !important;
}

.whatisms-video {
    padding-top: 5rem;
    color: #fff;
    margin-bottom: 15rem;
}

.whatisms-text {
    background-color: rgba(127, 127, 127, 0.3);
    padding: 2rem;
}

.whatisms-video img {
    width: 60vw;
    margin-top: 5rem;
}

.tips {
    height: 100%;
    background-color: #fff;
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    color: #fff;
    font-size: 1rem;
    margin: 1rem auto 1rem auto;
}

.circle-1 {
    background-color: rgb(235, 227, 14);
    padding-top: 3rem;
}

.circle-2 {
    background-color: rgb(225, 222, 119);
    padding-top: 2.5rem;
}

.circle-3 {
    background-color: rgb(79, 129, 189);
    padding-top: 3.5rem;
}

.circle-4 {
    background-color: rgb(3, 49, 127);
    padding-top: 3rem;
}

.circle-5 {
    background-color: rgb(9, 52, 94);
    padding-top: 1.5rem;
}


/* #becomesh-overlay {
    opacity: 0;
    transition: all;
    transition-duration: 1000ms;
} */


/********Contact Us************/

.contactus-container h3 {
    margin-top: 7rem;
}

.wrapper-login .nav-item, .wrapper-login .nav-link {
    color: #000 !important;
}

.login-form {
    margin-top: 20rem;
}

.requestaquote-row {
    background-color: rgba(33,62,89, 0.9);
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #fff;
}
/*******************************MEDIA***************************************/



@media screen and (orientation: landscape) {
    .arrows {
        display: block;
        max-height: 100%;
    }

    .home_arr1 {
        height: 100px;
        margin-right: -30px;
    }

    .home_arr2 {
        height: 80px;
        margin-left: -30px;
    }

    .btn1_sm {
        margin: -60px 20px auto auto;
    }

    .btn2_sm {
        margin: -60px 0px auto 110px;
    }


    .improve_exp img {
        max-width: 300px;
    }

    .improve_exp {
        max-width: none;
        text-align: center;
    }

    #imp .overlay {
        min-height: 1800px;
    }

    #video {
        width: 320px;
    }

    #improve_your_cust_exp_text {
        width: 40vw;
    }

        #improve_your_cust_exp_text p {
            margin-top: 10px;
        }

    .visits-small, .video-small {
        width: 46%;
    }
}

@media screen and (min-width: 768px) and (orientation: portrait) {


    .visits-small, .video-small {
        width: 46%;
    }

    .internship-grid, .franchise-grid {
        width: 90%;
        display: grid;
        grid-template-columns: 90px auto;
        text-align: left;
    }

    .requestquote {
        width: 150px;
        height: 150px;
    }

    .shopperpage-quote {
        width: 250px;
        height: 250px;
    }

    .requestquote h3 {
        width: 150px;
        height: 150px;
        font-size: 20px;
        margin-top: 50px;
    }

    .whatisms-video {
        margin-bottom: 33rem;
    }

    .become-a-shopper {
        margin-top: 15rem;
    }

    .whatisms-video img {
        width: 40vw;
    }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
    .arrows {
        display: block;
        max-height: 70%;
    }

    .buttons-home {
        margin-top: -5rem;
    }

    .btn1_sm {
        margin-right: 80px;
        width: 200px;
        height: 200px;
    }

    .btn2_sm {
        margin: -60px 0px auto 180px;
    }

    .btn1_sm h3 {
        font-size: 1.8rem;
        margin-top: 1.5rem;
    }

    .btn2_sm h3 {
        font-size: 1.3rem;
        margin-top: 1.5rem;
    }

        .btn2_sm h3 span {
            font-size: 2rem;
        }

    .btn2_sm {
        width: 200px;
        height: 200px;
    }
    /* .main_content {
        position: fixed;
        margin-left:100px;
    } */
    .visits-small, .video-small {
        width: 46%;
    }

    #video {
        width: 40vw;
    }

    .improve_exp img {
        max-width: 100%;
    }

    #improve_your_cust_exp_text p, #improve_your_cust_exp_text li {
        font-size: 1rem;
        text-align: left;
    }

    .improve_exp h6, #become-a-shopper-page .row h6 {
        text-transform: uppercase;
        font-size: 1.9rem;
    }

    #become-a-shopper-page .container {
        margin-top: 10rem;
    }

    .requestquote {
        width: 150px;
        height: 150px;
    }

    .shopperpage-quote {
        width: 200px;
        height: 200px;
    }

    .requestquote h3 {
        width: 150px;
        height: 150px;
        font-size: 1.3rem;
        margin-top: 50px;
    }

    .shopperpage-quote h3 {
        width: 200px;
        height: 200px;
        text-align: center;
        font-size: 1.5rem;
        margin-top: 70px;
    }

    .internship-grid, .franchise-grid {
        width: 90%;
        display: grid;
        grid-template-columns: 90px auto;
        text-align: left;
    }

    .become-a-shopper {
        margin-top: 15rem;
    }

    .whatisms-video img {
        width: 40vw;
    }
}

@media screen and (min-width: 1000px) and (orientation: landscape) {
    .landscape_display_block {
        display: block;
    }
}



@media screen and (min-width: 1200px) and (orientation: landscape) {
    .improve_exp {
        padding-top: 3rem;
    }

    .search-box-wrapper {
        width: 15rem;
        position: absolute;
        top: 10px;
        right: 20rem;
        z-index: 5000;
    }

    body {
        transition-property: background-image;
        transition-duration: 1000ms;
    }

    .buttons-home {
        margin-top: 0;
    }

    .dd_improve .dropdown-menu {
        margin-left: -4.5rem;
    }

    .dd_improve .dropdown-item, .dd_about .dropdown-item, .dd_become-a-shopper .dropdown-item {
        color: #fff !important;
        /* border-radius: 10px !important; */
        margin-top: 1px;
        /* background-color: rgba(0, 0, 0, 0.384) !important; */
        margin-left: 1.5rem;
        background: transparent;
    }

    .dd_improve .dropdown-item {
        margin-left: 2rem;
    }

    .dd_about .dropdown-item {
        margin-left: 6rem;
    }

    .dd_become-a-shopper .dropdown-item {
        margin-left: -0.5rem;
    }

        .dd_about .dropdown-item:hover, .dd_improve .dropdown-item:hover, .become-shopper .dropdown-item:hover, .dd_become-a-shopper .dropdown-item:hover {
            background-color: transparent !important;
        }



    .body-left-logo .logo {
        top: 55px;
        left: 253px;
    }

    #imp .overlay {
        position: absolute !important;
        min-height: calc(100vh + 510px);
    }

    #shopper-overlay {
        position: absolute !important;
        min-height: calc(100vh + 100px);
    }

    #becomeashopperId .logo {
        top: -10px;
        bottom: 50%;
        right: 50%;
        transform: translate(50%,50%);
    }

    .become-a-shopper {
        margin-top: 20rem;
    }


    .contactus-container {
        max-width: 90% !important;
    }


    .how_ms_works {
        padding: 2rem 2rem 0 2rem;
    }

    .how_ms_works_row h6 {
        display: inline-block;
    }

    .how_ms_works_row {
        justify-content: start;
    }

    .requestquote {
        width: 200px;
        height: 200px;
    }

        .requestquote h3 {
            width: 200px;
            height: 200px;
            text-align: center;
            font-size: 1.5rem;
            margin-top: 70px;
        }

    .internship-grid, .franchise-grid {
        width: 50%;
        display: grid;
        grid-template-columns: 80px auto;
        text-align: left;
    }

    #aboutUs-overlay {
        position: absolute !important;
        min-height: calc(100vh + 510px);
    }

    .aboutUs {
        padding-top: 3rem;
    }

        .aboutUs h3 {
            font-size: 2rem;
        }

    .whatisms-video img {
        width: 20vw;
        margin-bottom: 5rem;
    }

    .whatisms-video {
        padding-top: 8rem;
        font-size: 1.8rem;
        font-weight: lighter;
    }

    .circle {
        margin-left: .5rem;
        margin-right: .5rem;
    }

    .wrapper-aboutUs .container {
        margin-top: 5rem !important;
    }
}

@media screen and (min-width: 1640px) and (orientation: landscape) {
    .homePage {
        margin-top: 15rem;
        max-width: none !important;
    }
}

@media screen and (min-width: 1200px) {
    .body-left-logo .logo {
        top: 55px;
        left: 253px;
    }

    .search-box-wrapper {
        width: 15rem;
        position: absolute;
        top: 10px;
        right: 20rem;
        z-index: 5000;
    }
}

/*************************** Modified Styles **************************/

.test {
    width: 100%;
    display: block;
    overflow-y: scroll;
    height: 85.5vh;
}

h1 {
    color: #fff;
    text-align: center;
}

body {
    font-family: 'Open Sans';
}

.tab-pane i {
    font-size: 3rem;
    color: rgb(9,52,94);
    justify-self: center;
    -ms-grid-column: 1;
    -ms-grid-column-align: center;
}

.logo {
    position: relative;
    width: 25vw;
    z-index: 3100;
}

.wrapper {
    padding: 0 0;
    max-width: 1200px;
    text-align: center;
}

.right {
    float: right !important;
}
/* Image zoom on hover + Overlay colour */
.parent {
    min-height: 400px;
    height: auto;
    overflow-y: hidden;
}

.child {
    height: 100vh;
    width: 100%;
    background-image: url('web/images/Background v6.jpg');
    background-size: cover;
    moz-background-size: cover;
    webkit-background-size: cover;
    o-background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    z-index: -2;
    position: fixed;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}

.zoom {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}


.home-page {
    margin-top: 50px !important;
}

.contentWrapper {
    width: 80%;
    /*min-height: 90vh;*/
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 0%;
    z-index: 100;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
}


.contentWrapper {
    margin-bottom: 45vh;
    min-height: 50vh;
    height: auto;
}

.container p img {
    max-width: 100%;
}

#section1203 p {
    text-align: center;
}

    #section1203 p img {
        max-width: 23%;
    }

.get-started {
    margin-top: 20px;
}

.sectionHeading h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: #fff;
}

.sectionHeading {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.text-focus-in .container {
    margin: 0 auto !important;
}

.text-focus-in h1 {
    font-size: 4rem !important;
    text-transform: uppercase;
    color: #fff;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.text-focus-in p {
    display: block;
    color: #fff;
    font-size: 1.2rem;
    margin: 0;
    line-height: 2rem;
    width: 100%;
    text-shadow: 0px 0px 5px #00000044;
    text-align: center;
}

h6 {
    text-align: center;
}

ul li {
    padding-bottom: 1.5rem;
}

    ul li span {
        line-height: 1rem;
        margin-left: 0.5rem;
    }

p {
    font-size: 1rem;
    /*color: #fff;*/
    text-align: left;
}

.content-catcher {
    width: 100vw;
    height: 100px;
    background-color: transparent;
    z-index: 1025;
    top: 0;
    left: 0;
    display: block;
    position: fixed;
}



.tracking-in-contract {
    -webkit-animation: tracking-in-contract 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-contract 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-contract {
    0% {
        letter-spacing: 0.2em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        letter-spacing: normal;
        opacity: 1;
    }
}

@keyframes tracking-in-contract {
    0% {
        letter-spacing: 0.2em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        letter-spacing: normal;
        opacity: 1;
    }
}


/* Media Queries */
@media screen and (max-width: 960px) {
    /*.parent {
        width: 100%;
        margin: 20px 0px
    }

    .wrapper {
        padding: 20px 20px;
    }*/
}

/*
    NAVIGATION
*/

#navbarNavAltMarkup .nav-item, #navbarNavAltMarkup .nav-link {
    color: #fff;
}

    #navbarNavAltMarkup .nav-item:hover, #navbarNavAltMarkup .nav-link:hover {
        cursor: pointer;
    }

.navbar-nav {
    margin-right: 1rem;
}

    .navbar-nav a {
        border: 2px solid transparent !important;
    }

.blue-border > a:hover, a.blue-border:hover {
    border-radius: 10px;
    border: 2px solid rgb(9,52,94) !important;
}

a.yellow-border:hover, .yellow-border > a:hover {
    border-radius: 10px;
    border: 2px solid rgb(225, 222, 119) !important;
}

.navbar-nav a:active {
    background-color: transparent !important;
}

.dropdown-menu {
    background-color: transparent !important;
    border: none !important;
    margin-top: -10px !important;
}

    .dropdown-menu .dropdown-item {
        text-align: center !important;
        font-weight: lighter;
    }

.fadeIn {
    opacity: 1;
    transition: opacity 1.2s;
}

.fadeOut {
    opacity: 0;
    transition: opacity 0.5s;
}

.contentWrapper h6 {
    color: rgb(255, 255, 255) !important;
    font-weight: lighter;
    margin-bottom: 2rem;
    /*font-size: 2rem;*/
    text-transform: uppercase;
}

ul {
    list-style-type: none;
    text-align: left;
    font-size: 0.8rem;
    padding-left: 0;
}

.tab-pane p {
    color: #000 !important;
}

/*FOOTER*/

#footer {
    background-color: #fff;
    color: rgb(9,52,94) !important;
    z-index: 100;
    display: block;
    position: relative;
    margin-top: 3rem;
}

    #footer a {
        color: rgb(9,52,94) !important;
        padding: 0 !important;
    }

    #footer .container {
        padding-top: 2rem !important;
        height: auto !important;
        text-align: center;
    }

    #footer h6 {
        font-weight: bolder;
        font-size: 1rem;
        margin-bottom: 0.25rem;
    }

    #footer li {
        padding-bottom: 0;
        text-align: center;
    }

    #footer p {
        text-align: center;
        font-size: 0.8rem;
        color: rgb(9,52,94) !important;
    }

.logos-footer {
    margin: -3rem -2rem 1rem auto;
}

.modal-content {
    margin-top: -7rem;
}

.modal {
    z-index: 5000;
}

.modal-dialog {
    width: 80vw;
    max-width: 100vw;
}

.search-results {
    display: block;
    position: relative;
    z-index: 5000;
    margin-left: 0;
    background-color: #fff !important;
}


#search-dropdown {
    margin-top: 0.4rem !important;
}

.search-box {
    display: inline-flex;
    /*position: absolute;
    top: 10px;
    right: 20rem;*/
    z-index: 5000;
    border: 1px solid #fff;
    border-radius: 10px;
    width: 200px;
}

.searchresults {
    margin-top: 2rem;
}

.fa.fa-search {
    color: #fff;
    position: relative;
    right: 20px;
}

.search-results {
    /*display: block;
    position: absolute;
    top: 70px;
    left: 65rem;*/
    z-index: 5000;
}

    .search-results a, .searchresults p {
        color: #000;
        font-size: 1rem;
        text-align: center;
    }


.form-control {
    width: 450px;
    background-color: transparent;
    border: none;
}

input::placeholder {
    color: #fff !important;
}

.container-testimonials
.card {
    margin: 1rem;
    height: 60vh;
    border: 1px solid #fff !important;
    border-radius: 10px !important;
    background-color: transparent !important;
    width: 95%;
}

.container-testimonials
.card-body {
    display: table;
}

.container-testimonials
.card p {
    display: table-cell;
    vertical-align: middle;
    color: #fff !important;
    /*quotes: "«" "»" "‹" "›";*/
}

.container-testimonials
.card-title {
    text-align: center;
}

.text-wrapper {
    display: table;
    height: 300px;
}

/*.arrow-wrapper {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: table;
}*/

.arrow-wrapper-left {
    margin-left: 2rem;
}

.arrow-wrapper-right {
    margin-right: 2rem;
    padding-left: 0.4rem;
}

.carouselWithIndictators .card{
    height: auto !important;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    padding-left: 2rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 35px;
    width: 35px;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    background-color: #fff;
}

.fa-chevron-right {
    color: rgb(9,52,94);
    font-size: 1.5rem !important;
    position: absolute;
    margin-left: -1.4rem;
    margin-top: 0.4rem;
}

.fa-chevron-left {
    color: rgb(9,52,94);
    font-size: 1.5rem !important;
    position: absolute;
    margin-left: -1.6rem;
    margin-top: 0.4rem;
}

.solutions-badge {
    position: absolute;
    margin-left: 1rem;
    margin-top: -14.5rem;
}

.fa-play {
    position: absolute;
    color: #ffc107;
    border: none;
    top: 2px;
    left: 58px;
    font-size: 1.9rem !important;
}


#pointer {
    position: relative;
    left: 1rem;
    padding-top: 2px;
    width: 140px;
    top: -97%;
    clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
    height: 32px;
}


/*#pointer:before {
        content: "";
        position: absolute;
        right: -15px;
        bottom: 0;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
    }*/



@media only screen and (max-width: 1400px) {
    .mobile-tab {
        font-weight: bold;
        background-color: rgb(9,52,94);
        font-size: 1rem;
        text-align: center;
        cursor: pointer;
    }


    .list-group li h3 {
        display: none !important;
    }

    .list-group li div {
        /*background-color: #dddddd;
        width: inherit;*/
    }

        .list-group li div div {
            width: 98%;
            grid-template-columns: auto;
        }

            .list-group li div div p {
                padding: .7rem;
                color: #000;
            }

        .list-group li div i {
            /*display: none;*/
        }

    .mobile-tab-content, .list-group ul li {
        padding-bottom: 0;
    }

    .list-group ul li {
        padding: .7rem;
        font-size: 1rem;
        color: #000;
        text-align: justify;
    }
}

.FAQsWFntAwsm {
    color: #fff;
    padding-left: 1em;
    text-decoration: underline;
    font-size: 133%;
}

.circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    font-size: 25px;
    color: #fff;
    line-height: 40px;
    background: rgb(46,117,182);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.officeptag {
    text-align: right;
    font-size: 20px;
}

.social-icons-list {
    display: inline;
    position: absolute;
    top: 5px;
    right: 5px;
}


/*Modal Styles*/

.modal-title{
    margin: 0 auto;
}

.modal a {
    color: #09345E;
}

.modal-footer button {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: none;
    border-radius: 10px;
    padding: 0.5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.522);
}

.modal-footer p {
    width: 100%;
    color: #000;
    text-align: justify;
}

.modal-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.blueModal {
    background-color: rgb(9,52,94) !important;
    color: white !important;
}

.whiteClose {
    color: #fff;
}

.darkClose {
    color: #000;
}

.whiteModal {
    background-color: white !important;
    color: #000 !important;
}

/*Footer*/

.logos-in-navbar {
    display: inline;
}

    .logos-in-navbar img {
        width: 9rem;
    }

/*Modal Styles*/
.modal-footer button {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: none;
    border-radius: 10px;
    padding: 0.5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.522);
}

.modal-footer p {
    width: 100%;
    color: #000;
    text-align: justify;
}

.modal-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.blueModal {
    background-color: rgb(9,52,94) !important;
    color: white !important;
}

.whiteClose {
    color: #fff;
}

.darkClose {
    color: #000;
}

.whiteModal {
    background-color: white !important;
    color: #000 !important;
}

/*Footer*/

.logos-in-navbar {
    display: inline;
}

    .logos-in-navbar img {
        width: 9rem;
    }

@media (max-width: 967px){
    .container-testimonials p {
        font-size: 1rem;
        padding-bottom: 70px;
    }

    

    .container-testimonials .card {
        margin: 1rem;
        height: auto;
        border: 1px solid #fff !important;
        border-radius: 10px !important;
        background-color: transparent !important;
        width: 95%;
    }
}

@media(min-width: 719px) and (max-width: 968px){
    .container-testimonials p {
        font-size: 1.1rem;
        padding-bottom: 60px;
    }
}

@media(max-width: 1600px){
    .arrow-wrapper-right {
        margin-right: 3rem;
        padding-left: 0.4rem;
    }

    .arrow-wrapper-left {
        margin-left: 3rem;
        padding-left: 0.4rem;
    }
}


