/* body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "calibri light";
    font-size: 16px;
    background-image: url('./images/Background\ v6.jpg')
} */

.wrapper{
    display:block;
    width: 80%;
    margin: 0 auto;
    height: auto;
}

.container{
    width: 100%;
    height: 100%;
    position: relative;
}

.container h1{
    text-align:center;
    display: block;
}

.contentContainer{
    width: 100%;
    height: 89vh;
    position: relative;
    display: block;
}

.bubble{
    position: absolute;
    width: 20%;
    height: 25%;
    border-radius: 100%;
    margin: 10px;
    background-color: rgb(9,52,94);
    cursor: pointer;
    z-index: 1;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.788);

}

.bubble h2{
    font-size: 1rem;
    color:#fff;
    font-weight: lighter;
    text-transform: uppercase;
}

.bubble p{
    font-size: 1rem;
    color:#fff;
    font-weight: normal;
}
#b0:hover { 
    background-color: #E7E19E;
    /* box-shadow: 0px 0px 20px rgb(4, 30, 56); */
}
.bubble:hover #b01 { 
    background-color: #939872;
    /* box-shadow: 0px 0px 20px rgb(4, 30, 56) */
}
.bubble:hover #b001 { 
    background-color: #3B4845;
    /* box-shadow: 0px 0px 20px rgb(9,52,94); */
}
.bubble:hover #b0001 { 
    background-color: #272F3A;
    /* box-shadow: 0px 0px 20px rgb(9,52,94); */
}
#b0 {
    width: 280px;
    height: 280px;
    background-color: rgb(4, 30, 56);
    transition: background-color 1s;
}
#b01 {
    position: absolute;
    left: 5px;
    top: 10px;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background-color: rgb(9,52,94);
    transition: background-color 1s;
    /* box-shadow: 0px 0px 20px rgb(4, 30, 56) */
}
#b001 {
    position: absolute;
    left: 5px;
    top: 10px;
    width: 210px;
    height: 210px;
    padding: 0.25rem;
    border-radius: 100%;
    background-color: rgb(46, 117, 182);
    transition:  background-color 1s;
    /* box-shadow: 0px 0px 20px rgb(9,52,94); */
}
#b0001 {
    position: absolute;
    left: 5px;
    top: 10px;
    width: 180px;
    height: 180px;
    padding: 0.25rem;
    border-radius: 100%;
    background-color: rgb(86, 165, 240);
    transition: background-color 1s;
    /* box-shadow: 0px 0px 20px rgb(9,52,94); */
}



#b1 {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0 5px 50px rgba(#000,.85);
    background-image: url('./images/charles-forerunner-3fPXt37X6UQ-unsplash.jpg');
    background-size: cover;
}
#b1 h2, #b1 span, .bubble h2 {
    opacity: 0;
    transition: opacity 1s;
}
#image-overlay {
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.527);
    border-radius: 20px;
    opacity: 0;
    transition: opacity 1s;
}
#b1:hover h2, #b1:hover #image-overlay, #b1:hover span, .bubble:hover h2, .bubble:hover .image-overlay1 {
    opacity: 1;
}
#b1 .textContainer {
    left: 3%;
}

.bubble {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    overflow: hidden;
}
.bubble-inside1 {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    /*background-image: url('../Media/sabrina-mazzeo-g-krQzQo9mI-unsplash.jpg');*/
    background-size: cover;
    background-position: bottom 0px right 0px;
    background-repeat: no-repeat;
    transition: all 1s linear;
}

.image-overlay1 {
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.527);
    opacity: 0;
    transition: opacity 1s;
    z-index: 3;
}
.bubble:hover .ubble-inside1 {
    transform: scale(1.5);
}
@keyframes animateBubble{
    
   
    
    100%{
        transform:scale(2.5);
        cursor:default;
        
    }
}

@keyframes animateOtherBubbles{
    
    100%{
        transform:scale(0.8);
/*
        left: 10%;
        display:block;
        position: absolute;
        margin-top: 20px;
*/
    }
}

.overlay{
    background-color: #000;
    opacity: 0.5;
    position:absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    border-radius:100%;
}

.animateBubble{
/*
    top: 40%;
    right: 10%;
*/
    animation: animateBubble 1s forwards;
/*
    transition: top 1s linear;
    transition: left 1s linear;
*/
    
}

.animateOtherBubbles{
    animation: animateOtherBubbles 1s forwards;
}

.largeBubble{
    position: absolute;
    width: 30%;
    height: 35%;
    border-radius: 100%;
    margin: 10px;
    background-color: #4472C4;
    top: 30%;
    left: 35%;
    opacity: 0;
}

.textContainer{
    width: 90%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #Efff;
    font-weight: 600;
    text-align: center;
    font-size: 1rem;
    z-index: 4;
    padding: 0.25rem;
}

.selected .textContainer{
    margin-top: 0;
}

.selected .textContainer h2{
    color: #fff;
    font-size: 0.9rem;
    padding: 0;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
    margin-top: -10px;
    
}

.selected .textContainer p{
    font-size: 0.9rem;
    margin: 0;
}

.largeBubble .textContainer{
    position: absolute;
    background-color: #fff;
    color: #000;
    border: 2px outset #000;
    box-shadow: 2px 2px;
    width: 85%;
    margin-left: 6%;
    margin-right: 6%;
    top: 100%;
    opacity: 0;
    border-radius: 6%;
    z-index:4;
}

@keyFrames showAnswer{
    0% {
        z-index: 1;
    }
    
    100% {
        top: 50%;
        opacity: 1;
    }
}

@keyFrames hideAnswer{
    0% {
        opacity: 1;
        z-index: 1;
    }
    
    100% {
        top: 100%;
        opacity: 1;
    }
}

.showBackground{
    background-image:url('images/customers.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.showAnswer{
    
    animation: showAnswer 0.5s forwards;
}

.hideAnswer{
    
    animation: hideAnswer 0.5s forwards;
}



#b0{
    bottom: 5%;
    left: 53%;
}

#b1{
    bottom: 43%;
    right: 10% ;
}

#b2{
    bottom: 70%;
    left:40%;
}

#b3{
    bottom: 43%;
    left:10%;
}

#b4{
    bottom: 5%;
    left: 25%;
}




/*
header{
    position: relative;
}

.container h1{
    width:100%;
    text-align:center;
}

.contentContainer{
    width: 95%;
    height: 100%;
    margin: 10px auto;
    border: 1px solid #000;
}

.bubble{
    position: relative;
    bottom: 0;
    width: 15vw;
    height: 20vh;
    border-radius: 100%;
    background-color: blue;
}
*/
