﻿/*Global Styles*/ 

body {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 90vh;
    font-family: "Calibri","Trebuchet MS","Verdana","Arial" !important;
    margin: 0;
    padding: 0;
}

.modalPopUp,a {
    cursor: pointer;
}

/* Overlays*/
.parent .overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 1;
    background: radial-gradient( 800px 180px at 120px top, #fff, transparent );
    background-color: rgba(0, 0, 0, 0.205) !important; /*added by ivan*/
    transition-property: all;
    transition-duration: 1000ms;
}

.parent .overlay-show {
    background-color: rgba(0, 0, 0, 0.705) !important;
    opacity: 0.9 !important;
    z-index: 3000 !important;
}

/*NAVBAR*/

.navbar {
    z-index: 3001;
    padding-top: 2rem;
    margin-bottom: -20px;
}

.home-link-in-drop-down {
    display: block;
}

.navbar-nav .dropdown:hover > .dropdown-menu {
    display: block;
}

.navbar .nav-item {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/* Mobile Navigation */
.sidenav {
    height: calc(113% - 120px);
    width: 300px;
    position: fixed;
    bottom: 0px;
    top: 40px;
    z-index: 3002;
    right: 0;
    background-color: #fff;
    overflow-x: hidden !important;
    overflow-y: scroll;
    transform: translate(300px);
    transition: transform 1s;
    -moz-transition: -moz-transform 1s;
    -webkit-transition: -webkit-transform 1s;
    padding-top: 60px;
    padding-left: 10px;
}

.sidenav-click {
    transform: translate(0px);
    -moz-transform: translate(0px);
    -webkit-transformtransform: translate(0px);
    -ms-transform: translate(0px);
}

.sidenav .sidenav-link {
    padding: 5px;
    text-decoration: none;
    font-size: 15px;
    color: rgb(9,52,94);
    display: block;
    transition: 0.1s;
    text-align: left;
}

.sidenav .sidenav-item {
    font-weight: lighter;
    padding: 5px;
    text-decoration: none;
    font-size: 15px;
    color: #3f3f3f;
    display: block;
    transition: 0.1s;
    text-align: left;
}

.sidenav .closebtn {
    position: absolute;
    font-weight: lighter;
    color: rgb(0, 0, 0);
    top: -10px;
    right: 20px;
    font-size: 50px;
}

/* Button Styles*/
.back button {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: none;
    border-radius: 10px;
    padding: 0.5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.522);
    font-size: 0.8rem;
}

.btn-yellow {
    background-color: rgb(225, 222, 119);
    color: rgb(9,52,94);
}

.btn-blue {
    background-color: rgb(9,52,94);
    color: #fff;
}

.social-buttons-home-page {
    position: fixed;
    top: 10px;
    right: 2%;
    z-index: 3200;
    width: auto;
}

    .social-buttons-home-page i {
        font-size: 2rem;
        color: white;
    }

    .social-buttons-home-page li, .logos-home-page li, .social-btn-footer li {
        display: inline !important;
    }

        .social-buttons-home-page li a, .logos-home-page li a {
            text-decoration: none !important;
        }

.client-login-btn {
    background-color: rgb(9,52,94);
    color: #fff;
}

.client-login-btn, .shopper-login-btn {
    margin-top: -1rem;
}

.shopper-login-btn {
    background-color: rgb(225, 222, 119);
    color: rgb(9,52,94);
}

.login-btn {
    width: 100px;
    height: 1.5rem;
    border-radius: 50px;
    display: inline-block;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.541);
    vertical-align: middle;
    border: none !important;
}

/* Quote Styles*/
.quotes {
    font-family: Georgia, serif;
    font-style: italic;
    margin: 0.25em 0;
}

.quotes:before {
    content: open-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: -5px;
    position: relative;
    top: 20px;
    color: #ffffff;
    font-size: 5.0em;
}

.quotes:after {
    content: close-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: 10px;
    position: relative;
    top: 35px;
    color: #ffffff;
    font-size: 5.0em;
    float: right;
}


/*Animations*/

/* Text Focus */
.text-focus-in {
    -webkit-animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

/* Pulsate Item*/
.pulse {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    animation: pulse 3s infinite;
    display: table;
    margin-bottom: 1px;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

.CenterSmlRes {
    text-align: left;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
    }
}

@Keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.kenburns-bottom {
    -webkit-animation: kenburns-bottom 3s ease-out both;
    animation: kenburns-bottom 3s ease-out both;
}

/* Kenburns Page Transition*/

@keyframes kenburns-bottom {
    0% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transform-origin: 50% 84%;
        transform-origin: 50% 84%;
    }

    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
        /* opacity: 1; */
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
        /* opacity: 0; */
    }
}

/*Tile section Styles*/
.container-with-cards {
    margin: auto;
    padding: 1rem;
    max-width: 1400px;
    overflow-y: hidden;
    font-family: "Calibri light";
    justify-content: center;
    background-color: #fff;
}

.cards__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-template-rows: repeat(4, 300px);
    grid-gap: 1rem;
    grid-auto-flow: dense;
    grid-row-gap: 1rem;
    margin-bottom: 0;
}

.thecard {
    min-width: 200px;
    width: auto;
    height: 300px;
    transform-style: preserve-3d;
    transition: transform 1s;
    transform: perspective(600px);
    margin-bottom: 0.3rem;
    cursor: pointer;
}

    .thecard .btn-video {
        margin-top: 50%;
        border-radius: 50%;
        border: 2px solid #fff;
        background-color: #fff;
    }

.front {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    perspective: 600px;
}

.back {
    position: absolute;
    backface-visibility: hidden;
    width: auto;
    min-height: 300px;
    transform: rotateY(180deg);
    perspective: 600px;
}

.grid-column-span {
    grid-column: span 2;
}

.card-image {
    min-height: 300px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    perspective: 600px;
    padding: 0.5rem;
}

    .card-image h6 {
        font-size: 1rem;
        text-align: left;
    }

.back .card-image {
    min-height: 100%;
    height: fit-content;
    padding: 0.5rem;
}

.card-image-changed {
    min-height: 300px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    perspective: 600px;
    padding: 0.5rem;
}

.card-text {
    background-color: #fff;
}

    .card-text h6 {
        width: 90%;
        margin: auto;
        padding: 0.5rem;
        text-align: center;
        font-size: 0.8rem;
        color: #000 !important;
        text-transform: none !important;
    }

    .card-text p {
        color: #000 !important;
        line-height: 0.9rem;
        font-size: 0.8rem;
        text-align: left;
    }

.front .card-text {
    min-height: 30%;
    height: fit-content;
    display: flex;
    align-items: center;
}

.blue-overlayQandA {
    position: absolute;
    background-color: rgba(9, 52, 94, 0.57);
    width: 100%;
}

.front .blue-overlayQandA {
    height: 300px;
    z-index: 1;
}

.thecard h6 {
    position: absolute;
    bottom: 0;
    left: 10px;
    font-size: 1rem;
    z-index: 2;
    text-align: left;
    margin-bottom: 10px !important;
    font-weight: bold;
    width: 200px;
}

.back .blue-overlayQandA {
    height: 100%;
    margin-left: -0.5rem;
    margin-top: -0.5rem;
    z-index: -1;
}

.back .card-text {
    min-height: 300px;
    background-color: rgb(232, 231, 218);
    padding: 0.5rem;
}

.small-back-image {
    height: 50px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.thecard:hover {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.522);
}

.flip-the-card {
    transform: rotateY(180deg);
}

/*Modal Styles*/
.modal-footer button {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: none;
    border-radius: 10px;
    padding: 0.5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.522);
}

.modal-footer p {
    width: 100%;
    color: #000;
    text-align: justify;
}

.modal-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.blueModal {
    background-color: rgb(9,52,94)!important;
    color: white!important;
}

.whiteClose{
    color: #fff;
}

.darkClose{
    color: #000;
}

.whiteModal {
    background-color: white !important;
    color: #000!important;
}

/*Footer*/

.logos-in-navbar {
    display: inline;
}

    .logos-in-navbar img {
        width: 9rem;
    }

/* Mobile Styles */

@media screen and (max-width: 1199.98px) {
    .pulse {
        width: 20%;
    }

    .CenterSmlRes {
        text-align: center !important;
    }
}