<!--<div ng-controller="Umbraco.PropertyEditors.ColorPickerController">-->
<div ng-controller="Msl.Grid.ColorPickerController">


    <div ng-if="!isConfigured">
        <localize key="colorpicker_noColors">You haven't defined any colors</localize>
    </div>

    <umb-color-swatches colors="model.config.items"
                        selected-color="model.activeColor.value"
                        size="m"
                        use-label="model.useLabel"
                        on-select="onSelect(color)">
    </umb-color-swatches>

    <input type="hidden" name="modelValue" ng-model="model.value" />

</div>
