﻿@using Umbraco.Web.Templates


@if (Model.value != null)
{
    var buttonProperties = Model.value;

    <div class="get-started  btn-new-1">
        <span>
            Test
            <a ng-model="buttonProperties" class="{{buttonProperties.buttonClass}}" href="{{buttonProperties.buttonLink}}" target="{{buttonProperties.buttonTarget}}">{{buttonProperties.buttonText}}</a>
        </span>
    </div>

}
