﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}

@{
    var site = Model.Content.Site().AncestorOrSelf();
    var bubble1 = site.GetPropertyValue("leftBubbleText");
    var bubble2 = site.GetPropertyValue("rightBubbleText");
}

@* New Content*@

@*<div id="section1" class="contentWrapper home-page">

    <div class="text-focus-in home-page">
        @Model.Content.GetGridHtml(Html, "homePageContent");

        <div class='get-started our-programms btn-new-1'>
            <span class=''>
                @Model.Content.GetPropertyValue("homePageLeftButtonText")
            </span>
        </div>
        <div class='get-started our-programms btn-new-2'>
            <span class=''>
                @Model.Content.GetPropertyValue("homePageRightButtontext")
            </span>
        </div>
    </div>
</div>*@

<h1>Content</h1>

@*@Html.Action("Index", "SectionsSurface")*@

@*@Html.Partial("sections")*@


