﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}

@{
    var site = Model.Content.Site().AncestorOrSelf();
    var bubble1 = site.GetPropertyValue("leftBubbleText");
    var bubble2 = site.GetPropertyValue("rightBubbleText");
}


@*<div class="wrapper">
                <div class="overlay"></div>

    <div class="parent">

        <div class="child bg-one">
            <div class="homePageTest"></div>

        </div>*@

<div class="wrap">

<div class="contentWrapper">

    <div class="text-focus-in home-page">
        <h1>Customer Experience Specialists</h1>
        <p class="check">WE PROVIDE BESPOKE CUSTOMER EXPERIENCE IMPROVEMENT PROGRAMMES TO SUIT ANY BUSINESS, IN ANY INDUSTRY. WHETHER YOU’RE LOOKING TO ASSESS YOUR CURRENT OFFERING; REINFORCE TRAINING AND PROCEDURES; ENSURE COMPLIANCE OR IMPLEMENT A PERFORMANCE MANAGEMENT PROGRAMME, WE CAN BUILD A PROGRAMME TO SUIT. OUR MYSTERY SHOPPING, CUSTOMER SATISFACTION AND BENCHMARKING PROGRAMMES ASSESS EACH TOUCHPOINT, ENSURING THAT CUSTOMERS ALWAYS ASSOCIATE YOUR BUSINESS WITH AN EXCELLENT CUSTOMER EXPERIENCE.</p>
    </div>

    <div class="col-12 text-center">
        <div class='get-started our-programms btn-new-1'>
            <span class=''>
                Improve your customer experience
            </span>
        </div>
        <div class='get-started our-programms btn-new-2'>
            <span class=''>
                Become a mystery shopper
            </span>
        </div>
    </div>

</div>
<div class="contentWrapper home-page">
    <div class="container container1 customer" id='contain1'>
        <div class="row justify-content-center main_content">
            <div class="col-12">
                <h6>Improve Your Customer Experience</h6>
            </div>
            <div id="video" class='col-lg-10 col-xl-6'>
                <img class="img-fluid" src="web/images/Video.png" alt='video'>
            </div>
            <div style="width: 40vw" id="improve_your_cust_exp_text" class='col-lg-10 col-xl-6 pl-3'>
                <p>
                    We all know that each customer should be seen not in terms of the value of a single transaction but in terms of the value of that customer's business over a lifetime. It is also generally recognised that it is far, far cheaper to retain existing customers than to attract new ones.
                    <span class="show-more-btn d-block d-lg-none" data-toggle="collapse" data-target="#collapse3"
                          aria-expanded="false" aria-controls="collapse3">read more...</span><span class="collapse" id="collapse3">
                        The tangible elements of customer service such as delivery-as-promised aren't too difficult to measure. It's the intangible elements which are more tricky - but it's these which are most important to your customers. Elements such as:</br>
                        </br>
                        - How the service they received compared with the service they expected.</br>
                        - How much they trust you and your product.</br>
                        - How your customer service compares with that of your competitors.</br>
                        - How much loyalty they feel towards you as a result of their last transaction.</br>
                        - How much they feel you value them as a customer.</br>
                        - How much they feel they are treated like an individual person.
                    </span>
                </p>
                <p>
                    We all know that each customer should be seen not in terms of the value of a single transaction but in terms of the value of that customer's business over a lifetime. It is also generally recognised that it is far, far cheaper to retain existing customers than to attract new ones.
                    <span class="show-more-btn d-block d-lg-none" data-toggle="collapse" data-target="#collapse3"
                          aria-expanded="false" aria-controls="collapse3">read more...</span><span class="collapse" id="collapse3">
                        The tangible elements of customer service such as delivery-as-promised aren't too difficult to measure. It's the intangible elements which are more tricky - but it's these which are most important to your customers. Elements such as:</br>
                        </br>
                        - How the service they received compared with the service they expected.</br>
                        - How much they trust you and your product.</br>
                        - How your customer service compares with that of your competitors.</br>
                        - How much loyalty they feel towards you as a result of their last transaction.</br>
                        - How much they feel you value them as a customer.</br>
                        - How much they feel they are treated like an individual person.
                    </span>
                </p>


                <p>

                    <span class="d-none d-lg-block">
                        </br>
                        The tangible elements of customer service such as delivery-as-promised aren't too difficult to measure. It's the intangible elements which are more tricky - but it's these which are most important to your customers. Elements such as:</br>
                        </br>
                        - How the service they received compared with the service they expected.</br>
                        - How much they trust you and your product.</br>
                        - How your customer service compares with that of your competitors.</br>
                        - How much loyalty they feel towards you as a result of their last transaction.</br>
                        - How much they feel you value them as a customer.</br>
                        - How much they feel they are treated like an individual person.
                    </span>
                </p>
            </div>
        </div>
    </div>

    @*<p>Morbi placerat sit amet odio eget tristique. Vivamus tincidunt rhoncus elementum. Aliquam erat volutpat. Duis feugiat leo magna, id venenatis felis pulvinar at. Aenean pellentesque nisi at aliquet elementum. Maecenas aliquam vestibulum quam ut interdum. Integer vel venenatis purus. Quisque a lacinia ligula, vestibulum placerat lacus. Proin ornare urna in ligula egestas, in eleifend metus suscipit. Praesent tincidunt ultricies laoreet. Sed sed luctus sem. Phasellus ut risus ligula. Donec hendrerit leo at arcu auctor tincidunt.</p>

        <p>Aliquam venenatis vehicula est, sit amet convallis lacus maximus sed. Sed consequat tincidunt sagittis. Maecenas consectetur pharetra augue vitae tincidunt. Curabitur velit dolor, lacinia nec iaculis id, vulputate ut neque. In hac habitasse platea dictumst. Morbi eu tristique mi. Proin vitae justo nec augue aliquam sagittis. Nulla consequat, est sed tempus lobortis, tellus velit tempus est, blandit semper mi quam at urna. Pellentesque et sodales nunc. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

        <p>Pellentesque blandit orci ut rhoncus maximus. Proin tempor lectus fringilla sapien efficitur auctor. Curabitur dictum nunc dui, nec varius purus dignissim ac. Curabitur nec erat eget nisl bibendum ultrices. Fusce mattis gravida neque. Vivamus ac orci ligula. Donec consequat vehicula lorem, sed posuere arcu ultricies et. Praesent erat mauris, facilisis eget ex sit amet, porta lacinia nunc. Quisque iaculis lacus odio, non condimentum neque venenatis quis. In elementum urna non quam tincidunt, vel congue nisl finibus. Duis vestibulum facilisis elit ut dictum. Ut ut commodo erat. Pellentesque sem diam, lacinia nec turpis eu, lobortis sodales magna. Pellentesque vel ex ligula. Sed sed nulla sed magna dictum luctus in eget sem.</p>

        <p>Sed a neque nec purus ultricies mollis. Vestibulum bibendum et nunc non auctor. Integer non urna dignissim nibh hendrerit commodo vel non sem. Ut tristique dui nec vestibulum tincidunt. Aenean tincidunt ante at metus tincidunt blandit. Maecenas dapibus posuere tortor, nec vestibulum lacus luctus luctus. Sed tempor odio id nibh ullamcorper, non ultricies orci gravida.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus neque massa, blandit et vestibulum a, sodales varius mi. Praesent aliquam eget diam ut tincidunt. Nam eu lorem et ligula venenatis mollis. Nullam vitae metus eget nisl tempus elementum ut quis turpis. Vivamus a dolor risus. Aliquam enim nunc, consectetur et tempus nec, semper sed purus. Maecenas cursus urna aliquam arcu ornare, eget sagittis nisi rutrum.</p>

        <p>Morbi placerat sit amet odio eget tristique. Vivamus tincidunt rhoncus elementum. Aliquam erat volutpat. Duis feugiat leo magna, id venenatis felis pulvinar at. Aenean pellentesque nisi at aliquet elementum. Maecenas aliquam vestibulum quam ut interdum. Integer vel venenatis purus. Quisque a lacinia ligula, vestibulum placerat lacus. Proin ornare urna in ligula egestas, in eleifend metus suscipit. Praesent tincidunt ultricies laoreet. Sed sed luctus sem. Phasellus ut risus ligula. Donec hendrerit leo at arcu auctor tincidunt.</p>

        <p>Aliquam venenatis vehicula est, sit amet convallis lacus maximus sed. Sed consequat tincidunt sagittis. Maecenas consectetur pharetra augue vitae tincidunt. Curabitur velit dolor, lacinia nec iaculis id, vulputate ut neque. In hac habitasse platea dictumst. Morbi eu tristique mi. Proin vitae justo nec augue aliquam sagittis. Nulla consequat, est sed tempus lobortis, tellus velit tempus est, blandit semper mi quam at urna. Pellentesque et sodales nunc. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

        <p>Pellentesque blandit orci ut rhoncus maximus. Proin tempor lectus fringilla sapien efficitur auctor. Curabitur dictum nunc dui, nec varius purus dignissim ac. Curabitur nec erat eget nisl bibendum ultrices. Fusce mattis gravida neque. Vivamus ac orci ligula. Donec consequat vehicula lorem, sed posuere arcu ultricies et. Praesent erat mauris, facilisis eget ex sit amet, porta lacinia nunc. Quisque iaculis lacus odio, non condimentum neque venenatis quis. In elementum urna non quam tincidunt, vel congue nisl finibus. Duis vestibulum facilisis elit ut dictum. Ut ut commodo erat. Pellentesque sem diam, lacinia nec turpis eu, lobortis sodales magna. Pellentesque vel ex ligula. Sed sed nulla sed magna dictum luctus in eget sem.</p>

        <p>Sed a neque nec purus ultricies mollis. Vestibulum bibendum et nunc non auctor. Integer non urna dignissim nibh hendrerit commodo vel non sem. Ut tristique dui nec vestibulum tincidunt. Aenean tincidunt ante at metus tincidunt blandit. Maecenas dapibus posuere tortor, nec vestibulum lacus luctus luctus. Sed tempor odio id nibh ullamcorper, non ultricies orci gravida.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus neque massa, blandit et vestibulum a, sodales varius mi. Praesent aliquam eget diam ut tincidunt. Nam eu lorem et ligula venenatis mollis. Nullam vitae metus eget nisl tempus elementum ut quis turpis. Vivamus a dolor risus. Aliquam enim nunc, consectetur et tempus nec, semper sed purus. Maecenas cursus urna aliquam arcu ornare, eget sagittis nisi rutrum.</p>

        <p>Morbi placerat sit amet odio eget tristique. Vivamus tincidunt rhoncus elementum. Aliquam erat volutpat. Duis feugiat leo magna, id venenatis felis pulvinar at. Aenean pellentesque nisi at aliquet elementum. Maecenas aliquam vestibulum quam ut interdum. Integer vel venenatis purus. Quisque a lacinia ligula, vestibulum placerat lacus. Proin ornare urna in ligula egestas, in eleifend metus suscipit. Praesent tincidunt ultricies laoreet. Sed sed luctus sem. Phasellus ut risus ligula. Donec hendrerit leo at arcu auctor tincidunt.</p>

        <p>Aliquam venenatis vehicula est, sit amet convallis lacus maximus sed. Sed consequat tincidunt sagittis. Maecenas consectetur pharetra augue vitae tincidunt. Curabitur velit dolor, lacinia nec iaculis id, vulputate ut neque. In hac habitasse platea dictumst. Morbi eu tristique mi. Proin vitae justo nec augue aliquam sagittis. Nulla consequat, est sed tempus lobortis, tellus velit tempus est, blandit semper mi quam at urna. Pellentesque et sodales nunc. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

        <p>Pellentesque blandit orci ut rhoncus maximus. Proin tempor lectus fringilla sapien efficitur auctor. Curabitur dictum nunc dui, nec varius purus dignissim ac. Curabitur nec erat eget nisl bibendum ultrices. Fusce mattis gravida neque. Vivamus ac orci ligula. Donec consequat vehicula lorem, sed posuere arcu ultricies et. Praesent erat mauris, facilisis eget ex sit amet, porta lacinia nunc. Quisque iaculis lacus odio, non condimentum neque venenatis quis. In elementum urna non quam tincidunt, vel congue nisl finibus. Duis vestibulum facilisis elit ut dictum. Ut ut commodo erat. Pellentesque sem diam, lacinia nec turpis eu, lobortis sodales magna. Pellentesque vel ex ligula. Sed sed nulla sed magna dictum luctus in eget sem.</p>

        <p>Sed a neque nec purus ultricies mollis. Vestibulum bibendum et nunc non auctor. Integer non urna dignissim nibh hendrerit commodo vel non sem. Ut tristique dui nec vestibulum tincidunt. Aenean tincidunt ante at metus tincidunt blandit. Maecenas dapibus posuere tortor, nec vestibulum lacus luctus luctus. Sed tempor odio id nibh ullamcorper, non ultricies orci gravida.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus neque massa, blandit et vestibulum a, sodales varius mi. Praesent aliquam eget diam ut tincidunt. Nam eu lorem et ligula venenatis mollis. Nullam vitae metus eget nisl tempus elementum ut quis turpis. Vivamus a dolor risus. Aliquam enim nunc, consectetur et tempus nec, semper sed purus. Maecenas cursus urna aliquam arcu ornare, eget sagittis nisi rutrum.</p>

        <p>Morbi placerat sit amet odio eget tristique. Vivamus tincidunt rhoncus elementum. Aliquam erat volutpat. Duis feugiat leo magna, id venenatis felis pulvinar at. Aenean pellentesque nisi at aliquet elementum. Maecenas aliquam vestibulum quam ut interdum. Integer vel venenatis purus. Quisque a lacinia ligula, vestibulum placerat lacus. Proin ornare urna in ligula egestas, in eleifend metus suscipit. Praesent tincidunt ultricies laoreet. Sed sed luctus sem. Phasellus ut risus ligula. Donec hendrerit leo at arcu auctor tincidunt.</p>

        <p>Aliquam venenatis vehicula est, sit amet convallis lacus maximus sed. Sed consequat tincidunt sagittis. Maecenas consectetur pharetra augue vitae tincidunt. Curabitur velit dolor, lacinia nec iaculis id, vulputate ut neque. In hac habitasse platea dictumst. Morbi eu tristique mi. Proin vitae justo nec augue aliquam sagittis. Nulla consequat, est sed tempus lobortis, tellus velit tempus est, blandit semper mi quam at urna. Pellentesque et sodales nunc. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

        <p>Pellentesque blandit orci ut rhoncus maximus. Proin tempor lectus fringilla sapien efficitur auctor. Curabitur dictum nunc dui, nec varius purus dignissim ac. Curabitur nec erat eget nisl bibendum ultrices. Fusce mattis gravida neque. Vivamus ac orci ligula. Donec consequat vehicula lorem, sed posuere arcu ultricies et. Praesent erat mauris, facilisis eget ex sit amet, porta lacinia nunc. Quisque iaculis lacus odio, non condimentum neque venenatis quis. In elementum urna non quam tincidunt, vel congue nisl finibus. Duis vestibulum facilisis elit ut dictum. Ut ut commodo erat. Pellentesque sem diam, lacinia nec turpis eu, lobortis sodales magna. Pellentesque vel ex ligula. Sed sed nulla sed magna dictum luctus in eget sem.</p>

        <p>Sed a neque nec purus ultricies mollis. Vestibulum bibendum et nunc non auctor. Integer non urna dignissim nibh hendrerit commodo vel non sem. Ut tristique dui nec vestibulum tincidunt. Aenean tincidunt ante at metus tincidunt blandit. Maecenas dapibus posuere tortor, nec vestibulum lacus luctus luctus. Sed tempor odio id nibh ullamcorper, non ultricies orci gravida.</p>*@
</div>
<div class="contentWrapper">
    <div class="container container2 customer" id="contain2" name="how-ms-works">

        <div class="row how_ms_works_row justify-content-center">
            <div class="col-lg-12" id="HowMysteryShoppingWorksHeader">
                <h6>
                    How Mystery Shopping Works
                </h6>
            </div>
            <div style="background-color: #fff;" class="col-lg-12 col-lg-10 how_ms_works">
                <p style="color:#000;" class="font-weight-light">
                    Mystery shopping works because it is an inexpensive method of quality control, which provides a means of identifying both good customer experience (which can be rewarded) and the not-so-good (which can be performance-managed).
                </p>
                <p>We can assess:</p>
                <ul>
                    <li>
                        <img src="web/images/Picture3.png"><span>The customer’s face to face experiences.</span>
                    </li>
                    <li>
                        <img src="web/images/phone_comm.png"><span>
                            Any telephone communication that customers may have.
                        </span>
                    </li>
                    <li>
                        <img src="web/images/website.png"><span>
                            A company’s website, emails and live chat communication.
                        </span>
                    </li>
                    <li>
                        <img src="web/images/social_media.png"><span>
                            Social media sites and how a company manages inbound enquiries.
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="contentWrapper">
    <div class="container container3 customer" id="contain3">
        <div class="row testimonials justify-content-center">
            <div class="col-12">
                <h6 style="">
                    Testimonials
                </h6>
            </div>
            <div style="background-color: #fff;  padding: 10px;" class='col-10 col-md-4 client'>
                <img class="img-fluid" alt="Responsive image" src="web/images/clients1.bmp">
                <p style='margin-top: 2vh; '>
                    “Working in partnership with Mystery Shoppers Ltd. has been a pleasure. The staff are knowledgeable and passionate and their work has helped me gain valuable insights into our face-to-face and phone channels. Importantly, their data are supported by an excellent suite of analysis tools. I have no hesitation in recommending their services.”
                </p>
                <button type="button" class="btn" style='background-color: rgb(9,52,94) !important;color: #fff;'>Read the Case Study</button>
            </div>
            <div style="background-color: #fff;  padding: 10px;" class='col-10 col-md-4 client'>
                <img class="img-fluid" alt="Responsive image" src="web/images/clients2.bmp">
                <p style='margin-top: 2vh; '>
                    "I was very impressed working with Mystery Shoppers when developing plans to support our new Customer Experience Strategy. I received really useful help from the organisation on how to translate our requirements into an approach that was robust and would deliver what we wanted. We were also able to work flexibly with them as information gathered in early waves led us to consider new aspects and it was encouraging that our requests to flex were positive met by the company. I would rate them very highly in terms of customer care and expertise in their field and recommend them to organisations seeking a partner to work with who can help them improve their business through customer focused programmes."

                </p>
                <button type="button" class="btn" style='background-color: rgb(9,52,94) !important;color: #fff;'>Read the Case Study</button>
            </div>
            <div style="background-color: #fff; padding: 10px;" class='col-10 col-md-4 client'>
                <img class="img-fluid" alt="Responsive image" src="web/images/clients3.bmp">
                <p style='margin-top: 2vh; '>
                    "Gain Credit's partnership with Mystery Shoppers Ltd has been valuable and insightful. The data produced has been high quality and it has significantly helped us to develop our procedures and improve the quality of service we offer our customers. The team are proactive, innovative and professional. I have no hesitation in working with Mystery Shoppers again for our next project."

                </p>
                <button type="button" class="btn" style='background-color: rgb(9,52,94) !important; color: #fff;'>Read the Case Study</button>
            </div>
        </div>
    </div>
</div>
<div class="contentWrapper">
    <div class="container container4 customer" id="contain4">
        <div class="row solutions">
            <div class="col-12">
                <h6>
                    Solutions
                </h6>
            </div>
            <div style="background-color:#fff; padding-top: 10px;" class="row">
                <div class='col-12 col-md-6 col-xl-3 mb-3'>
                    <img class="img-fluid mb-3" alt="Responsive image" src="web/images/solution1.bmp">
                </div>
                <div class='col-12 col-md-6 col-xl-3 mb-3'>
                    <img class="img-fluid" alt="Responsive image" src="web/images/solution2.bmp">
                </div>
                <div class='col-12 col-md-6 col-xl-3 mb-3'>
                    <img class="img-fluid" alt="Responsive image" src="web/images/solution3.bmp">
                </div>
                <div class='col-12 col-md-6 col-xl-3 mb-3'>
                    <img class="img-fluid" alt="Responsive image" src="web/images/solution4.bmp">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contentWrapper">
    <div class="container container5 customer" id="contain5" name="products">
        <div class="d-none d-xl-flex row products justify-content-center">
            <div class=" col-xl-10 products_tab">
                <nav>
                    <div class="row nav nav-tabs nav-fill" id="nav-tab" role="tablist" style="border: none !important;">
                        <a class="nav-item nav-link active" id="nav-visits-tab" data-toggle="tab" href="#nav-visits" role="tab" aria-controls="nav-visits" aria-selected="true">Mystery Visits</a>
                        <a class="nav-item nav-link" id="nav-video-tab" data-toggle="tab" href="#nav-video" role="tab" aria-controls="nav-video" aria-selected="false">Video Shopping</a>
                        <a class="nav-item nav-link" id="nav-calls-tab" data-toggle="tab" href="#nav-calls" role="tab" aria-controls="nav-calls" aria-selected="false">Phone Calls</a>
                        <a class="nav-item nav-link" id="nav-emails-tab" data-toggle="tab" href="#nav-emails" role="tab" aria-controls="nav-emails" aria-selected="false">Web/Email Enqueiries</a>
                        <a class="nav-item nav-link" id="nav-web-tab" data-toggle="tab" href="#nav-web" role="tab" aria-controls="nav-web" aria-selected="false">Web Assessments</a>
                        <a class="nav-item nav-link" id="nav-customer-tab" data-toggle="tab" href="#nav-customer" role="tab" aria-controls="nav-customer" aria-selected="false">Customer Satisfaction</a>
                        <a class="nav-item nav-link" id="nav-other-tab" data-toggle="tab" href="#nav-other" role="tab" aria-controls="nav-other" aria-selected="false">Other Services</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active rounded-bottom" id="nav-visits" role="tabpanel" aria-labelledby="nav-visits-tab">
                        <div>
                            <h3>We are able to carry out many different types of standard mystery shopping, such as:</h3>
                            <div class="visits-grid">
                                <i class="fa fa-cart-arrow-down"></i>
                                <p>
                                    <span class='visit-title'> Retail Mystery Shopping</span></br>
                                    Our mystery shoppers visit your shop, pub, restaurant, bank branch, post office, car dealership or other premises and assess the customer service they receive.
                                    <span class="show-more-btn" data-toggle="collapse" data-target="#collapse4"
                                          aria-expanded="false" aria-controls="collapse4">read more...</span><span class="collapse" id="collapse4">

                                        This can include their sales techniques, product knowledge and level of compliance. If required, to meet your objectives, we can ask our shoppers to make a purchase and assess how well the sale was handled. Our shoppers are used to carrying out a wide variety of scenarios on their assignments, including insurance enquiries, loan or mortgage enquiries and membership enquiries
                                    </span>
                                </p>
                            </div>
                            <div class="visits-grid">
                                <i class="fa fa-plane"></i><p>
                                    <span class='visit-title'>Travel</span></br>
                                    Our mystery shoppers travel on your trains, planes, ships, buses, coaches etc. or our shoppers can even go on one of your holidays and tell you about their experience.
                                </p>
                            </div>
                            <div class="visits-grid">
                                <i class="fa fa-hotel"></i><p>
                                    <span class='visit-title'>Hospitality</span></br>
                                    Our shoppers go to theatres, cinemas, opera houses, pubs, wine bars, clubs, fast food outlets, tourist attractions, restaurants and hotels.
                                </p>
                            </div>
                            <div class="visits-grid">
                                <i class="fa fa-archive"></i><p>
                                    <span class='visit-title'>Home</span></br>
                                    Our mystery shoppers are sometimes asked to order goods for delivery at their home and let you know when those goods arrive,    <span class="show-more-btn" data-toggle="collapse" data-target="#collapse1"
                                                                                                                                                                          aria-expanded="false" aria-controls="collapse1">read more...</span><span class="collapse" id="collapse1"> in what condition and whether they were correct as ordered or they ask you to deliver a service (such as clearing a blocked drain or cleaning a carpet) at their homes and tell you how well your staff did the job.</span>
                                </p>
                            </div>
                            <div class="visits-grid">
                                <i class="fa fa-check-square-o"></i><p>
                                    <span class='visit-title'>Miscellaneous</span></br>
                                    We test invigilators in exams, attend timeshare presentations, visit county shows, take electronic goods for repair and employ couriers.
                                    <span class=" show-more-btn" data-toggle="collapse" data-target="#collapse5"
                                          aria-expanded="false" aria-controls="collapse5">read more...</span><span class="collapse" id="collapse5">
                                        Our shoppers loiter to attract the attention of on-street sellers of charity donations, insurance, power supply and telephone contracts.
                                    </span>
                                </p>
                            </div>
                            <div class="visits-grid">
                                <i class="fa fa-handshake-o"></i><p>
                                    <span class='visit-title'>Business-to-Business</span></br>
                                    Our mystery shoppers attend conferences and meetings, sit in on sales presentations, make wholesale or trade enquiries and purchases and apply to join business groups and professional bodies.
                                </p>
                            </div>
                            <div class="visits-grid">
                                <i class="fa fa-headphones"></i><p>
                                    <span class='visit-title'>Audio Shopping</span></br>
                                    We are also able to audio record the visits if required – this enables you to listen to the experience as it happens and decide yourself whether the service meets the standard you expect.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade rounded-bottom" id="nav-video" role="tabpanel" aria-labelledby="nav-video-tab">
                        <div>
                            <h3>Video Shopping</h3>
                            <ul class="ul_video_visits d-none d-xl-block">
                                <li>Video mystery shopping is rapidly increasing in popularity as companies seek to ensure that every customer interaction is as positive as possible and that no potential sales are lost.</li>
                                <li>Mystery Shoppers Ltd has developed a professional team of covert agents who can cover all corners of the UK and Ireland.  Their experiences are captured using state of the art recording equipment and uploaded to our secure inbound data website within hours of the visit being completed.  All our shoppers are trained and fully briefed on each project and are able to comfortably fill a variety of roles to suit almost any client requirement.</li>
                                <li>Video mystery shoppers often accompany genuine customers we have recruited to record their experience.  This technique has been used in programmes such as car dealerships and hearing aid centres.</li>
                                <li>Video mystery shops can be commissioned in addition to, or in place of, a written report.</li>
                                <span class="show-more-btn" data-toggle="collapse" data-target="#collapse6"
                                      aria-expanded="false" aria-controls="collapse6">read more...</span>
                                <span class="collapse" id="collapse6">
                                    <li>The videos themselves can either be supplied on DVD or downloaded through our password-protected secure website in a variety of formats to suit the client.  Videos and associated reports will be available as soon as they have been quality checked, usually within 72 hours of a visit being completed.</li>
                                    <li>All videos can if required be fully edited with titling where appropriate.  If any visit does not meet our extremely high standards then the visit will be repeated at no cost to the client.</li>
                                </span>
                            </ul>
                            <div class="video-grid">
                                <img src="web/images/videos.png" alt='videos from the website' class="img-fluid">
                            </div>
                            <div class="video-grid">
                                <img src='web/images/viedo_visits.png' alt="camera_logo" class="img-fluid">
                                <p>
                                    In order to produce the best quality work our video mystery shoppers have to use the best equipment. Up until recently this has meant that our agents have had to search the web for the best deals on their own and hope that they are buying from reputable sources. Well, that has now recently changed with the opening of our sister company MSL Retail, specializing in quality covert video recording equipment with camera kits, specifically chosen for mystery shopping. The equipment we sell is the industry standard for covert mystery shopping and due to our presence in the industry we have been able to secure some very competitive deals on the equipment we sell.
                                    </br>
                                    If you have any questions about choosing the right equipment then please feel free to contact us on enquiries@msl-retail.co.uk
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade rounded-bottom" id="nav-calls" role="tabpanel" aria-labelledby="nav-calls-tab">
                        <div>
                            <h3>We have a panel of in-house professional callers as well as a large panel of home based callers who carry out the telephone mystery shopping.</h3>

                            <div class="call-grid">
                                <i class="fa fa-phone-square"></i>
                                <p>
                                    <span class='call-title'> Telephone - Outbound</span></br>
                                    Our mystery callers make calls pretending to be customers and report back on how the call was handled.
                                    <span class="show-more-btn" data-toggle="collapse" data-target="#collapse7"
                                          aria-expanded="false" aria-controls="collapse7">read more...</span><span class="collapse" id="collapse7">
                                        They can test all your telephone lines (quick speed-and-greet or longer calls) including your call centres. We can provide digital recordings of every call to help you coach staff towards excellence. They can test how you responded after business hours, how professionally your staff transferred calls and how quickly and efficiently you sent fulfilment by post if required.
                                        </br>
                                        We have textphones to test your response to disabled callers and mobile numbers so we can accept callbacks.
                                    </span>
                                </p>
                            </div>
                            <div class="call-grid">
                                <i class="fa fa-volume-control-phone"></i>
                                <p>
                                    <span class='call-title'>Telephone - Inbound</span></br>
                                    We can also provide an inbound call service to monitor your outbound Call Centre activity. Our shoppers will answer as private individuals or businesses as required.
                                </p>
                            </div>
                            <div class="call-grid">
                                <i class="fa fa-edit"></i>
                                <p>
                                    <span class='call-title'>Call Scoring</span></br>
                                    There is no more important a place to focus on customers and their experiences than in the contact centre.
                                    <span class="show-more-btn" data-toggle="collapse" data-target="#collapse8"
                                          aria-expanded="false" aria-controls="collapse8">read more...</span><span class="collapse" id="collapse8">
                                        To ensure that agents are constantly performing to the best of their abilities and providing callers with optimal service, contact centres invest in technologies and other reporting and monitoring tools to capture agent/customer interactions.
                                        </br>
                                        By scoring calls and measuring their quality and accuracy, contact centres are able to provide customers with better service as well as generating more sales transactions. The recordings provide insight into how agents are representing the company and treating callers. It also helps the call centre to know if agents have a good product understanding and can handle customer enquiries efficiently.
                                        </br>
                                        MSL offers a service that analyses calls that have already been recorded on the client’s recording system. Once recordings are listened to, they are then scored by an experienced team of researchers. The scores for the calls can be accessed by leaders and supervisors via the Web who can then use the data in coaching sessions.
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade rounded-bottom" id="nav-emails" role="tabpanel" aria-labelledby="nav-emails-tab">
                        <div>
                            <h3>Web/Email Enqueiries</h3>
                            <div class="email-grid">
                                <i class="fa fa-envelope-square"></i>
                                <p>
                                    <span class='email-title'> Web/Email Enqueiries</span></br>
                                    Our mystery shoppers can make email or web form enquiries to your business and track response times, content of replies and the complete customer experience.
                                    We can arrange for emails/enquiries to be sent from business email addresses if business to business is required.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade rounded-bottom" id="nav-web" role="tabpanel" aria-labelledby="nav-web-tab">
                        <h3>Desktop, Mobile and Tablet Usability Assessments</h3>
                        <img src="web/images/webassessm1.jpg">
                        <img src="web/images/webassessm2.jpg">
                        <img src="web/images/webassessm3.jpg">
                        <img src="web/images/webassessm4.jpg">
                        <img src="web/images/webassessm5.jpg">
                    </div>
                    <div class="tab-pane fade rounded-bottom" id="nav-customer" role="tabpanel" aria-labelledby="nav-customer-tab">
                        <div>
                            <h3 class="col-12">We will contact your customers to gain real insight using:</h3>
                            <div class="customer-grid">
                                <i class="fa fa-phone"></i>
                                <p>
                                    <span class='customer-title'> Our team of professional callers</span></br>
                                    Our professional callers are fully trained, and just as importantly, they are great listeners. The assessment reports will be made available to you via your bespoke web portal once they have been through our quality assurance procedure. We can interview your customers by telephone, on site or using our mobile phone feedback facility.
                                    <span class="show-more-btn" data-toggle="collapse" data-target="#collapse123"
                                          aria-expanded="false" aria-controls="collapse123">read more...</span><span class="collapse" id="collapse123">
                                        We can tell you what they think of your service and what they would like you to change or improve. We can find out why former customers switched to a competitor or whether current customers might consider doing so and why - and what they say you can do to ensure they don't.
                                    </span>
                                </p>
                            </div>
                            <div class="customer-grid">
                                <i class="fa fa-internet-explorer"></i>
                                <p>
                                    <span class='customer-title'> Instant Web Response Link</span></br>
                                    We can send your customers an email containing a link to a survey which they can fill out using their smartphone, tablet or computer.
                                </p>
                            </div>
                            <div class="customer-grid">
                                <i class="fa fa-user"></i>
                                <p>
                                    <span class='customer-title'> Exit Interviews</span></br>
                                    We can arrange for nominated stores to have one interviewer standing at the store exit for a total period of 4 hours. (10.30 – 12.30 break 13.00 – 1500hrs) The fully briefed interviewer will engage with as many shoppers as possible and ask for feedback on an agreed question set.
                                    <span class="show-more-btn" data-toggle="collapse" data-target="#collapse124"
                                          aria-expanded="false" aria-controls="collapse124">read more...</span><span class="collapse" id="collapse124">
                                        The surveys will be completed on tablets and submitted to Mystery Shoppers Ltd, we will upload all completed surveys to your web portal. Surveys can be personalized to include graphics and animations instead of just text, to maintain respondent focus and eliminate comprehension errors. (We recommend a small incentive is given for taking part - a prize draw for £xx.xx in store vouchers or perhaps 10% off their next purchase).
                                    </span>
                                </p>
                            </div>
                            <div class="customer-grid">
                                <i class="fa fa-sticky-note-o "></i>
                                <p>
                                    <span class='customer-title'> Paper-based surveys</span></br>
                                    We can run your paper-based customer surveys such as comment cards and postal surveys, providing a data entry service with periodic summary reports. We can provide feedback sheets for delegates at your conferences, validation and evaluation forms and reports for trainees on your courses.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade rounded-bottom" id="nav-other" role="tabpanel" aria-labelledby="nav-other-tab">
                        <div>
                            <h3 class='col-12'>Other Services</h3>
                            <div class="other-grid">
                                <i class="fa fa-bar-chart"></i>

                                <p>
                                    <span class='other-title'>Benchmarking</span></br>
                                    Mystery Shopping data is most useful when seen in relative terms – a group of Branches in which the best score is 94% and the weakest 42% gives all Branches a good idea of where they are and what they need to be scoring in order to be doing well.
                                    <span class="show-more-btn" data-toggle="collapse" data-target="#collapse9"
                                          aria-expanded="false" aria-controls="collapse9">read more...</span><span class="collapse" id="collapse9">
                                        Many organisations use benchmarking to compare themselves with other similar organisations – or even dissimilar ones who share similar challenges. We achieve this by mystery shopping their competitors for them and then we use the results to compare against their stores and see how they compete. We would be able to use this method to compare prices of goods, levels of customer service, compliance to industry standards and many more.
                                    </span>
                                </p>
                            </div>
                            <div class="other-grid">
                                <i class="fa fa-tablet"></i>
                                <p>
                                    <span class='other-title'>Training & Consultancy Services</span></br>
                                    We find that workshops which feedback the results of the mystery shopping can help staff and managers review how they are seen by their customers and can agree what staff behaviour changes are needed. We always set out to include an action planning session with a mechanism for tracking how well the plans are put into practice.
                                </p>
                            </div>
                            <div class="other-grid">
                                <i class="fa fa-handshake-o"></i>
                                <p>
                                    <span class='other-title'>Business to Business</span></br>
                                    Very much depends upon the specific requirement but with a bit of ingenuity most things are possible.</br>
                                    We’ve simulated being bookies by having a racing tape playing behind the caller. We’ve pretended to be plastics specialists, facilities managers and air conditioning fitters, among many others.
                                    <span class="show-more-btn" data-toggle="collapse" data-target="#collapse10"
                                          aria-expanded="false" aria-controls="collapse10">read more...</span><span class="collapse" id="collapse10">
                                        We have a huge number of business-type email addresses, and some dummy websites. We even have genuine ‘dummy’ companies with their own websites, bank accounts, stationery etc.
                                        </br>We have on our database of mystery shoppers a large number of small business owners who are prepared to use their business name.
                                        </br>We relish a challenge – just give us a basic brief and we’ll be happy to give you an idea of how do-able it is, with no obligation to go any further unless you wish to.
                                    </span>
                                </p>
                            </div>
                            <div class="other-grid">
                                <i class="fa fa-chrome"></i>
                                <p>
                                    <span class='other-title'>Online Surveys</span></br>
                                    Having a database of over 260000 mystery shoppers enables us to find out almost anything. We have been asked to collect emails sent by competitors, opinions on new products in waiting for launch and many other things that you would not expect from a mystery shopping company…..
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-block d-xl-none row justify-content-center products_accordion">
            <div class="col-12">
                <h6>
                    Products and Services
                </h6>
            </div>
            <div class="accordion" id="accordionVisits">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Mystery Visits
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionVisits">
                        <div class="card-body card-visits">
                            <h3>We are able to carry out many different types of standard mystery shopping, such as:</h3>
                            <div class="visits-small">
                                <p>
                                    <span class='visit-title'> Retail Mystery Shopping</span></br>
                                    Our mystery shoppers visit your shop, pub, restaurant, bank branch, post office, car dealership or other premises and assess the customer service they receive.
                                    <span class="show-more-btn" data-toggle="collapse" data-target="#collapse11"
                                          aria-expanded="false" aria-controls="collapse11">read more...</span><span class="collapse" id="collapse11">
                                        This can include their sales techniques, product knowledge and level of compliance. If required, to meet your objectives, we can ask our shoppers to make a purchase and assess how well the sale was handled. Our shoppers are used to carrying out a wide variety of scenarios on their assignments, including insurance enquiries, loan or mortgage enquiries and membership enquiries
                                    </span>
                                </p>
                            </div>
                            <div class="visits-small">
                                <p>
                                    <span class='visit-title'>Travel</span></br>
                                    Our mystery shoppers travel on your trains, planes, ships, buses, coaches etc. or our shoppers can even go on one of your holidays and tell you about their experience.
                                </p>
                            </div>
                            <div class="visits-small">
                                <p>
                                    <span class='visit-title'>Hospitality</span></br>
                                    Our shoppers go to theatres, cinemas, opera houses, pubs, wine bars, clubs, fast food outlets, tourist attractions, restaurants and hotels.
                                </p>
                            </div>
                            <div class="visits-small">
                                <p>
                                    <span class='visit-title'>Home</span></br>
                                    Our mystery shoppers are sometimes asked to order goods for delivery at their home and let you know when those goods arrive,
                                    <span class="show-more-btn" data-toggle="collapse" data-target="#collapse12"
                                          aria-expanded="false" aria-controls="collapse12">read more...</span><span class="collapse" id="collapse12">
                                        in what condition and whether they were correct as ordered or they ask you to deliver a service (such as clearing a blocked drain or cleaning a carpet) at their homes and tell you how well your staff did the job.
                                    </span>
                                </p>
                            </div>
                            <div class="visits-small">
                                <p>
                                    <span class='visit-title'>Miscellaneous</span></br>
                                    We test invigilators in exams, attend timeshare presentations, visit county shows, take electronic goods for repair and employ couriers.
                                    <span class="show-more-btn" data-toggle="collapse" data-target="#collapse13"
                                          aria-expanded="false" aria-controls="collapse13">read more...</span><span class="collapse" id="collapse13">
                                        Our shoppers loiter to attract the attention of on-street sellers of charity donations, insurance, power supply and telephone contracts.
                                    </span>
                                </p>
                            </div>
                            <div class="visits-small">
                                <p>
                                    <span class='visit-title'>Business-to-Business</span></br>
                                    Our mystery shoppers attend conferences and meetings, sit in on sales presentations, make wholesale or trade enquiries and purchases and apply to join business groups and professional bodies.
                                </p>
                            </div>
                            <div class="visits-small">
                                <p>
                                    <span class='visit-title'>Audio Shopping</span></br>
                                    We are also able to audio record the visits if required – this enables you to listen to the experience as it happens and decide yourself whether the service meets the standard you expect.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Video Shopping
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionVisits">
                        <div class="card-body card-videos">
                            <h3 class="d-none d-xl-block">Video Shopping</h3>
                            <ul class="ul_video_visits d-none d-xl-block">
                                <li>Video mystery shopping is rapidly increasing in popularity as companies seek to ensure that every customer interaction is as positive as possible and that no potential sales are lost.</li>
                                <li>Mystery Shoppers Ltd has developed a professional team of covert agents who can cover all corners of the UK and Ireland.  Their experiences are captured using state of the art recording equipment and uploaded to our secure inbound data website within hours of the visit being completed.  All our shoppers are trained and fully briefed on each project and are able to comfortably fill a variety of roles to suit almost any client requirement.</li>
                                <li>Video mystery shoppers often accompany genuine customers we have recruited to record their experience.  This technique has been used in programmes such as car dealerships and hearing aid centres.</li>
                                <li>Video mystery shops can be commissioned in addition to, or in place of, a written report.</li>
                                <li>The videos themselves can either be supplied on DVD or downloaded through our password-protected secure website in a variety of formats to suit the client.  Videos and associated reports will be available as soon as they have been quality checked, usually within 72 hours of a visit being completed.</li>
                                <li>All videos can if required be fully edited with titling where appropriate.  If any visit does not meet our extremely high standards then the visit will be repeated at no cost to the client.</li>
                            </ul>
                            <div class="video-small text-center">
                                <img src="web/images/videos.png" alt='videos from the website' class="img-fluid">
                            </div>
                            <div class="video-small">
                                <img src='web/images/viedo_visits.png' alt="camera_logo" class="img-fluid">
                                <p>
                                    In order to produce the best quality work our video mystery shoppers have to use the best equipment. Up until recently this has meant that our agents have had to search the web for the best deals on their own and hope that they are buying from reputable sources. Well, that has now recently changed with the opening of our sister company MSL Retail, specializing in quality covert video recording equipment with camera kits, specifically chosen for mystery shopping. The equipment we sell is the industry standard for covert mystery shopping and due to our presence in the industry we have been able to secure some very competitive deals on the equipment we sell.
                                    </br>
                                    If you have any questions about choosing the right equipment then please feel free to contact us on enquiries@msl-retail.co.uk
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Phone Calls
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionVisits">
                        <div class="card-body card-calls">
                            <h3>We have a panel of in-house professional callers as well as a large panel of home based callers who carry out the telephone mystery shopping.</h3>
                            <div class="call-small">
                                <p>
                                    <span class='call-title'> Telephone - Outbound</span></br>
                                    Our mystery callers make calls pretending to be customers and report back on how the call was handled.
                                    <span class="show-more-btn" data-toggle="collapse" data-target="#collapse14"
                                          aria-expanded="false" aria-controls="collapse14">read more...</span><span class="collapse" id="collapse14">
                                        They can test all your telephone lines (quick speed-and-greet or longer calls) including your call centres. We can provide digital recordings of every call to help you coach staff towards excellence. They can test how you responded after business hours, how professionally your staff transferred calls and how quickly and efficiently you sent fulfilment by post if required.
                                        </br>
                                        We have textphones to test your response to disabled callers and mobile numbers so we can accept callbacks.
                                    </span>
                                </p>
                            </div>
                            <div class="call-small">
                                <p>
                                    <span class='call-title'>Telephone - Inbound</span></br>
                                    We can also provide an inbound call service to monitor your outbound Call Centre activity. Our shoppers will answer as private individuals or businesses as required.
                                </p>
                            </div>
                            <div class="call-small">
                                <p>
                                    <span class='call-title'>Call Scoring</span></br>
                                    There is no more important a place to focus on customers and their experiences than in the contact centre.

                                    <span class="show-more-btn" data-toggle="collapse" data-target="#collapse15"
                                          aria-expanded="false" aria-controls="collapse15">read more...</span><span class="collapse" id="collapse15">
                                        To ensure that agents are constantly performing to the best of their abilities and providing callers with optimal service, contact centres invest in technologies and other reporting and monitoring tools to capture agent/customer interactions.
                                        </br>
                                        By scoring calls and measuring their quality and accuracy, contact centres are able to provide customers with better service as well as generating more sales transactions. The recordings provide insight into how agents are representing the company and treating callers. It also helps the call centre to know if agents have a good product understanding and can handle customer enquiries efficiently.
                                        </br>
                                        MSL offers a service that analyses calls that have already been recorded on the client’s recording system. Once recordings are listened to, they are then scored by an experienced team of researchers. The scores for the calls can be accessed by leaders and supervisors via the Web who can then use the data in coaching sessions.
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Web/Email Enqueiries
                            </button>
                        </h2>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionVisits">
                        <div class="card-body card-email">
                            <h3>Web/Email Enqueiries</h3>
                            <div class="email-small">
                                <p>
                                    <span class='email-title'> Web/Email Enqueiries</span></br>
                                    Our mystery shoppers can make email or web form enquiries to your business and track response times, content of replies and the complete customer experience.
                                    We can arrange for emails/enquiries to be sent from business email addresses if business to business is required.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFive">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Web Assessments
                            </button>
                        </h2>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionVisits">
                        <div class="card-body card-web">
                            <div class="web-small">
                                <h3>Desktop, Mobile and Tablet Usability Assessments</h3>
                                <img style="width: 100%" src="web/images/webassessm1.jpg">
                                <img style="width: 100%" src="web/images/webassessm2.jpg">
                                <img style="width: 100%" src="web/images/webassessm3.jpg">
                                <img style="width: 100%" src="web/images/webassessm4.jpg">
                                <img style="width: 100%" src="web/images/webassessm5.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingSix">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                Customer Satisfaction
                            </button>
                        </h2>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionVisits">
                        <div class="card-body card-customer">
                            <h3>We will contact your customers to gain real insight using:</h3>
                            <div class="customer-small">
                                <p>
                                    <span class='customer-title'> Our team of professional callers</span></br>
                                    Our professional callers are fully trained, and just as importantly, they are great listeners. The assessment reports will be made available to you via your bespoke web portal once they have been through our quality assurance procedure. We can interview your customers by telephone, on site or using our mobile phone feedback facility.

                                    <span class="show-more-btn" data-toggle="collapse" data-target="#collapse16"
                                          aria-expanded="false" aria-controls="collapse16">read more...</span><span class="collapse" id="collapse16">
                                        We can tell you what they think of your service and what they would like you to change or improve. We can find out why former customers switched to a competitor or whether current customers might consider doing so and why - and what they say you can do to ensure they don't.
                                    </span>
                                </p>
                            </div>
                            <div class="customer-small">
                                <p>
                                    <span class='customer-title'> Instant Web Response Link</span></br>
                                    We can send your customers an email containing a link to a survey which they can fill out using their smartphone, tablet or computer.
                                </p>
                            </div>
                            <div class="customer-small">
                                <p>
                                    <span class='customer-title'> Exit Interviews</span></br>
                                    We can arrange for nominated stores to have one interviewer standing at the store exit for a total period of 4 hours. (10.30 – 12.30 break 13.00 – 1500hrs) The fully briefed interviewer will engage with as many shoppers as possible and ask for feedback on an agreed question set.

                                    <span class="show-more-btn" data-toggle="collapse" data-target="#collapse17"
                                          aria-expanded="false" aria-controls="collapse17">read more...</span><span class="collapse" id="collapse17">
                                        The surveys will be completed on tablets and submitted to Mystery Shoppers Ltd, we will upload all completed surveys to your web portal. Surveys can be personalized to include graphics and animations instead of just text, to maintain respondent focus and eliminate comprehension errors. (We recommend a small incentive is given for taking part - a prize draw for £xx.xx in store vouchers or perhaps 10% off their next purchase).
                                    </span>
                                </p>
                            </div>
                            <div class="customer-small">
                                <p>
                                    <span class='customer-title'> Paper-based surveys</span></br>
                                    We can run your paper-based customer surveys such as comment cards and postal surveys, providing a data entry service with periodic summary reports. We can provide feedback sheets for delegates at your conferences, validation and evaluation forms and reports for trainees on your courses.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingSeven">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                Other Services
                            </button>
                        </h2>
                    </div>
                    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionVisits">
                        <div class="card-body card-other">
                            <h3 class='col-12'>Other Services</h3>
                            <div class="other-small">

                                <p>
                                    <span class='other-title'>Benchmarking</span></br>
                                    Mystery Shopping data is most useful when seen in relative terms – a group of Branches in which the best score is 94% and the weakest 42% gives all Branches a good idea of where they are and what they need to be scoring in order to be doing well.
                                    <span class="show-more-btn" data-toggle="collapse" data-target="#collapse18"
                                          aria-expanded="false" aria-controls="collapse18">read more...</span><span class="collapse" id="collapse18">
                                        Many organisations use benchmarking to compare themselves with other similar organisations – or even dissimilar ones who share similar challenges. We achieve this by mystery shopping their competitors for them and then we use the results to compare against their stores and see how they compete. We would be able to use this method to compare prices of goods, levels of customer service, compliance to industry standards and many more.
                                    </span>
                                </p>
                            </div>
                            <div class="other-small">
                                <p>
                                    <span class='other-title'>Training & Consultancy Services</span></br>
                                    We find that workshops which feedback the results of the mystery shopping can help staff and managers review how they are seen by their customers and can agree what staff behaviour changes are needed. We always set out to include an action planning session with a mechanism for tracking how well the plans are put into practice.
                                </p>
                            </div>
                            <div class="other-small">

                                <p>
                                    <span class='other-title'>Business to Business</span></br>
                                    Very much depends upon the specific requirement but with a bit of ingenuity most things are possible.</br>
                                    We’ve simulated being bookies by having a racing tape playing behind the caller. We’ve pretended to be plastics specialists, facilities managers and air conditioning fitters, among many others.
                                    <span class="show-more-btn" data-toggle="collapse" data-target="#collapse19"
                                          aria-expanded="false" aria-controls="collapse19">read more...</span><span class="collapse" id="collapse19">
                                        We have a huge number of business-type email addresses, and some dummy websites. We even have genuine ‘dummy’ companies with their own websites, bank accounts, stationery etc.
                                        </br>We have on our database of mystery shoppers a large number of small business owners who are prepared to use their business name.
                                        </br>We relish a challenge – just give us a basic brief and we’ll be happy to give you an idea of how do-able it is, with no obligation to go any further unless you wish to.
                                    </span>
                                </p>
                            </div>
                            <div class="other-small">
                                <p>
                                    <span class='other-title'>Online Surveys</span></br>
                                    Having a database of over 260 000 mystery shoppers enables us to find out almost anything. We have been asked to collect emails sent by competitors, opinions on new products in waiting for launch and many other things that you would not expect from a mystery shopping company…..
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contentWrapper">
    <div class="container container6 customer" id="contain6">
        <div class="d-none d-xl-block row reporting-insights justify-content-center">
            <div class="col-10 offset-1">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-web_based-tab" data-toggle="tab" href="#nav-web_based" role="tab" aria-controls="nav-web_based" aria-selected="true">Web Based Reporting</a>
                        <a class="nav-item nav-link" id="nav-summary-tab" data-toggle="tab" href="#nav-summary" role="tab" aria-controls="nav-summary" aria-selected="false">Summary Reports</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active rounded-bottom" id="nav-web_based" role="tabpanel" aria-labelledby="nav-web_based-tab">
                        <img class="img-fluid" src="web/images/web_based.jpg" alt="web based reporting">
                    </div>

                    <div class="tab-pane fade rounded-bottom" id="nav-summary" role="tabpanel" aria-labelledby="nav-summary-tab">
                        <img src="web/images/summary.png" alt="Summary reports image" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        <div class="d-block d-xl-none row justify-content-center products_accordion mb-5">
            <div class="col-12">
                <h6>
                    Reporting Insights
                </h6>
            </div>
            <div class="accordion" id="accordionReports">
                <div class="card">
                    <div class="card-header" id="headingWeb">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseWeb" aria-expanded="true" aria-controls="collapseWeb">
                                Web Based Reporting
                            </button>
                        </h2>
                    </div>
                    <div id="collapseWeb" class="collapse" aria-labelledby="headingWeb" data-parent="#accordionReports">
                        <div class="card-body card-webbased">
                            <h3>Web Based Reporting</h3>
                            <div class="webbased-small">
                                <p class='text-justify'>
                                    <span class='webbased-title'></span></br>
                                    When your Mystery Shopping programme is up and running, all of your results will be available on your reporting portal.</br>
                                    You’ll be able to see and hear the experience as your customers do with the video or audio recordings captured by the shoppers.
                                </p>
                                <img src='web/images/webbased.png' class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingSummary">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSummary" aria-expanded="true" aria-controls="collapseSummary">
                                Summary Reports
                            </button>
                        </h2>
                    </div>
                    <div id="collapseSummary" class="collapse" aria-labelledby="headingSummary" data-parent="#accordionReports">
                        <div class="card-body card-summary">
                            <h3>Summary Reports</h3>
                            <div class="summary-small">
                                <p class='text-justify'>
                                    <span class='summary-title'>
                                        To complement your web-based reporting, our team of Data Analysts can create bespoke summary reporting in a range of different styles.
                                    </span></br>
                                </p>
                                <img src='web/images/summary1.png' class="img-fluid">
                                <img src='web/images/summary2.png' class="img-fluid">
                                <img src='web/images/summary3.png' class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    </div> @* end wrap div *@


@*</div>

    </div>*@


@*@CurrentPage.GetGridHtml("mainContent")*@



