﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ClientDependency.Core.Mvc;


@{
    Layout = null;








}




@Html.Partial("header")

@*@Html.Partial("navigation")*@

@*@Html.Partial("headerMenu")*@

@{
    var homeBgImage = Model.Content.GetPropertyValue("homePageBackgroundImage");
    var homeZoomedBgImage = Model.Content.GetPropertyValue("homePageZoomedBackgroundImage");
    IPublishedContent bgImageUrl = null;
    IPublishedContent bgZoomedImageUrl = null;
    var bgImageSrc = String.Empty;
    var bgZoomedBgImageSrc = String.Empty;

    if (homeBgImage != null)
    {
        bgImageUrl = Umbraco.TypedMedia(homeBgImage.ToString());
        if (bgImageUrl != null)
        {
            bgImageSrc = bgImageUrl.Url;
        }

    }

    if (homeZoomedBgImage != null)
    {
        bgZoomedImageUrl = Umbraco.TypedMedia(homeZoomedBgImage.ToString());
        if (bgZoomedImageUrl != null)
        {
            bgZoomedBgImageSrc = bgZoomedImageUrl.Url;
        }
    }
}

@*<div class="search-box-wrapper">
    <form action="/search/" method="GET" class="search-box">
        <input type="text" placeholder="Search..." name="query" class="form-control" aria-describedby="button-addon">
        <div class="input-group-append">
            <button class="btn" id="button-addon" aria-haspopup="true" aria-expanded="false" data-reference="parent"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
    </form>


    @{
        var searchQuery = Request.QueryString["query"];


        if (!string.IsNullOrEmpty(searchQuery))


        {
            <div class="dropdown-menu search-results" aria-labelledby="button-addon" id="search-dropdown">
                @foreach (var result in Umbraco.Search(searchQuery))
                {

                    if (result.DocumentTypeAlias != "tab" && result.DocumentTypeAlias != "footerMenuLink" && result.DocumentTypeAlias != "headerMenuLink" && result.DocumentTypeAlias != "footerColumn" && result.DocumentTypeAlias != "footerMenuLinks" && result.DocumentTypeAlias != "questionAndAnswer" && result.DocumentTypeAlias != "carouselSlide")
                    {
                        var dataId = result.Id;
                        var dataHref = result.UrlName;

                        if (dataId == 1054)
                        {
                            <a class="navbar-brand home-link-in-drop-down" href="@result.Url">@result.Name</a>
                        }
                        else
                        {
                            <a class="dropdown-item" href="@result.Url" data-id="@dataId" data-ng-href="@dataHref">@result.Name</a>
                        }

                    }
                }

            </div>


        }
    }

</div>*@
<div class="test">
    @*@Html.Partial("search")*@
    <div id="sectionContent">
        @RenderBody()

    </div>
    @*@RenderPage("Search.cshtml")*@
    @*@Html.Partial("footerMenu")*@

</div>

@*@Html.RequiresJsBundle("jquery")
    @Html.RequiresJsBundle("bootstrap")
    @Html.RequiresJsBundle("waypoints")
    @Html.RequiresJsBundle("main")*@


@Html.RenderJsHere()

@Html.Partial("footer")

