﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Section>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}

<div class="container homePage">
    @*@CurrentPage.GetGridHtml("sectionLayout")*@
    <h1>Content goes here</h1>
    @*@Html.Action("Index","SectionsSurface")*@
</div>