﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

@* the fun starts here  Created By Ivan*@

<div class="container">
<div class="row">
<div class="col-sm-10">
<p>In 1991, Paul Grafton, a certified Management Consultant who has always been passionate about customer service, discovered that he was able to provide his Clients with insight that would help improve their customer experience just as well using mystery shoppers, as if he assessed the experience himself. As long as he instructed the mystery shoppers to take the approach he would take, and answer questions designed to obtain the right feedback, mystery shopping was a way to increase the number of assessments he could take on and so Mystery Shoppers Ltd (MSL) was born.</p>
<p> </p>
<p>Paul moved the business from Berkshire to North Devon in 1998 and ran the company from a mobile home turned office. As Paul recruited a team, one mobile home grew to two, and two homes grew to three, and after the fourth one arrived it was decided the next move would be to an office in Holsworthy. In the 15 years that we have been here, we have grown from an office that would seat 16 to 70. Our global database of mystery shoppers is 260k and now Sophie Grafton, Paul's daughter, is the Managing Director. In addition to the administration office in Holsworthy, MSL has offices in London and Bulgaria as well as franchises in Myanmar, Botswana and Kenya.</p>
<p> </p>
<p>MSL now has over 28 years’ experience in mystery shopping and customer experience research covering the complete range of mystery shopping enquiries; calls; visits; emails; customer satisfaction; web enquiries; pricing evaluations; video and audio visits; focus groups and website evaluations. MSL specialises in using Mystery Shopping programmes to meet a variety of business objectives including customer experience improvement, competitor monitoring, price auditing and regulatory compliance.</p>
<p> </p>
<p id="infoBubble"><strong>Our mission is to be the first-choice provider of mystery customer experience research services in the UK. We aim to achieve this by using innovative research techniques and industry leading technology to deliver high quality, interpretable and actionable results at competitive prices.</strong></p>
</div>
<div class="col-sm-2" style="display: block; margin: auto;">
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
<div class="carousel-item active">
<p><img class="d-block w-100" src="/media/1005/888.jpg" alt="" data-udi="umb://media/f2aeb8af6f054f7da5e7e4eff417b13c" /></p>
</div>
<div class="carousel-item"><img src="/media/1066/high-quality.png" class="d-block w-100" alt="High quality" data-udi="umb://media/04d5847193304b55b68c72f2194cbe1e" /></div>
<div class="carousel-item"><img src="/media/1064/competitively-priced.png" class="d-block w-100" alt="Competitively priced" data-udi="umb://media/35eed66861794d4faffec697b10db720" /></div>