﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
	var homePage = Model.Content.Site().AncestorOrSelf(1);
}


<div class="container-sitemap">
	@if (homePage.Children.Where("Visible").Any())
	{
		var childPages = homePage.Children.Where("Visible")
			.Where(x => !x.Name.Contains("Menu") && !x.Name.Contains("Site"));

		<ul>
			<li style="list-style: none;" class="home">
				<a href="@homePage.Url"><h3><b>Home Page</b></h3></a>
				
			</li>


			

		</ul>
		@RenderChildPages(childPages)
	}

	@helper RenderChildPages(IEnumerable<IPublishedContent> pages)
	{
if(pages.Any())
{
	foreach(var page in pages.Where(x =>x.Name != "error" && x.Name != "Videos"))
	{
		var childCount = page.Children.Count();
		
		<ul>
			@if (childCount == 0 || page.DocumentTypeAlias == "scams" || page.DocumentTypeAlias == "caseStudies" || page.DocumentTypeAlias == "shopperNews")
			{
				<li style="list-style: none;"><a href="@page.Url"><h3><b>@page.Name</b></h3></a></li>
			}
			else
			{
				<li style="list-style: none;"><h3><b>@page.Name</b></h3>
					<ul>
						@foreach (var child in page.Children())
						{
							IPublishedContent mediaLink = null;
							var mediaId = -1;
							mediaId = child.GetPropertyValue<int>("contentLink");
							if(mediaId != -1)
							{
								mediaLink = Umbraco.TypedMedia(mediaId.ToString());
							}

							if (child.Parent.DocumentTypeAlias != "scams" && mediaLink == null)
							{
								<li><a href="@child.Url">@child.Name</a></li>
								

							}
							else
							{
								<li><a href="@mediaLink.Url" target="_blank">@child.Name</a></li>
							}
						}
					</ul>
				</li>
			}


		</ul>
}}}
</div>