﻿@model dynamic
@using Umbraco.Web.Templates


@if (Model.value != null)
{
    var buttonProperties = Model.value;

<a class="@buttonProperties.buttonClass" href="@buttonProperties.buttonLink" target="@buttonProperties.buttonTarget">
    <div style="background-color: #@buttonProperties.buttonColor" class="get-started  btn-new-1">
        <span style="color:#@buttonProperties.buttonTextColor">
            @buttonProperties.buttonName
            @*<a style="color:#@buttonProperties.buttonTextColor" class="@buttonProperties.buttonClass" href="@buttonProperties.buttonLink" target="@buttonProperties.buttonTarget">@buttonProperties.buttonName</a>*@
        </span>
    </div>
</a>
    

}
