﻿@model dynamic
@using Umbraco.Web.Templates


@if (Model.value != null)
{   
    var url = Model.value.image;

    <video width="100%" height="auto" controls>
        <source src="@url" type="video/mp4" />
    </video>

    
    
}
