﻿<div class="umb-editor-placeholder" ng-click="" ng-if="control.value === null">
    <i class="icon icon-list"></i>
    <div ng-id="!control.$inserted" class="help-text">Click to insert Bullet List</div>
</div>