﻿<div ng-controller="Msl.Grid.ButtonPropertiesController">
    <form name="buttonPropertyDialogForm" id="buttonPropertyDialogForm">

        <div class="umb-panel">
            <div class="umb-panel-body no-header umb-scrollable with-footer">
                <div class="umb-pane">
                    <h3>Button Link</h3>
                    <a ng-click="ChooseLink()">{{linkType}}</a>
                    <div class="buttonProperties" ng-show="hasLink">
                        <h3>Text Color</h3>
                        <umb-editor model="myProperty"></umb-editor>
                        <h3>Button Color</h3>
                        <umb-editor model="buttonBackground"></umb-editor>
                        <h3>Preview</h3>
                        <div style="text-align:center;margin-top:20px;background-color:#{{buttonBackground.value.value}}" ng-show="buttonProperties != null" class="get-started  btn-new-1">
                            <span style="line-height: 40px;">
                                <a ng-model="buttonProperties" style="color:#{{myProperty.value.value}}" class="{{buttonProperties.buttonClass}}">{{buttonProperties.buttonName}}</a>
                            </span>
                        </div>
                    </div>
                    
                    <!--<umb-control-group label="test">

    </umb-control-group>-->
                </div>
            </div>
            <!--<div class="umb-panel-footer">
                <div class="btn-toolbar umb-btn-toolbar ">
                    <a class="btn btn-link" ng-click="close()">
                        <localize key="cancel" />
                    </a>
                    <button type="submit" class="btn btn-primary">
                        <localize key="buttons_save">Save</localize>
                    </button>
                </div>
            </div>-->
        </div>
    </form>
</div>
