﻿<div ng-controller="Msl.Grid.ButtonController">
    <div class="umb-editor-placeholder" ng-click="openOverlay()" ng-if="control.value === null">
        <i class="icon icon-tab"></i>
        <div ng-id="!control.$inserted" class="help-text">Click to insert button</div>
    </div>

    <div ng-if="control.value">

        <div ng-model="buttonOptions" ng-click="openOverlay(buttonOptions)" style="text-align:center;background-color:#{{control.value.buttonColor}}" class="get-started  btn-new-1">
            <span ng-model="buttonOptions" style="{{control.value.buttonClass}}">
                <a ng-model="buttonOptions" style="color:#{{control.value.buttonTextColor}}" class="{{control.value.buttonClass}}">{{control.value.buttonName}}</a>
            </span>
        </div>

    </div>

    <umb-overlay ng-if="overlay.show"
                 model="overlay"
                 view="overlay.view"
                 position="right">
    </umb-overlay>

</div>
