<div ng-controller="Umbraco.PropertyEditors.Grid.MediaController">

	<div class="umb-editor-placeholder" ng-click="setImage()" ng-if="control.value === null">
		<i class="icon icon-picture"></i>
        <div ng-id="!control.$inserted" class="help-text"><localize key="grid_clickToInsertImage">Click to insert image</localize></div>
	</div>

	<div ng-if="control.value">

            <video width="100%" height="auto" ng-if="url" ng-click="setImage()">
                <source src="{{url}}" type="video/mp4" />

            </video>
        

		<!--<img
			ng-if="url"
			ng-click="setImage()"
			ng-src="{{url}}"
			class="fullSizeImage" />
        <input type="text" class="caption" ng-model="control.value.caption" localize="placeholder" placeholder="@grid_placeholderImageCaption" />-->
 	</div>

	<umb-overlay
		ng-if="mediaPickerOverlay.show"
		model="mediaPickerOverlay"
		view="mediaPickerOverlay.view"
		position="right">
	</umb-overlay>

</div>
