﻿@model dynamic
@using Umbraco.Web.Templates


@if (Model.value != null)
{   
    var url = Model.value.image;

    <video width="500" height="500" controls>
        <source src="@url" type="video/mp4" />
    </video>
    
}
