﻿<div class="containerDocument" ng-controller="mslIcons.MslIconsController">

    <div>
        <div ng-cloak class="mslSearchBoxContainer">
            <input type="text" ng-model="model.value.name" ng-change="selectIcon($event)" ng-click="ShowIconList()" placeholder="Icon Name" />
            <i style="font-size: 3rem" ng-show="showIcon" ng-model="selectedvalue" class="{{model.value.className}}"></i>
            <div class="mslSearchBox" ng-mouseleave="HideIconList()" ng-show="showSearchBox == true">
                <ul>
                    <li ng-repeat="icon in mslicons track by icon.name">
                    <a ng-model="iconSelected" ng-click="seticonnew($event)">{{icon.name}}</a>
                    </li>

                </ul>
            </div>
        </div>
        
        
        
        
        <!--<select ng-model="model.value" ng-change="seticon(icon)" ng-options="icon as icon.name for icon in mslicons track by icon.className"></select>-->

        <!--<i style="font-size: 3rem" ng-show="showIcon" ng-model="selectedvalue" class="{{selectedvalue.className}}"></i>-->
    </div>
    
    <!--<div>
        <button ng-click="GetIconList()">Get Icon List</button>
    </div>-->

    
</div>