﻿.mslSearchBoxContainer {
    width: 300px;
    height: auto;
    overflow-y: auto;
    overflow-x:hidden;
}

.mslSearchBox input[type=text]{
    width: 100%;
}

.mslSearchBox {
    width: 100%;
    height: 300px;
}

.mslSearchBox li {
    list-style-type:none;
    cursor: pointer;
    
}

.mslSearchBox ul li a {
    text-align: left;
 }

