﻿<div ng-controller="mslIcons.mslIconsController">
	<!--<select ng-model="model.value" ng-change="seticon()">
		<option value="Please Select">Please Select</option>
		<option value="fab fa-linkedin">Linked In</option>
		<option value="fab fa-youtube">Youtube</option>
	</select>-->

	<select ng-model="model.value" ng-change="seticon()" ng-options="icon.value as icon.text for icon in icons"></select>

	<i style="font-size: 3rem" ng-model="model.value" class="{{selectedIcon}}"></i>
	
</div>


